.fs {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 1080px;
  display: flex;
  position: relative;
}
.fs__images_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  top: 0;
  left: 0;
}
.fs__images_slide.dark {
  position: relative;
}
.fs__images_slide.dark::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.5);
  z-index: 1;
}
.fs__images_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.fs .container {
  flex-grow: 1;
  padding-top: 170px;
  padding-bottom: 76px;
}
.fs__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.fs__content.light .btn_slider {
  background: var(--clr-white-10);
}
.fs__content.light .btn_slider svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content.light .btn_slider:hover {
  background: var(--clr-white);
}
.fs__content.light .btn_slider:hover svg path {
  stroke: var(--clr-black);
  fill: none;
}
.fs__content.light .swiper-pagination-bullet {
  background: var(--clr-white);
}
.fs__content.light .btn_color {
  background: var(--clr-tag-festival);
  color: var(--clr-white);
}
.fs__content.light .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-festival-opacity);
}
.fs__content.light .date_xl, .fs__content.light .day {
  color: var(--clr-white);
}
.fs__content.light .fs__slide_desc {
  color: var(--clr-white);
}
.fs__content.light .tag_card {
  border: 1px solid var(--clr-white-40);
  color: var(--clr-white-40);
  transition: all 0.5s;
}
.fs__content.light .tag_card:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.fs__content_slider {
  width: 100%;
}
.fs__content_slider .swiper-nav {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  z-index: 10;
  gap: 12px;
}
.fs__content_slider .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_slider {
  background: var(--clr-white-10);
}
.fs__content_slider.light .btn_slider svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_slider:hover {
  background: var(--clr-white);
}
.fs__content_slider.light .btn_slider:hover svg path {
  stroke: var(--clr-black);
  fill: none;
}
.fs__content_slider.light .swiper-pagination-bullet {
  background: var(--clr-white);
}
.fs__content_slider.light .btn_color {
  background: var(--clr-tag-festival);
  color: var(--clr-white);
}
.fs__content_slider.light .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-festival-opacity);
}
.fs__content_slider.light .date_xl, .fs__content_slider.light .day {
  color: var(--clr-white);
}
.fs__content_slider.light .fs__slide_desc {
  color: var(--clr-white);
}
.fs__content_slider.light .tag_card {
  border: 1px solid var(--clr-white-40);
  color: var(--clr-white-40);
  transition: all 0.5s;
}
.fs__content_slider.light .tag_card:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.fs__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
}
.fs__slide_content {
  display: flex;
  height: 85%;
  flex-grow: 1;
  gap: 32px;
  justify-content: space-between;
}
.fs__slide_tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin-top: 6px;
}
.fs__slide_tags-abs {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.fs__slide_date {
  display: flex;
  line-height: 1.3;
  gap: 12px;
}
.fs__slide_date .day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  height: auto;
  font-size: 32px;
  line-height: 0.8;
}
.fs__slide .date_xl {
  line-height: 0.75;
}
.fs__slide_icon {
  margin-left: auto;
  margin-right: auto;
  height: 95%;
}
.fs__slide_icon img {
  height: 100%;
  object-fit: contain;
}
.fs__slide_bottom {
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: space-between;
}
.fs__slide_control {
  width: calc((100% - 45px) / 24 * 10);
  display: flex;
}
.fs__slide_desc {
  width: calc((100% - 45px) / 24 * 10);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}
.fs__slide_left {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc((100% - 32px) / 24 * 13);
  justify-content: space-between;
}
.fs__slide_info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-shrink: 0;
}
.fs__slide_info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fs__slide_info .tags {
  display: none;
}
.fs__slide_text {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.fs__slide_text .btn {
  margin-top: 64px;
}

.events {
  padding-top: 122px;
  padding-bottom: 160px;
}
.events__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.events__content_row {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 0;
}
.events__content_row::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 100%;
  background: rgb(219, 219, 219);
}
.events__content_row:last-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 100%;
  background: rgb(219, 219, 219);
}
.events__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 77px;
}
.events__title .h2 {
  width: 54.1666666667%;
}
.events__period {
  width: calc((100% - 32px) / 24 * 10);
}
.events__date {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: calc((100% - 64px) / 24 * 7);
  position: sticky;
  top: 2rem;
  margin-top: 1.875rem;
}
.events__date .date_xl {
  line-height: 0.75;
}
.events__date .day {
  line-height: 0.8;
  font-size: 2rem;
}
.events__list {
  width: 70.8333333333%;
}
.events__item {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.events__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(219, 219, 219);
  left: 0;
  top: 100%;
}
.events__item:first-child {
  padding-top: 0;
}
.events__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.events__item:last-child::after {
  display: none;
}
.events__item_top {
  display: flex;
  justify-content: space-between;
}
.events__item_control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.events__item_control_link {
  display: flex;
  width: calc((100% - 64px) / 17 * 6);
}
.events__item_control.top_control {
  display: none;
}
.events__item_preview {
  width: calc((100% - 64px) / 17 * 6);
  height: auto;
}
.events__item_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events__item_info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc((100% - 22px) / 17 * 10);
}
.events__item_desc {
  margin-top: auto;
}
.events__item_time {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.events__item_tags {
  width: calc((100% - 22px) / 17 * 10);
}
.events__more {
  margin-top: 2.5rem;
  display: flex;
}

.halls {
  height: 855px;
  overflow: hidden;
}
.halls__sliders {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.halls__slider_view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.halls__slider_images {
  width: 58.75%;
  flex-shrink: 0;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.halls__slider_images .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.halls__slider_images .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.halls__slider_desc {
  width: 33.3333333333%;
  margin: 0;
  position: relative;
}
.halls__slider_desc .swiper-nav {
  position: absolute;
  z-index: 10;
  right: 64px;
  bottom: 64px;
  display: flex;
  gap: 12px;
}
.halls__slider_desc .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.halls__slider_small {
  position: absolute;
  right: -50%;
  width: 19%;
  height: 28%;
  right: 0;
  transform: translateX(50%) translateY(-11%);
}
.halls__slide {
  width: 100%;
  padding: 84px 64px 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--clr-white);
}
.halls__slide_title {
  width: 75%;
}
.halls__slide_text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 62.5%;
}
.halls__slide_link {
  display: flex;
}

.pagination_tabs {
  display: flex;
  position: absolute;
  bottom: 62px !important;
  z-index: 10;
  backdrop-filter: var(--bg-filter-blur);
  width: auto !important;
  border-radius: 40px;
  left: auto !important;
  right: auto;
}

.news {
  padding-top: 216px;
  padding-bottom: 220px;
}
.news .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.news__slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  gap: 44px;
  padding: 2rem 0;
}
.news__slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: rgb(219, 219, 219);
}
.news__slide_date {
  display: flex;
  align-items: baseline;
  gap: 18px;
  margin-bottom: 28px;
}
.news__slide_date .text {
  line-height: 1.4;
}
.news__slide_desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__slide_text {
  margin-top: auto;
}
.news__slide_preview {
  height: 330px;
}
.news__slide_preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__more {
  margin-top: 2.125rem;
  display: flex;
}

.about {
  padding-bottom: 161px;
  position: relative;
  margin-bottom: 106px;
}
.about__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 110px;
}
.about__title .h3 {
  width: calc((100% - 32px) / 24 * 11);
}
.about__subtitle {
  width: calc((100% - 64px) / 24 * 8);
  font-size: 26px;
  line-height: 1.4;
}
.about__subtitle p {
  width: 90%;
}
.about__img {
  position: relative;
}
.about__img .dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.about__more {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: calc(100% - 36px);
  width: calc((100% - 64px) / 24 * 4);
}
.about__nums {
  position: absolute;
  width: 65%;
  left: 0;
  bottom: 0;
  transform: translateY(-25%);
  backdrop-filter: var(--bg-filter-blur);
  padding: 64px 64px 0;
  display: flex;
  justify-content: space-between;
}
.about__nums_item {
  display: flex;
  align-items: flex-start;
  width: 46%;
  gap: 40px;
}
.about__nums_item:nth-child(2n) {
  gap: 64px;
}
.about__nums .text {
  width: 120px;
}

.location {
  position: relative;
  min-height: 1068px;
  margin-bottom: 117px;
}
.location .container {
  overflow: hidden;
  z-index: 1;
}
.location__images_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.location__images_slide {
  position: relative;
}
.location__images_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.location__images_slide::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(16, 16, 16, 0.2);
}
.location__path {
  position: absolute;
  width: 100%;
  height: 135px;
  bottom: -3px;
  z-index: 2;
  left: 0;
  transform: translateX(0%);
}
.location__path_icon {
  width: 127.5520833333%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 1s;
}
.location__path_icon .sm_icon {
  display: none;
}
.location__path_icon svg {
  width: 100%;
  height: auto;
}
.location__content {
  position: relative;
  z-index: 10;
  padding: 175px 0;
  pointer-events: none;
}
.location__content_top {
  display: flex;
  gap: 2rem;
  margin-bottom: 28px;
}
.location__content_title {
  width: calc((100% - 32px) / 24 * 11);
}
.location__content_subtitle {
  font-size: 1.625rem;
  line-height: 1.4;
  width: calc((100% - 32px) / 24 * 6);
  margin-top: 10px;
}
.location__slides_navigation {
  position: absolute;
  z-index: 10;
  bottom: 4px;
  display: flex;
  align-items: flex-end;
  width: 54.8%;
  left: 35.5%;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}
.location__slides_icon {
  transform: translateX(21%);
  margin-bottom: 50px;
  pointer-events: all;
  color: rgb(242, 242, 242);
  display: flex;
}
.location__slides_icon .numbers_xl {
  line-height: 0.85;
}
.location__slides_icon .time {
  line-height: 1.1;
}
.location__slides_icon .text {
  line-height: 1.4;
  margin-left: 24px;
  white-space: nowrap;
  margin-top: 4px;
}
.location__slides_btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  backdrop-filter: var(--bg-filter-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
  transition: all 0.3s;
  pointer-events: all;
  flex-shrink: 0;
}
.location__slides_btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.location__more {
  width: calc((100% - 64px) / 24 * 5);
}
.location__more_link {
  pointer-events: all;
}
.location__ellipse {
  position: absolute;
  width: calc((100% - 45px) / 24 * 19);
  height: 0;
  padding-top: 66%;
  border-radius: 50%;
  border: 1px solid var(--clr-white-40);
  bottom: 0;
  transform: translateY(50%);
  z-index: 4;
  pointer-events: none;
  left: 64px;
}
.location__ellipse-sm {
  position: absolute;
  width: 47.9166666667%;
  height: 0;
  padding-top: 42.2%;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  bottom: 0;
  transform: translateY(50%);
  z-index: 4;
  pointer-events: none;
  left: 64px;
}