@media (max-width: 360px) {
  h1,
  .h1,
  .text-content h1 {
    font-size: 3.75rem;
  }
  h2,
  .h2,
  .text-content h2 {
    font-size: 2.5rem;
  }
  h3,
  .h3,
  .text-content h3 {
    font-size: 1.75rem;
  }
  h4,
  .h4,
  .text-content h4 {
    font-size: 1.75rem;
  }
  h5,
  .h5,
  .text-content h5 {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .numbers {
    font-size: 4rem;
  }
  .numbers_xl {
    font-size: 16.25rem;
  }
  .date_xl {
    font-family: var(--font-accent);
    font-size: 3rem;
    line-height: 1.3;
    letter-spacing: -3%;
  }
  .date {
    font-size: 2rem;
  }
  .time {
    font-size: 1rem;
  }
  .tag {
    font-size: 12px;
    padding: 3px 8px 4px;
  }
  .lead {
    font-size: 1.125rem;
  }
  .afisha {
    font-size: 0.875rem;
  }
  .main_font {
    font-size: 0.875rem;
  }
  .sm_font {
    font-size: 0.75rem;
  }
  .menu_font {
    font-size: 2.375rem;
  }
  .xs_font {
    font-size: 0.75rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 18px 28px;
  }
  .btn_slim {
    padding: 10px 24px;
  }
  .btn_menu {
    justify-content: center;
    width: 40px !important;
    height: 40px !important;
  }
  .btn_social {
    justify-content: center;
  }
  .btn_slider {
    width: 56px;
    height: 56px;
    padding: 0 !important;
    justify-content: center;
  }
  .link {
    font-size: 0.875rem;
  }
  label {
    font-size: 0.875rem;
  }
  .section {
    padding-left: 16px;
    padding-right: 16px;
  }
  .head {
    padding-left: 16px;
    padding-right: 16px;
  }
  .head .container {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .head__top {
    padding-bottom: 8px;
    border-width: 1px;
  }
  .head__bottom {
    padding-top: 8px;
  }
  .head__logo {
    height: 56px;
    margin-left: 0;
    margin-top: 8px;
  }
  .head__right {
    padding-left: 2px;
  }
  .head__right_content {
    border-width: 1px;
  }
  .head__left {
    padding-right: 2px;
  }
  .head__left_content {
    border-width: 1px;
    padding-bottom: 16px;
  }
  .head .col-2 {
    width: 33.3333333333%;
  }
  .head .col-5 {
    width: 33.3333333333%;
  }
  .foot .container {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .foot .menu_font {
    font-size: 2rem;
  }
  .foot__nav {
    width: 100%;
    margin-left: 0;
    max-width: none;
  }
  .foot__nav_list {
    flex-wrap: wrap;
    max-height: 65px;
    gap: 8px;
  }
  .foot__nav_link {
    font-size: 1.25rem;
  }
  .foot__contacts_phone {
    margin-right: 10px;
  }
  .foot__contacts_phone .nav-link {
    font-size: 0.875rem;
  }
  .foot .row {
    flex-direction: column;
    gap: 40px;
  }
  .foot .col-2, .foot .col-4, .foot .col-5 {
    width: 100%;
  }
  .foot .scls {
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .foot .scls__title {
    width: 100%;
    max-width: none;
    line-height: 1.4;
    font-size: 18px;
  }
  .foot__left_content {
    padding-top: 0px;
    padding-bottom: 14px;
    gap: 24px;
  }
  .foot__right_content {
    padding-top: 0px;
    padding-bottom: 16px;
    gap: 48px;
  }
  .foot__copy {
    padding-top: 18px;
  }
  .foot__copy .row {
    gap: 4px;
  }
  .foot__copy_nav {
    gap: 4px;
  }
  .foot__copy_nav_list {
    gap: 4px;
  }
  .foot__copy .afisha {
    font-size: 0.75rem;
  }
  .foot__copy_text {
    max-width: none;
  }
  .foot__email .menu-link {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .foot__email .menu-link .icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }
  .scroll_top .lg {
    display: none;
  }
  .scroll_top .sm {
    display: inline;
  }
  .mobile__head .container {
    padding-bottom: 0px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 8px;
  }
  .mobile__head .head__bottom {
    padding-top: 7px;
  }
  .mobile__head .head__bottom_sm {
    padding-bottom: 12px;
  }
  .mobile__head .head__bottom_sm .head__right {
    gap: 24px;
  }
  .mobile__nav {
    width: 100%;
    flex: 0 0 0;
  }
  .mobile__nav_title {
    font-size: 2rem;
    padding: 20px 0 19px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 36px;
  }
  .mobile__nav_list {
    gap: 28px;
    padding-bottom: 36px;
  }
  .mobile__nav_btn {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: 20px 0 19px;
  }
  .mobile__scls {
    gap: 8px;
  }
  .mobile__scls .btn {
    width: 48px !important;
    height: 48px !important;
  }
  .mobile__body_cols {
    margin-bottom: 56px;
  }
  .fs {
    max-height: 748px;
  }
  .fs .container {
    padding-top: 130px;
  }
  .fs__slide {
    gap: 20px;
  }
  .fs__slide_content {
    gap: 1rem;
  }
  .fs__slide_icon {
    order: 2;
  }
  .fs__slide_icon.sm_icon {
    margin-right: auto;
  }
  .fs__slide_tags {
    margin-top: 0px;
  }
  .fs__slide_info {
    gap: 1.5rem;
  }
  .fs__slide_preview {
    min-height: 165px;
  }
  .fs__slide_date {
    gap: 12px;
  }
  .fs__slide_date .day {
    font-size: 0.875rem;
  }
  .fs__slide_desc {
    margin-bottom: auto;
  }
  .fs__slide_text {
    margin-top: 24px;
  }
  .fs__slide_text .btn {
    margin-top: 12px;
    width: 100%;
  }
  .fs__slide_control {
    width: 100%;
    display: block;
  }
  .fs .swiper-nav {
    visibility: hidden;
  }
  .fs .swiper-pagination {
    visibility: visible;
  }
  .events {
    padding-top: 10px;
    padding-bottom: 63px;
  }
  .events__title {
    margin-bottom: 22px;
  }
  .events__title .h2 {
    font-size: 2rem;
    width: 100%;
  }
  .events__content_row {
    gap: 24px;
    padding-bottom: 25px;
  }
  .events__date {
    padding: 7px 0 11px;
  }
  .events__date .day {
    font-size: 1.25rem;
  }
  .events__item {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .events__item:first-child {
    padding-top: 0;
  }
  .events__item:last-child {
    padding-bottom: 0;
  }
  .events__item_top {
    height: auto;
    flex-direction: column;
  }
  .events__item_preview {
    order: 1;
    width: 100%;
  }
  .events__item_info {
    width: 100%;
    gap: 12px;
  }
  .events__item_desc {
    margin-top: 14px;
  }
  .events__item_control {
    display: none;
  }
  .events__item_control.top_control {
    display: flex;
    margin-top: 32px;
    margin-bottom: 18px;
  }
  .events__item_tags {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  .events__more {
    margin-top: 1rem;
    justify-content: center;
  }
  .events__more .btn {
    width: 216px;
  }
  .halls__slider_images {
    height: 320px;
  }
  .halls__slider_desc .swiper-nav {
    bottom: 40px;
    right: 16px;
  }
  .halls__slide {
    padding: 40px 16px;
    gap: 32px;
  }
  s .halls__slide_title {
    width: 75%;
  }
  .halls__slide_text {
    width: 83.3333333333%;
    gap: 3.5rem;
  }
}
@media (max-width: 350px) {
  .btn_social {
    width: 90px;
    height: 90px;
  }
}