.dark {
		color: var(--clr-white);
		background: var(--clr-black);

		// :root {
		// 	--font-accent: #fff;
		// }

		& a {
			color: var(--clr-white);

			&:hover {
				color: var(--clr-white-40);
			}
		}

		& .light_text {
			color: var(--clr-white-40);
		}
	
	& .btn {
		background: var(--clr-white-10);
		color: var(--clr-white);

		& svg path {
			fill: var(--clr-white);;
		}

		&:hover {
			color: var(--clr-gray);
			background: var(--clr-white);

			& svg path {
				fill: var(--clr-black);
			}
		}

		&_slider {
			& svg path {
				fill: none;
				stroke: var(--clr-white);
			}

			&:hover {
				color: var(--clr-gray);
				background: var(--clr-white);
	
				& svg path {
					fill: none;
					stroke: var(--clr-black);
				}
			}
		}

		&:disabled {
			border-color: var(--clr-white-20);
			color: var(--clr-white-20);
		}

		&_with-icon {
			gap: 10px;
			padding: 20px 24px 20px 32px;
			border-color: var(--clr-white-20);
	
			& svg {
				width: 19px;
				flex-shrink: 0;
			}

			&:hover {
				border-color: var(--clr-white);
			}
		}

		&_menu {

			& .line {
				background: var(--clr-white);
			}
		}

		&_tab {

			&.active {
				color: var(--clr-black);
			}
		}
	}

	& .link {
		color: var(--clr-white);

		&:hover {
			border-color: var(--clr-white);
		}
	}

	& label {
		color: var(--clr-white);
	
		& input[type=checkbox] {
	
			&:checked + span.checkbox {
				background: var(--clr-white);
				border-color: var(--clr-white);
	
				& svg {
					visibility: visible;
					opacity: 1;
				}
			}
		}

		&.label_text {
			&:hover {
				color: var(--clr-white);
				& input {
					border-color: var(--clr-white);
					&::placeholder {
						color: transparent;
					}
	
					&:focus {
						&::placeholder {
							color: var(--clr-white-40);
						}
					}
				}
			}
		}

		& input[type=radio] {
	
			&:checked + span.checkbox {
				background: var(--clr-white);
				border-color: var(--clr-white);
			}
		}

		& input[type=text], & input[type=email], & input[type=tel]  {
			border-color: var(--clr-white-40);
		}

		& span.placeholder {
			color: var(--clr-white-40);
		}
	
		& span.checkbox {
			border: 1px solid var(--clr-white-10);
			background: var(--clr-white-10);
	
			& svg {
				opacity: 0;
				visibility: hidden;
				transition: all .2s;

				& path {
					fill: var(--clr-white);
				}
			}
		}
	
		&:hover {
			& span.checkbox {
				border-color: var(--clr-white);
			}
		}
	
		&.disabled {
			color: var(--clr-white-10);
		}
	}

	& .tag {

		&_card {
			border-color: var(--clr-white-40);
		}
	}

	& .mobile {
		background: var(--clr-black);

		&__wave {

			& svg path {

				&:not(:last-child) {
					stroke: #FBFBFB;
				}

				&:last-child {
					fill: #101010;
				}
			}
		}
	}

	& .head{
		&__left .links__item svg path {
			stroke: #FBFBFB;
		}

		& .light-logo {
			display: flex;
		}

		& .dark-logo {
			display: none;
		}

		&__languages {
			color: var(--clr-white-40);

			& .dropdown{
				&__list {
					background: var(--clr-black);
				}

				&__item a{
					color: var(--clr-white-40);
				}
			}
		}
	}

	& .halls {

		&__slide {
			background: var(--clr-black);
		}
	}

	& .about {

		&__img {

			& .dark {
				opacity: 1;
			}
		}
	}

	& .location {
		&__path {

			&_icon {

				& svg path {
					fill: #101010;
				}
			}
		}
	}

	& .scls {

		&__title {
			color: var(--clr-white);
		}
	}

	& .scroll_top {

		& .icon {

			& svg path {
				fill: var(--clr-white);
			}
		}

		&_btn {
			width: 54px;
			height: 54px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			transition: all 0.5s;
			pointer-events: all;
	
			& svg path {
				fill: var(--clr-white);
				transition: all 0.5s;
			}
	
			&:hover {
				transform: translateY(-5px);
				& svg path {
					fill: var(--clr-black);
				}
	
				& + .icon svg {
					transform: scaleY(1.2);
					 & path {
						fill-opacity: 0.9 !important;
					}
				}
			}
		}
	}
}