// FS

.fs {
	width: 100%;
	height: 100%;

	&_index {
		min-height: 100vh;
		max-height: 1080px;

		& .container {
			flex-grow: 1;
			padding-top: 170px;
			padding-bottom: 76px;
		}
	}

	display: flex;
	position: relative;

	&__page-title {
		text-align: center;
		width: calc(100% / 24 * 15);
		text-align: center;
		margin: 0 auto;
	}

	&__page-subtitle {
		font-size: 1.625rem;
		line-height: 1.4;
		margin-top: 56px;
		width: calc(100% / 15 * 9);
		margin-left: auto;
		margin-right: auto;

		& .btn {
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__event-title {
		display: flex;
		align-items: baseline;
		justify-content: space-between;
		margin-top: 80px;
		margin-bottom: 64px;
	}

	&__date {
		width: calc((100% - 56px) / 12 * 3);
		gap: 16px !important;

		& .date {
			line-height: 0.8;
		}

		& .day {
			font-size: 22px !important;
		}
	}

	&__info {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 64px;

		&_btn {
			width: calc((100% - 56px) / 12 * 3);
			display: flex;
		}

		&_left {
			width: calc((100% - 16px) / 24 * 17);
			margin-left: -16px;
		}

		&_tags {
			margin-left: -16px;
		}

		&_time {
			padding-left: 46px;
			display: flex;
			align-items: center;
			gap: 15px;
			font-size: 1.125rem;

			& .icon {

				& svg {
					width: 20px;
					height: 20px;
				}
			}
		}
	}

	&__title {
		width: calc((100% - 12px) / 24 * 17);

		&.fs__title-sm {

			& .h2 {
				width: calc((100% - 12px) / 17 * 13);
			}
			
		}
	}

	&__images {

		&_slider {
			position: absolute;
			width: 100%;
			height: 100%;
			min-height: 600px;
			top: 0;
			left: 0;
		}

		&_slide {


			&.dark {
				position: relative;

				&::before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(16, 16, 16, 0.5);
					z-index: 1;
				}

			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	&__picture {
		// height: 800px;

		&_slider {

			& .swiper-nav {
				position: absolute;
				right: 42px;
				bottom: 42px;
				z-index: 10;

				& .btn_slider {
					background: var(--clr-white-20);

					& svg path {
						stroke: var(--clr-white);
					}

					&:hover {
						background: var(--clr-white-10);
					}
				}
			}
		}

		&_img {

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		}

		& .swiper-pagination {
			position: absolute;
			margin-top: 24px;
			visibility: hidden;
		}
	}

	& .container {
		flex-grow: 1;
		padding-top: 170px;
		padding-bottom: 48px;
	}

	&__content {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;

		&.light {
			& .btn_slider {

				background: var(--clr-white-10);

				& svg path {
					stroke: var(--clr-white);
					fill: none;
				}

				&:hover {
					background: var(--clr-white);

					& svg path {
						stroke: var(--clr-black);
						fill: none;
					}
				}



			}

			& .swiper-pagination-bullet {
				background: var(--clr-white);
			}

			& .btn {
				&_color {
					background: var(--clr-tag-festival);
					color: var(--clr-white);

					&:hover {
						color: var(--clr-black);
						background: var(--clr-tag-festival-opacity);
					}
				}
			}

			& .date_xl,
			& .day {
				color: var(--clr-white);
			}

			& .fs__slide_desc {
				color: var(--clr-white);
			}

			& .tag {

				&_card {
					border: 1px solid var(--clr-white-40);
					color: var(--clr-white-40);
					transition: all 0.5s;

					&:hover {
						color: var(--clr-white);
						border-color: var(--clr-white);
					}
				}
			}
		}

		&_slider {
			width: 100%;

			& .swiper-nav {
				position: absolute;
				display: flex;
				align-items: center;
				bottom: 0;
				right: 0;
				z-index: 10;
				gap: 12px;

				& .btn_menu {
					&:hover {

						& svg path {
							stroke: var(--clr-white);
							fill: none;
						}

					}
				}
			}

			&.light {
				& .btn_slider {

					background: var(--clr-white-10);

					& svg path {
						stroke: var(--clr-white);
						fill: none;
					}

					&:hover {
						background: var(--clr-white);

						& svg path {
							stroke: var(--clr-black);
							fill: none;
						}
					}



				}

				& .swiper-pagination-bullet {
					background: var(--clr-white);
				}

				& .btn {
					&_color {
						background: var(--clr-tag-festival);
						color: var(--clr-white);

						&:hover {
							color: var(--clr-black);
							background: var(--clr-tag-festival-opacity);
						}
					}
				}

				& .date_xl,
				& .day {
					color: var(--clr-white);
				}

				& .fs__slide_desc {
					color: var(--clr-white);
				}

				& .tag {

					&_card {
						border: 1px solid var(--clr-white-40);
						color: var(--clr-white-40);
						transition: all 0.5s;

						&:hover {
							color: var(--clr-white);
							border-color: var(--clr-white);
						}
					}
				}
			}


		}
	}

	&__slide {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 27px;

		&_content {
			display: flex;
			// height: 100%;
			height: 85%;
			flex-grow: 1;
			gap: 32px;
			justify-content: space-between;
		}

		&_tags {

			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 13px;
			margin-top: 6px;
		}

		&_tags-abs {
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
		}

		&_date {
			display: flex;
			// align-items: flex-start;
			line-height: 1.3;
			gap: 12px;

			& .day {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				white-space: nowrap;
				height: auto;
				font-size: 32px;
				line-height: 0.8;
			}
		}

		& .date_xl {
			// font-size: 6rem;
			line-height: 0.75;

		}

		&_icon {
			margin-left: auto;
			margin-right: auto;
			height: 95%;

			& img {
				height: 100%;
				object-fit: contain;
			}
		}

		&_bottom {
			display: flex;
			align-items: center;
			gap: 64px;
			justify-content: space-between;
		}

		// &_date {
		// 	width: calc((100%) / 24 * 13);
		// }

		&_control {
			width: calc((100% - 45px) / 24 * 10);
			display: flex;
		}

		&_desc {
			width: calc((100% - 45px) / 24 * 10);
			display: flex;
			flex-direction: column;
			height: auto;
			justify-content: space-between;
		}

		&_left {
			display: flex;
			flex-direction: column;
			height: auto;
			width: calc((100% - 32px) / 24 * 13);
			justify-content: space-between;
		}

		&_info {
			display: flex;
			flex-direction: column;
			gap: 28px;
			flex-shrink: 0;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			& .tags {
				display: none;
			}
		}

		&_text {
			max-width: 430px;
			display: flex;
			flex-direction: column;
			align-items: self-start;

			& .btn {
				margin-top: 64px;
			}
		}
	}
}

// EVENTS

.events {
	padding-top: 122px;
	padding-bottom: 160px;
	overflow: hidden;

	&__top {
		width: 100%;
		margin-bottom: 54px;
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;

		&_list {
			display: flex;
			border-radius: 50px;
			border: 1px solid rgb(16, 16, 16);

			&.dropdown {
				display: none;
				width: 420px;

				&__value {
					display: flex;
					align-items: center;
					justify-content: space-between;
					width: 100%;

					& svg {
						width: 14px;
					}
				}
			}
		}

		&_item {
			padding: 27px 32px 27px;
			border-radius: 50px;
			cursor: pointer;
			transition: all 0.5s;
			font-size: 1.375rem;
			line-height: 1.4;

			&.active {
				background: var(--clr-black-5);
				backdrop-filter: var(--bg-filter-blur);
			}

			&:hover {
				background: var(--clr-black-5);
				backdrop-filter: var(--bg-filter-blur);
			}

		}

		&_tools {
			display: flex;
			align-items: center;
			gap: 22px;
		}
	}

	&__excursion {
		margin-bottom: 96px;

		& .accordion__item:last-child:after {
			position: absolute;
			content: none;
			width: 100%;
			height: 1px;
			left: 0;
			top: 100%;
			background: rgb(219, 219, 219);
			align-items: center;
		}
	}

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;


		&_row {
			display: flex;
			align-items: flex-start;
			position: relative;
			gap: 2rem;
			justify-content: space-between;
			// border-top: 1px solid rgb(219, 219, 219);
			padding: 2rem 0;

			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				left: 0;
				bottom: 100%;
				background: rgb(219, 219, 219);
			}

			&:last-child {
				// border-bottom: 1px solid rgb(219, 219, 219);

				&::before {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					left: 0;
					top: 100%;
					background: rgb(219, 219, 219);
				}
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 77px;

		& .h2 {
			width: calc(100% / 24 * 13);
		}
	}

	&__period {
		width: calc((100% - 32px) / 24 * 10);
	}

	&__date {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		width: calc((100% - 64px) / 24 * 7);
		position: sticky;
		top: 2rem;
		margin-top: 1.875rem;
		transition: top 0.7s;

		& .date_xl {
			line-height: 0.75;
			// font-size: 6.25rem;
		}

		& .day {
			line-height: 0.8;
			font-size: 2rem;
		}
	}

	&__list {
		width: calc(100% / 24 * 17);
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 42px;
		padding-top: 40px;
		padding-bottom: 40px;
		// border-bottom: 1px solid rgb(219, 219, 219);
		position: relative;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: rgb(219, 219, 219);
			left: 0;
			top: 100%;
		}

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;

			&::after {
				display: none;
			}
		}

		&_top {
			display: flex;
			justify-content: space-between;
		}

		&_control {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			&_link {
				display: flex;
				width: calc((100% - 64px) / 17 * 6);
			}

			&.top_control {
				display: none;
			}
		}

		&_preview {
			width: calc((100% - 64px) / 17 * 6);
			height: auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			height: auto;
			width: calc((100% - 22px) / 17 * 10);
		}

		&_desc {
			margin-top: auto;
		}

		&_time {
			display: flex;
			align-items: baseline;
			gap: 12px;
		}

		&_tags {
			width: calc((100% - 22px) / 17 * 10);
		}

		&_title a {
			transition: all 0.5s;

			&:hover {
				color: var(--clr-black-40);
			}
		}
	}

	&__more {
		margin-top: 2.5rem;
		display: flex;
		justify-content: space-between;
	}

	&__pagination {
		display: flex;
		align-items: center;
		gap: 78px;

		&_list {
			display: flex;
			gap: 30px;
		}

		&_item {
			display: block;
			padding: 7px;
			font-size: 1.375rem;
			line-height: 1.4;
			color: var(--clr-black-40);
			transition: all 0.5s;

			&.active {
				color: var(--clr-black);
				pointer-events: none;
			}

			&:hover {
				color: var(--clr-black);
				cursor: pointer;
			}
		}
	}

	&__filter {
		width: 100%;
		overflow: hidden;
		height: auto;
		max-height: 0;
		transition: all 1s;
		position: relative;

		&.open {
			max-height: 622px;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				top: 0;
				background: rgb(219, 219, 219);
			}
		}

		&_form {
			padding: 2rem 0;
		}
	}

	& .festival {

		&__desc {
			padding-top: 84px;
			margin-bottom: 107px;

			&_title {
				margin-bottom: 74px;
			}
		}
	}
}

.filter {
	&__form {

		&_fields {
			display: flex;
			flex-direction: column;
		}

		&_field {
			padding: 40px 0;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				left: 0;
				top: 0;
				background: rgb(219, 219, 219);
			}

			& .title {
				font-size: 1.375rem;
				line-height: 1.4;
			}

			&_cols {
				display: flex;
				align-items: flex-end;
				gap: 24px;
				flex-wrap: wrap;
				// justify-content: space-between;
			}

			&_col {
				width: calc((100% - 52px) / 24 * 8);
				height: auto;
			}
		}

		&_submit {
			display: none;
		}

		&_dropdown {
			margin-top: 1rem;


		}

		& .dropdown {
			width: 100%;
			border-radius: 50px;
			padding: 20px;
			background: var(--clr-black-5);
			backdrop-filter: var(--bg-filter-blur);
			position: relative;

			&__value {
				display: flex;
				font-size: 1.375rem;
				line-height: 1.4;
				align-items: center;
				justify-content: space-between;

				& .values {
					display: flex;
					align-items: center;
					gap: 12px;
					flex-grow: 1;
					overflow: hidden;
				}

				& .value {
					display: flex;
					align-items: center;
					gap: 12px;
					padding: 5px 20px;
					border-radius: 28px;
					background: var(--clr-white);
					white-space: nowrap;

					& .icon {
						cursor: pointer;

						& svg path {
							transition: all 0.3s;
						}

						&:hover {

							& svg path {
								stroke-opacity: 1 !important;
							}
						}
					}
				}

				&>.icon {
					display: flex;
					width: 32px;
					height: 32px;
					align-items: center;
					justify-content: center;
				}
			}

			&__list {
				width: 100%;
				left: 50%;
				top: calc(100% + 10px);
				transform: translateX(-50%) translateY(-50px);
				padding: 20px;
				border-radius: 40px;
				background: var(--clr-black-5);
				backdrop-filter: var(--bg-filter-blur);
				font-size: 1.375rem;
				line-height: 1.4;
			}
		}

		&_slider {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			gap: 20px;
			font-size: 1.375rem;
			line-height: 1.4;
			padding: 25px 0;
			margin-top: auto;
		}
	}

	&__tags {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 16px 14px;
		margin-top: 40px;

		&_label {
			cursor: pointer;

			& input:checked+.tag {

				&_opera {
					background: var(--clr-tag-opera-opacity);
				}

				&_lectures {
					background: var(--clr-tag-lectures-opacity);
				}

				&_festival {
					background: var(--clr-tag-festival-opacity);

				}

				&_children {
					background: var(--clr-tag-children-opacity);
				}

				&_theaters {
					background: var(--clr-tag-theaters-opacity);
				}

				&_card {
					background: var(--clr-black-10);
				}
			}
		}
	}
}

.calendar {

	&__form {

		&_control {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 1.5rem;
		}

		&_events {
			display: flex;
			align-items: center;
			gap: 20px;
		}
	}

	&__months {
		display: flex;
		align-items: center;
		width: 240px;
		gap: 10px;

		&_slide {
			text-align: center;
		}

		& .swiper_prev,
		& .swiper_next {
			width: 24px;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			flex-shrink: 0;

			& svg path {
				transition: all .5s;
			}

			&:hover {

				& svg path {
					stroke-opacity: 0.4;
				}
			}
		}
	}

	&__weekdays {
		width: 100%;
		display: grid;
		padding: 0.5rem 0;
		grid-template-columns: repeat(7, 1fr);
		grid-gap: 1rem;
	}

	&__days {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(7, 1fr);
		grid-template-rows: repeat(5, 1fr);
		grid-gap: 1.25rem 1rem;
	}

	&__day {
		padding-top: 1rem;
		border-top: 1px solid rgb(219, 219, 219);
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		cursor: pointer;
		transition: all .5s;

		&:hover {
			color: var(--clr-black-40);
		}

		&.no_events {
			color: rgb(219, 219, 219);
		}


		& .events_num {
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: var(--clr-black-5);
			display: flex;
			align-items: center;
			justify-content: center;
			flex-shrink: 0;
			transition: all .5s;

			&.active {
				// background: var(--clr-black);
				// color: var(--clr-white);
			}
		}

		& input:checked+.events_num {
			background: var(--clr-black);
			color: var(--clr-white);
		}
	}
}

// FESTIVAL

.festival {
	margin-bottom: 56px;

	&__slider {
		position: relative;

		& .swiper-nav {
			position: absolute;
			right: 32px;
			bottom: 32px;
			z-index: 10;

			& .btn_slider {
				background: var(--clr-white-20);

				& svg path {
					stroke: var(--clr-white);
				}

				&:hover {
					background: var(--clr-white-10);
				}
			}
		}


	}

	& .swiper-pagination {
		position: absolute;
		margin-top: 1.375rem;
		visibility: hidden;
	}

	&__slide {

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__desc {
		padding: 70px 0 56px;

		&_title {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			width: calc((100% - 32px) / 24 * 15);
			gap: 40px;
			margin: 0 auto 48px;


		}

		&_text {
			width: calc((100% - 32px) / 24 * 12);
			margin-left: auto;

			& p {

				&:not(:last-child) {
					margin-bottom: 1.5rem;
				}
			}
		}

		&_more {
			margin-top: 56px;
		}
	}
}

.title_l {
	width: calc((100% - 32px) / 24* 18) !important;
}

.title_xl {
	width: calc((100% - 32px) / 24* 22) !important;
}

// EVENT

.event {
	padding-top: 32px;
	padding-bottom: 64px;

	& .events__festival {
		width: 100%;
	}

	& .container {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	& .festival {
		width: 100%;
	}

	&__aside {
		padding-top: 30px;
		display: flex;
		flex-direction: column;
		gap: 58px;
		position: sticky;
		top: 0;
		width: calc((100% - 105px) / 12 * 3);

		&_title {

			& .h3 {
				margin-bottom: 16px;
			}
		}

		&_date {
			padding-bottom: 42px;
			border-bottom: 1px solid rgb(219, 219, 219);
			gap: 16px !important;
			display: flex;

			& .date {
				line-height: 0.8;
			}

			& .day {
				font-size: 22px !important;
			}
		}
	}

	&__content {
		width: calc((100% - 12px) / 24 * 17);
	}

	&__share {

		&_control {
			display: flex;
			gap: 10px;

			&>.btn_slider {
				// background: var(--clr-white);

				&:hover {
					// background: var(--clr-black-5);

					& svg path {
						fill: var(--clr-white);
						stroke: none;
					}
				}
			}
		}

		&_title {
			margin-bottom: 2rem;
		}

		&_list {
			display: flex;
			border-radius: 50px;
			border: 1px solid rgb(16, 16, 16);
			gap: 10px;
		}

		&_item {
			background: var(--clr-white);

			&:hover {
				background: var(--clr-black-5);

				& svg path {
					fill: var(--clr-black);
					stroke: none;
				}
			}
		}



		& .btn {

			& svg {
				width: 22px;
				height: 22px;
			}
		}
	}

	&__calendar_btn {
		margin-top: 256px;
	}

	&__title {
		display: flex;
		align-items: baseline;
		padding-bottom: 2rem;
		position: relative;
		justify-content: space-between;
		gap: 2rem;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			top: 100%;
			background: rgb(16, 16, 16);
		}
	}

	&__subtitle {
		width: calc((100% - 24px) / 17 * 11.5);
	}

	&__section {

		&_row {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 2rem 0;
			position: relative;
			gap: 2rem;


			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				left: 0;
				top: 100%;
				background: rgb(219, 219, 219);
			}
		}

		&_col {
			width: calc((100% - 24px) / 17 * 11.5);
		}

		&_item {
			position: relative;

			&:not(:last-child) {
				padding-bottom: 1.5rem;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					left: 0;
					top: 100%;
					background: rgb(219, 219, 219);
				}
			}

			&:last-child {
				padding-top: 1.5rem;
			}

			&:first-child {
				padding-top: 0;
			}
		}
	}

	&__desc {
		padding: 85px 0;
		position: relative;

		&::after {
			position: absolute;
			content: "";
			width: 100%;
			height: 1px;
			left: 0;
			top: 100%;
			background: rgb(16, 16, 16);
		}
	}

	&__person {

		&_slider {

			&_control {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 1.5rem;
			}
		}

		& .swiper-pagination {
			position: absolute;
			margin-top: 1.375rem;
		}

		&_content {
				padding-top: 16px;

				&:not(:last-child){
				padding-bottom: 98px;}

				&:first-child {
					padding-top: 0;
				}
	
			& .text_content {
				padding: 0px 0 30px;
				width: calc(100% / 17 * 13);
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				&.text_content_sm {
					width: calc(100% / 17 * 12);
				}
	
				& div {

					&:not(:last-child) {
						margin-bottom: 84px;
					}
					
				}

				& svg.mark {
					margin-bottom: 24px;
					width: 64px;
					height: 50px;
				}

				& h2 {
					margin-bottom: 26px;
					// margin-top: 24px;
				}
	
				& h5 {
					margin-bottom: 2rem;
					margin-top: 64px;
				}
	
				& p {
					line-height: 1.4;

					&:not(:last-child) {
						margin-bottom: 1rem;
					}
				}
	
				& h3 {
					margin-bottom: 24px;
					margin-top: 24px;
				}

				& ul, & ol {
					margin-top: 40px;
					// margin-bottom: 40px;

					& p {
						margin-bottom: 24px;
					}
				}

				& li {

					&:not(:last-child) {
						margin-bottom: 16px;
					}
				}
			}

			&_table {
				overflow: auto;
				margin-bottom: 84px;
		
				& table {
					min-width: 480px;
				}

				&::-webkit-scrollbar {
					height: 1px; /* Ширина всего элемента навигации */
					background-color: rgb(216, 216, 216);
				 }

				 &::-webkit-scrollbar-thumb {
					background-color: rgb(16, 16, 16);
					// border-radius: 9em;
					// box-shadow: inset 1px 1px 10px #f3faf7;
			  }
			}

			& table {
				
			}

			& .event__section_col {
				width: calc((100% - 28px) / 17* 10);
		  }
		}

		&_nums {
			display: flex;
			gap: 24px;
			margin-top: 56px;
		}

		&_num	{
			width: calc((100% - 32px) / 17 * 6);
		}

		&_video {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			// &::before {
			// 	content: ;
			// }

			& .btn {
				position: absolute;
			}
		}

	}

	& .events {

		&__top {
			margin-bottom: 80px;
		}
	}
}

// ACCORDION

.accordion {

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__item {
		position: relative;
		padding: 45px 0;
		border-bottom: 1px solid rgb(219, 219, 219);

		// &::after {
		// 	position: absolute;
		// 	content: "";
		// 	width: 100%;
		// 	height: 1px;
		// 	left: 0;
		// 	top: 100%;
		// 	background: rgb(219, 219, 219);
		// }

		&.active {

			& .accordion__title .btn_slider {
				background: var(--clr-black);

				& .line {
					background: var(--clr-white);

					&:last-child {
						transform: rotate(0);
					}
				}
			}

			& .accordion__content {
				max-height: 2000px;
			}
		}

	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__content {
		height: auto;
		max-height: 0;
		overflow: hidden;
		transition: all 1s;

		&_desc {
			padding-top: 45px;
		}

		& .text_content {
			padding: 82px 0 30px;
			width: calc(100% / 17 * 12);
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			& > div {

				&:not(:last-child){
				margin-bottom: 84px;}
			}

			& h5 {
				margin-bottom: 2rem;
				margin-top: 64px;
			}

			& p {
				line-height: 1.6;
			}


		}
	}


}

// HALLS

.halls {
	height: 855px;
	overflow: hidden;

	&__sliders {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
	}

	&__slider {

		&_view {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;

		}

		&_images {
			width: calc(1128 / 1920 * 100%);
			flex-shrink: 0;
			height: 100%;
			margin-right: 0;
			margin-left: 0;
			display: flex;
			justify-content: center;

			& .swiper-slide {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&_desc {
			width: calc(640 / 1920 * 100%);
			margin: 0;
			position: relative;

			& .swiper-nav {
				position: absolute;
				z-index: 10;
				right: 64px;
				bottom: 64px;
				display: flex;
				gap: 12px;

				& .btn_menu {
					&:hover {

						& svg path {
							stroke: var(--clr-white);
							fill: none;
						}

					}
				}
			}
		}

		&_small {
			position: absolute;
			right: -50%;
			width: 19%;
			height: 28%;
			right: 0;
			transform: translateX(50%) translateY(-11%);
		}
	}

	&__slide {
		width: 100%;
		padding: 84px 64px 64px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: var(--clr-white);

		&_title {
			width: calc(100% / 8 * 6);
		}

		&_text {
			display: flex;
			flex-direction: column;
			gap: 60px;
			width: calc(100% / 8 * 5);
		}

		&_link {
			display: flex;
		}
	}

	& .dropdown {
		position: absolute;
		bottom: 62px !important;
		z-index: 10;
		backdrop-filter: var(--bg-filter-blur);
		// width: auto !important;
		width: calc(100% - 128px) !important;
		border-radius: 40px;
		left: auto !important;
		right: auto;
		// transform: translateX(-50%);

		&__list {
			position: static;
			visibility: visible;
			opacity: 1;
			transform: translate(0);
		}

		&__value {
			display: none;
		}
	}
}

.pagination {

	&_tabs {
		display: flex;
		width: 100%;
		position: static;
		// position: absolute;
		// bottom: 62px !important;
		// z-index: 10;
		// backdrop-filter: var(--bg-filter-blur);
		// // width: auto !important;
		// width: calc(100% - 128px) !important;
		// border-radius: 40px;
		// left: auto !important;
		// right: auto;
		// left: 50% !important;
		// transform: translateX(-50%);

		& .before {
			// content: "";
			position: absolute;
			background: #fff;
			width: 30%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: -1;
			border-radius: 73px;
			transition: left 0.5s;
		}
	}

	& .btn_tab {
		flex-grow: 1;

		&:last-child {
			flex-grow: 0;
		}
	}
}

// NEWS

.news {
	padding-top: 216px;
	padding-bottom: 220px;

	& .swiper-nav {


		& .btn_menu {
			&:hover {

				& svg path {
					stroke: var(--clr-white);
					fill: none;
				}

			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 64px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		position: relative;
		height: auto;
		gap: 44px;
		padding: 2rem 0;
		// border-top: 1px solid rgb(219, 219, 219);

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			left: 0;
			top: 0;
			background: rgb(219, 219, 219);
		}

		&_date {
			display: flex;
			align-items: baseline;
			gap: 18px;
			margin-bottom: 28px;

			& .text {
				line-height: 1.4;
			}
		}

		&_desc {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&_text {
			margin-top: auto;

			& a {
				transition: all .5s;

			&:hover {
				color: var(--clr-black-40) !important;
			}
			}
			
		}

		&_link {
			display: flex;
			justify-content: flex-end;
		}

		&_preview {
			height: 330px;
			overflow: hidden;
			isolation: isolate;
			position: relative;

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: var(--clr-black-40);
				opacity: 0;
				transition: all .5s;
				z-index: 1;
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all .5s;
			}

			&:hover {
				& img {
					transform: scale(1.05);
				}

				&::before {
					opacity: 1;
				}
			}
		}
	}

	&__more {
		margin-top: 2.125rem;
		display: flex;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(431px, 1fr));
		grid-gap: 24px;

		& .news__slide {
			padding: 2rem 0 2.125rem;
		}
	}

	&__slider {

		&_cont {
			position: relative;

			& .swiper-pagination {
				// position: relative;
			}
		}
	}
}

// ABOUT

.about {
	padding-bottom: 161px;
	position: relative;
	margin-bottom: 106px;
	overflow: hidden;

	&__title {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 110px;

		& .h3 {
			width: calc((100% - 32px) / 24 * 11);
		}
	}

	&__subtitle {
		width: calc((100% - 64px) / 24 * 8);
		font-size: 26px;
		line-height: 1.4;

		& p {
			width: 90%;
		}
	}

	&__img {
		position: relative;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .dark {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&__more {
		// display: flex;
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: calc(100% - 36px);
		width: calc((100% - 64px) / 24 * 4);
	}


	&__nums {
		position: absolute;
		width: calc(1248 / 1920 * 100%);
		left: -64px;
		bottom: 0;
		transform: translateY(50%);
		backdrop-filter: var(--bg-filter-blur);
		padding: 64px 64px 0;
		display: flex;
		justify-content: space-between;

		&.w-auto {
			width: auto;
		}

		&_item {
			display: flex;
			align-items: flex-start;
			width: 46%;
			gap: 40px;

			&:nth-child(2n) {
				// justify-content: center;
				gap: 64px;
			}

		}

		& .text {
			width: 120px;
		}
	}

	&__desc {
		margin-top: 185px;
		display: flex;
		padding: 56px 0;
		gap: 32px;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgb(219, 219, 219);
		}

		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgb(219, 219, 219);
		}

		&_more {
			display: flex;
			margin-top: 32px;
		}

		&_col {
			width: calc((100% - 16px) / 24 * 12);
			display: flex;
			flex-direction: column;
		}

		&_num {
			padding: 56px 0;
			border-bottom: 1px solid rgb(219, 219, 219);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		&_text {
			width: calc(100% / 12 * 11);
		}

		&_img {
			margin-top: auto;
			width: calc((100% - 32px)/ 12 * 8);
			height: auto;
			margin-left: auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_text {

			& p {

				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
	}

	&__sliders {

		&_top {
			display: flex;
			// align-items: center;
			justify-content: space-between;
			margin-bottom: 80px;
		}

		&_tabs {
			overflow: visible;
		}
		&_tab {
			background: var(--clr-white);

			& .organ__title {
				width: calc(100% / 24 * 16);
				margin-bottom: 46px;
			}

			&:not(.swiper-slide-active) {
				overflow: hidden;
				opacity: 0 !important;
				position: absolute;
				z-index: -1;
				top: 0;
			}

			& .swiper-slide {
				pointer-events: auto !important;
			}
 
		 & .about__desc {
			margin-top: 0px;
 
			 &::after {
				 display: none;
			 }
		 }
		}
	}

	&__slider {
		margin-top: 18px;
		overflow: visible;

		// max-height: 800px;

		& .swiper-wrapper {
			align-items: flex-end;
			// max-height: 693px;
	  	}

		& .swiper-slide {
			max-height: 900px;
		}
	}

	&__sheme {
		width: 100%;
		height: auto;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	& .festival {

		&__desc {
			padding-top: 112px;
			padding-bottom: 82px;

			&_title {
				width: calc((100% - 32px) / 24* 11);
				margin-bottom: 80px;

				&.title_l {
					width: calc((100% - 32px) / 24* 18);
				}
			}

			&_text {
				padding-right: 44px;
			}
		}
	}

	&__aside {
		border-top: 1px solid rgb(219, 219, 219);
		padding-top: 24px;
		width: calc((100% - 100px) / 24 * 6);

		& .about__desc_num {
			border-bottom: none;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__accordion {
		border-top: 1px solid rgb(219, 219, 219);

		& .text_content {
			padding-top: 0 !important;
		}

		&_more {
			display: flex;
			flex-wrap: wrap;
			gap: 48px;
			margin-top: 40px;
		}
	}
}

// DECRIPTION

.description {
	overflow: hidden;
	padding-top: 32px;

	& .festival__desc_title {
		width: calc((100% - 32px) / 24* 18);
		gap: 60px;
	}

	&__sliders {
		margin-top: 42px;
	}

	&__slider {
		overflow: visible;

		& .swiper-wrapper {
			align-items: flex-end;
		}

		& .swiper-slide {
			max-height: 1000px;
		}

		&_control {
			margin-top: 28px;
			display: flex;
			justify-content: space-between;
		}

		&_tabs {
			display: flex;
			border: 1px solid rgb(16, 16, 16);
			border-radius: 60px;
			position: relative;
			// backdrop-filter: blur(74px);

			& .before {
				// content: "";
				position: absolute;
				background: var(--clr-black-5);
				width: 50%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 0;
				border-radius: 73px;
				transition: left 0.5s;
				pointer-events: none;
			}
		}
	}

	&__slide {
		height: auto;
		overflow: hidden;
		isolation: isolate;
		// max-height: 693px;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

// LOCATION

.location {
	position: relative;
	min-height: 1068px;
	margin-bottom: 117px;

	& .container {
		// position: relative;
		overflow: hidden;
		z-index: 1;
	}

	&__images {

		&_slider {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	left: 0;
			// 	z-index: 1;
			// 	background: rgba(16, 16, 16, 0.2);
			// }
		}

		&_slide {
			position: relative;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				background: rgba(16, 16, 16, 0.2);
			}
		}
	}


	&.tour {

		& .location {

			&__slides {

				&_navigation {
					justify-content: center;
				}

				&_icon {
					margin-bottom: -26px;
					transform: translateX(5%);
				}
			}

			&__content {

				&_subtitle {
					width: calc((100% - 32px) / 24* 9);
			  }}

			  &__ellipse {
				position: absolute;
				width: calc((100% - 47px) / 24* 19);
				height: 0;
				padding-top: 66%;
				border-radius: 50%;
				border: 1px solid var(--clr-white-40);
				bottom: 0;
				transform: translateY(50%) translateX(-51%);
				z-index: 4;
				pointer-events: none;
				left: 50%;
		
				&-sm {
					position: absolute;
					width: calc((100% - 0px) / 24* 8);
					height: 0;
					padding-top: 33%;
					border-radius: 50%;
					border: 1px solid var(--clr-white);
					bottom: 0;
					transform: translateY(37%) translateX(-50%);
					z-index: 4;
					pointer-events: none;
					left: 50%;
				}
			}
		}
	}

	&__path {
		position: absolute;
		width: 100%;
		// overflow: hidden;
		height: 135px;
		bottom: -3px;
		z-index: 2;
		left: 0;
		transform: translateX(0%);

		&_icon {
			width: calc(2449 / 1920 * 100%);
			position: absolute;
			// height: 100%;
			bottom: 0;
			left: 0;
			transition: all 1s;
			z-index: 5;

			& .sm_icon {
				display: none;
			}

			& svg {
				width: 100%;
				height: auto;
			}
		}


	}

	&__content {
		position: relative;
		z-index: 10;
		padding: 175px 0;
		pointer-events: none;

		&_top {
			display: flex;
			// justify-content: space-between;
			gap: 2rem;
			margin-bottom: 28px;
		}

		&_title {
			width: calc((100% - 32px) / 24 * 11);
			;
		}

		&_subtitle {
			font-size: 1.625rem;
			line-height: 1.4;
			width: calc((100% - 32px) / 24 * 6);
			margin-top: 10px;
		}
	}

	&__slides {

		&_navigation {
			position: absolute;
			z-index: 10;
			bottom: 4px;
			display: flex;
			align-items: flex-end;
			width: 54.8%;
			left: 35.5%;
			justify-content: space-between;
			z-index: 10;
			pointer-events: none;
		}

		&_icon {
			transform: translateX(21%);
			margin-bottom: 50px;
			pointer-events: all;
			color: rgb(242, 242, 242);
			display: flex;

			& .numbers_xl {
				line-height: 0.85;
			}

			& .time {
				line-height: 1.1;
				// margin-left: 10px;
			}

			& .text {
				line-height: 1.4;
				margin-left: 24px;
				white-space: nowrap;
				margin-top: 4px;
			}
		}



		&_btn {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			backdrop-filter: var(--bg-filter-blur);
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			isolation: isolate;
			transition: all 0.3s;
			pointer-events: all;
			flex-shrink: 0;
			cursor: pointer;

			&:last-child {
				overflow: visible;
			}

			& img {
				width: 100%;
				height: auto;
				max-height: 100%;
				object-fit: cover;
				object-position: top;
				transition: all 0.3s;
			}

			&:hover {

				& img {
					max-height: 150%;
				}
			}
		}
	}

	&__more {
		width: calc((100% - 64px) / 24 * 5);

		&_link {
			pointer-events: all;
		}
	}

	&__ellipse {
		position: absolute;
		width: calc((100% - 45px) / 24 * 19);
		height: 0;
		padding-top: 66%;
		border-radius: 50%;
		border: 1px solid var(--clr-white-40);
		bottom: 0;
		transform: translateY(50%);
		z-index: 4;
		pointer-events: none;
		left: 64px;

		&-sm {
			position: absolute;
			width: calc(920/ 1920 * 100%);
			height: 0;
			padding-top: 42.2%;
			border-radius: 50%;
			border: 1px solid var(--clr-white);
			bottom: 0;
			transform: translateY(50%);
			z-index: 4;
			pointer-events: none;
			left: 64px;
		}
	}
}

// HISTORY

.history {
	padding-top: 160px;
	padding-bottom: 48px;

	&__sliders {
		display: flex;
		gap: 3.375rem 2rem;
		flex-wrap: wrap;
	}

	&__desc {
		height: auto;
		width: calc((100% - 32px) / 24 * 12);
		display: flex;
		flex-direction: column;

		&_slider {
			width: 100%;
			margin: 0;
		}

		& .swiper-nav {
			margin-top: auto;
		}

		&_slide {
			padding: 56px 76px 32px 0;
			background: var(--clr-white);

			&_content {
				width: calc(100% / 12 * 9);

				& p:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}

		&_title {
			margin-bottom: 212px;
		}
	}

	&__images {

		&_slider {
			width: calc((100% - 32px) / 24 * 12);
			margin: 0;
		}

		&_slide {
			height: auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom;
			}
		}
	}

	&__dates {
		width: 100%;
		position: relative;

		& .swiper-nav {
			position: absolute;
			bottom: 0;
			right: 0;
			visibility: hidden;
			opacity: 0;
		}

		&_slider {
			overflow: hidden;
		}

		&_slide {
			padding-top: 20px;
			border-top: 1px solid rgb(219, 219, 219);
			cursor: pointer;

			& .numbers_sm {
				transition: all .5s;
			}

			&:hover {

				color: var(--clr-black-40);
			}

			&.swiper-slide-thumb-active {
				border-color: rgb(16, 16, 16);
			}
		}
	}
}

//  MISSION

.mission {
	padding-top: 46px;
	padding-bottom: 128px;

	&__tag {
		display: flex;

		& p {
			margin: 0 auto 32px;
			padding: 7px 16px;
			border: 1px solid rgb(219, 219, 219);
			border-radius: 40px;
			font-size: 18px;
			font-weight: 400;
			line-height: 140%;
			color: rgba(0, 0, 0, 0.4);
		}
	}

	&__title {
		text-align: center;
		width: calc(100% / 24 * 20);
		margin: 0 auto 80px;
	}

	& .text_content {

		& p:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__image {
		position: relative;
		margin-top: 80px;

		&_content {
			position: absolute;
			padding: 60px 0;
			width: calc(100% / 24 * 8);
		}

		& img {
			width: 100%;
			// height: 693px;
			object-fit: cover;
		}
	}
}

// ORGAN

.organ {
	padding-top: 160px;
	padding-bottom: 78px;

	&__title {
		margin-bottom: 64px;
	}

	& .about__desc {
		margin-top: 0;

		&_col {

			&:last-child {
				padding-right: 44px;
			}
		}
	}
}

// AWARDS

.awards {
	padding-top: 83px;
	padding-bottom: 86px;

	&__slide {

		&_top {
			display: flex;
			gap: 2rem;
		}

		&_date {
			width: calc(100% / 8 * 3);
		}

		&_logo {
			flex-grow: 1;
			height: 160px;
			display: flex;

			& img {
				// width: auto;
				height: 100%;
				object-fit: contain;
				margin-left: auto;
				object-position: right top;
			}

		}

		&_preview {
			width: 90%;
		}
	}
}

// NAVIGATION

.navigation {
	padding-top: 132px;
	padding-bottom: 32px;

	&__title {
		margin-bottom: 48px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__list {
		display: flex;
		gap: 2rem;
	}

	&__item {
		width: calc((100% - 64px) / 24 * 8);
		height: auto;
		display: flex;
		flex-direction: column;
		gap: 64px;
		border-top: 1px solid rgb(219, 219, 219);
		border-bottom: 1px solid rgb(219, 219, 219);
		transition: all .5s;
		padding: 2rem 0;
		position: relative;

		& .btn {
			margin-left: auto;
		}

		&:hover {
			border-color: rgb(16, 16, 16);

			& .btn {
				background: var(--clr-black);

				& svg path {
					fill: var(--clr-white);
				}
			}
		}

		&_index {
			position: absolute;
			left: 0;
			bottom: 0;
			line-height: 0.6;
			font-size: 10rem;
			color: var(--clr-black-5);
		}
	}
}

// LEADERS

.leaders {
	padding-bottom: 5.25rem;

	&__sliders {
		display: flex;
		gap: 3.375rem 2rem;
		flex-wrap: wrap;
	}

	&__desc {
		height: auto;
		width: calc((100% - 32px) / 24 * 12);
		display: flex;
		flex-direction: column;

		&_slider {
			width: 100%;
			margin: 0;
			flex-grow: 1;
			height: auto;
		}

		& .swiper-nav {
			margin-top: auto;
		}

		&_slide {
			padding: 56px 76px 0px 0;
			background: var(--clr-white);
			

			&_content {
				width: calc(100% / 12 * 11);
				height: 100%;
				display: flex;
				flex-direction: column;

				& .text {
					margin-top: auto;
				}

				& p {
					&:not(:last-child) {
					margin-bottom: 2rem;
				} }
			}
		}

		&_title {
			font-size: 6.75rem;
			margin-bottom: 212px;
		}
	}

	& .about {

		&__desc {
			margin-top: 72px;
			padding: 56px 0 64px
		}
	}

	&__images {
			width: calc((100% - 32px) / 24 * 12);
			margin: 0;

		&_slide {
			height: auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: bottom;
			}
		}
	}

	&__item {
		padding: 32px 0;
		border-bottom: 1px solid rgb(219, 219, 219);
		display: flex;
		justify-content: space-between;

		&_col {
			width: calc((100% - 32px) / 24 * 12);
			display: flex;
			flex-direction: column;
		}

		&_top {
			display: flex;
			justify-content: space-between;
			margin-bottom: 76px;

			& .h3 {
				margin-bottom: 12px;
			}
		}

		&_img {
			width: 164px;height: 164px;border-radius: 50%;overflow: hidden;isolation: isolate;
			background: rgb(217, 217, 217);

			& img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}

		&_contact {
			display: flex;
			gap: 12px	;
		}
	}
}

// NEWS-DETAIL

.news-detail {

	&__title {
			display: flex;
			align-items: baseline;
			padding-bottom: 1.125rem;
			position: relative;
			justify-content: space-between;
			gap: 2rem;
	  
	}

	&__section {

		&_row {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			padding: 1.5rem 0;
			position: relative;
			gap: 2rem;


			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 1px;
				left: 0;
				top: 100%;
				background: rgb(219, 219, 219);
			}
		}

		&_col {
			width: calc((100% - 24px) / 17 * 10);
		}

		&_item {
			position: relative;

			&:not(:last-child) {
				padding-bottom: 1.5rem;

				&::after {
					position: absolute;
					content: "";
					width: 100%;
					height: 1px;
					left: 0;
					top: 100%;
					background: rgb(219, 219, 219);
				}
			}

			&:last-child {
				padding-top: 1.5rem;
			}

			&:first-child {
				padding-top: 0;
			}
		}
	}

	&__person {

		&_name {
			display: flex;
			align-items: center;gap: 16px;

			& .icon {
				width: 80px;
				height: 80px;
				border-radius: 50%;
				overflow: hidden;
				isolation: isolate;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

// PARTNERS

.partners {
	position: relative;
	overflow: hidden;
	padding-bottom: 6rem;

	& .about {

		&__sliders {

			&_top {
				margin-bottom: 64px;
			}
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-gap: 24px;
  }

	&__img {
		position: relative;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		& .dark {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&__more {
		// display: flex;
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: calc(100% - 36px);
		width: calc((100% - 64px) / 24 * 4);
	}


	&__nums {
		position: absolute;
		width: calc(1248 / 1920 * 100%);
		left: -64px;
		bottom: 0;
		transform: translateY(50%);
		backdrop-filter: var(--bg-filter-blur);
		padding: 64px 64px 0;
		display: flex;
		justify-content: space-between;

		&.w-auto {
			width: auto;
		}

		&_item {
			display: flex;
			align-items: flex-start;
			width: 46%;
			gap: 40px;

			&:nth-child(2n) {
				// justify-content: center;
				gap: 64px;
			}

		}

		& .text {
			width: 120px;
		}
	}

	&__desc {
		margin-top: 185px;
		display: flex;
		padding: 56px 0;
		gap: 32px;
		position: relative;

		&::before {
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgb(219, 219, 219);
		}

		&::after {
			position: absolute;
			content: "";
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background: rgb(219, 219, 219);
		}

		&_more {
			display: flex;
			margin-top: 32px;
		}

		&_col {
			width: calc((100% - 16px) / 24 * 12);
			display: flex;
			flex-direction: column;
		}

		&_num {
			padding: 56px 0;
			border-bottom: 1px solid rgb(219, 219, 219);

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
			}
		}

		&_text {
			width: calc(100% / 12 * 11);
		}

		&_img {
			margin-top: auto;
			width: calc((100% - 32px)/ 12 * 8);
			height: auto;
			margin-left: auto;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_text {

			& p {

				&:not(:last-child) {
					margin-bottom: 2rem;
				}
			}
		}
	}

	&__sliders {

		&_top {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-bottom: 80px;
		}

		&_control {
		}

		&_tabs {
			overflow: visible;
		}
		&_tab {
			background: var(--clr-white);

			& .organ__title {
				width: calc(100% / 24 * 16);
				margin-bottom: 46px;
			}

			&:not(.swiper-slide-active) {
				overflow: hidden;
				opacity: 0 !important;
			}
 
		 & .about__desc {
			margin-top: 0px;
 
			 &::after {
				 display: none;
			 }
		 }
		}
	}

	&__slider {
		margin-top: 18px;
		// overflow: visible;

		// max-height: 800px;

		// & .swiper-wrapper {
		// 	align-items: flex-end;
		// 	// max-height: 693px;
	  	// }

		// & .swiper-slide {
		// 	max-height: 900px;
		// }

		& .swiper-slide {

			& .partners__slide_desc {
				color: var(--clr-black-40);
				line-height: 1.6;
				transition: all .5s;
			}

			&.swiper-slide-active, &:hover {

				& .partners__slide_desc {
					color: var(--clr-black);
				}
			}
		}
	}

	& .news__slide {
		padding-bottom: 0;
		gap: 0;
	}

	&__slide {
	

		&_desc {
			display: flex;
			justify-content: space-between;
		}

		// &_icon {
		// 	width: calc((100% - 32px) / 8 * 5);

		// 	& img {
		// 		width: 100%;
		// 		height: 100%;
		// 		object-fit: contain;
		// 	}
		// }
	}

	&__sheme {
		width: 100%;
		height: auto;

		& img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	& .festival {

		&__desc {
			padding-top: 112px;
			padding-bottom: 82px;

			&_title {
				width: calc((100% - 32px) / 24* 11);
				margin-bottom: 80px;

				&.title_l {
					width: calc((100% - 32px) / 24* 18);
				}
			}

			&_text {
				padding-right: 44px;
			}
		}
	}

	&__aside {
		border-top: 1px solid rgb(219, 219, 219);
		padding-top: 24px;

		& .about__desc_num {
			border-bottom: none;
			display: flex;
			flex-direction: column;
			gap: 16px;
		}
	}

	&__accordion {
		border-top: 1px solid rgb(219, 219, 219);

		& .text_content {
			padding-top: 0 !important;
		}

		&_more {
			display: flex;
			flex-wrap: wrap;
			gap: 48px;
		}
	}
}

// PERSONAL

.personal {

	&__content {
		margin-top: 180px;
		// margin-bottom: 120px;
		padding-top: 56px;
		position: relative;
		display: flex;
		justify-content: space-between;
		gap: 2rem;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			background: var(--clr-black);
			top: 0;
			left: 0;
		}
	}

	&__slider {
		width: calc((100% - 32px) / 24 * 12);

		&_control {
			width: calc((100% - 32px) / 24 * 12);
			display: flex;
			height: auto;
			flex-direction: column;
			justify-content: space-between;
		}
	}

	&__slide	{
		&_top {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			& p {
				margin-top: 10px;
			}
		}

		&_text {
			margin-top: 84px;
		}

		&_img {
			width: 164px;
			height: 164px;
			border-radius: 50%;
			overflow: hidden;
			isolation: isolate;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

// ADVS

.advs {
	
	padding-top:76px;
	padding-bottom: 85px;
	position: relative;
	color: var(--clr-white);

	&__bg {
		position: absolute;
		background: linear-gradient(90.00deg, rgba(16, 7, 1, 0.7) 43.958%,rgba(13, 7, 2, 0) 67.5%),url(image);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}

	& h2 {
		margin-top: 18px;
	}

	&__row{
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
	}

	&__col {
		width: calc((100% - 32px) / 24 * 12);
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 0;
		border-bottom: 1px solid var(--clr-white-40);

		&:first-child {
			padding-top: 0;
		}

		&_text {
			width: calc(100% / 12 * 7);


			& p {
				color: var(--clr-white-40);
				margin-top: 32px;
			}
			
		}

		&_img {
			width: 170px;
			height: 170px;
			border-radius: 50%;
			overflow: hidden;
			isolation: isolate;
			background: var(--clr-white-10);
			backdrop-filter: var(--bg-filter-blur);

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

// VACANCIES

.vacancies {
	padding-top: 92px;
	padding-bottom: 80px;

	&__title {
		margin-bottom: 64px;
	}

	&__item {
		padding: 32px 0;
		position: relative;

		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 1px;
			top: 0;
			left: 0;
			background: var(--clr-black-40);
		}

		&:last-child {

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				bottom: 0;
				left: 0;
				background: var(--clr-black-40);
			}
		}
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&_desc {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: calc((100% - 12px) / 24 * 18);
		}

		& .h5 {
			transition: all .5s;
			position: relative;

			&::after {
				position: absolute;
				content: "";
				width: 100%;
				height: 2px;
				background: var(--clr-black-40);
				left: 0;
				top: 100%;
				// opacity: 0;
				scale: 0;
				transition: all .3s;
			}
		}

		&:hover {

			& .h5 {
				color: var(--clr-black-40);
				
				&::after {
					// opacity: 1;
				scale: 1;
				}
				// text-decoration: underline;
				// text-underline-offset: 10px;
			}

			& .btn {
				background: var(--clr-black);

				& svg path {
					fill: var(--clr-white);
				}
			}
		}
	}
}

// FEEDBACK

.feedback {
	padding-top: 80px;
	padding-bottom: 84px;

	&__title {
		margin-bottom: 84px;
	}

	&__form {

		&_row {
			display: flex;
			justify-content: space-between;
			gap: 32px;
		}

		&_col {
			width: calc((100% - 32px) / 24 * 12);
			display: flex;
			flex-direction: column;
			height: auto;
			justify-content: space-between;
		}

		&_title {
			width: calc(100% / 12 * 6);
		}

		&_agree_text {
			width: calc(100% / 12 * 6);

			& a {
				text-decoration: underline;
				text-decoration-color: var(--clr-black-40);
				text-underline-offset: 10px;
				transition: all 0.5s;

				&:hover {
					color: var(--clr-black-40);
				}
			}
		}

		&_fields {
			display: flex;
			flex-wrap: wrap;
			gap: 30px 32px;

		}

		&_field {
			width: calc((100% - 32px) / 12 * 6);
			padding-top: 23px;
		}

		&_submit {
			margin-top: 60px;
			display: flex;
			justify-content: center;
		}
	}

}

// RULES

.rules {
	padding-top: 1.5rem;
	padding-bottom: 12rem;

	&__list {
		display: flex;
		flex-direction: column;
		gap: 36px;
	}

	&__item {
		display: flex;
		gap: 2rem;
		justify-content: space-between;
		align-items: flex-start;

		&_img {
			width: calc((100% - 66px) / 24 * 9);

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_right {
			display: flex;
			gap: 2rem;
			width: calc((100% - 32px) / 24 * 13);

			
		}

		&_num {
			width: calc((100% - 32px) / 13 * 1.5);
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 38px;
			
			& .number {
				font-family: var(--font-title);
				font-size: 10rem;
				line-height: 0.8;
				letter-spacing: 0px;
				position: sticky;
				top: 2rem;
				background: var(--clr-white);
			}

			& .line {
				width: 1px;
				height: 533px;
				background: rgb(219, 219, 219);
			}
		}

		&_content {
			width: calc((100% - 32px) / 13 * 11);
			padding-left:64px;
			display: flex;
			flex-direction: column;
			gap: 40px;
		}

		&_title {
			margin-top: 15px;
		}

		&_text {
			display: flex;
			flex-direction: column;
			gap: 2rem;

			& p {
				position: relative;

				& .icon {
					position: absolute;
					display: flex;
					width: 24px;
					height: 24px;
					align-items: center;
					justify-content: center;
					top: 0;
					right: calc(100% + 20px);

					& svg {
						width: 90%;
						height: 90%;
					}
				}
			}

			&_cols {
				display: flex;
				gap: 6px;
			}

			&_col {
				width: calc((100% - 6px) / 2);
				line-height: 1.6;
			}
		}

		&_more {
			display: flex;
		}
	}
}

// FAQ {

	.faq {

		& .container {
			display: flex;
			gap: 64px;
		}

		&__top {
			width: 100%;
			margin-bottom: 80px;
		}

		&__aside {
			border-top: 1px solid rgb(219, 219, 219);
			padding-top: 40px;
			width: calc((100% - 100px) / 24* 6);
			flex-shrink: 0;

			& .about__desc_num {
				display: flex;
				flex-direction: column;
				gap: 20px;
				padding-bottom: 64px;
				border-bottom: none;
			}

			& .event__aside_btn {
				display: flex;
			}
	  }

	  & .accordion__item  {
		padding: 43px 0;
	  }
	  & .accordion__content .text_content {
		padding-bottom: 0;
	  }
		&__content {
			// width: calc((100% - 100px) / 24* 16);
		}

		&__more {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-top: 77px;
		}
	}

	// CONTACTS

	.contacts {
		padding-top: 29px;
		padding-bottom: 4rem;

		&__top {
			padding-top: 34px;
			padding-bottom: 32px;	
			margin-bottom: 48px;
			position: relative;

			&::before {
				width: 100%;
				height: 1px;
				content: "";
				position: absolute;
				display: block;
				background: rgb(219, 219, 219);
				top: 0;
				left: 0;
			}
		}

		&__title {
			text-align: center;

			&_more {
				margin-top: 40px;
				display: flex;
				justify-content: center;
			}
		}

		&__time {
			font-size: 1.625rem;
			line-height: 1.4;
			position: absolute;
			top: 42px;
			left: 0;
			margin-bottom: 1.25rem;
		}

		&__phone {
			margin-bottom: 1.25rem;
			transition: all .5s;
			display: block;

			&:hover {color: var(--clr-black-40);}
		}

		&__addr {
			font-size: 1.625rem;
			line-height: 1.4;
		}

		&__content {
			margin-bottom: 1rem;

			&_title {
				margin-bottom: 56px;
			}
		}

		&__cols {
			display: flex;
			gap: 32px;
		}

		&__col {
			padding-top: 24px;
			position: relative;
			width: calc((100% - 32px) / 24 * 12);

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: rgb(219, 219, 219);
			}

			&_row {
				display: flex;
				gap: 1.5rem;
			}

			&_top {
				margin-bottom: 70px;

				& .text_content {

					& p:not(:last-child) {
						margin-bottom: 20px;
					}
				}
			}

			&_left {
				width: calc((100% - 24px) / 12 * 5);

				& .icons {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;

					& .place {
						z-index: 1;

						&:not(:first-child) {
							margin-left: -6px;
							z-index: 0;
						}
					}

					& .icon {
						border-radius: 3px;
						display: flex;
						width: 32px;
						height: 32px;
						overflow: hidden;

						& svg {
							width: 100%;
							height: 100%;
						}
					}
				}
			}

			&_right {
				width: calc((100% - 32px) / 12 * 7);

				& .text_content {

					& p:not(:last-child) {
						margin-bottom: 40px;
					}
				}
			}

			&_item {
				padding: 19px 0;
				border-bottom: 1px solid rgb(219, 219, 219);
	
				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					border-bottom: none;
				}
	
				&_name {
					display: flex;
					align-items: center;
					gap: 8px;
				}
			}
		}

		&__list	 {
			margin-top: 128px;

			&_more {
				display: flex;
				justify-content: center;
				margin-top: 84px;
			}
		}

		&__item {
			position: relative;
			padding: 56px 0;

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background: rgb(219, 219, 219);
			}

			&:last-child {

				&::after {
					content: "";
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background: rgb(219, 219, 219);
				}
			}

			& .contacts__col {
				padding-top: 0;

				&::before {
					display: none;
				}
			}

			&_phone {
				transition: all .5s;

				&:hover {
					color: var(--clr-black-40);
				}
			}

			&_row {
				padding: 56px 0;
				border-bottom: 1px solid rgb(219, 219, 219);

				&:first-child {
					padding-top: 0;
				}

				&:last-child {
					padding-bottom: 0;
					border-bottom: none;
				}

				& p {
					margin-bottom: 2rem;
				}
			}

			&_links {
				display: flex;
				flex-direction: column;
				gap: 10px;
			}

			&_link {
				font-size: 1.375rem;
				line-height: 1.4;

				& a {
					transition: all .5s;

					&:hover {
						color: var(--clr-black-40);
					}

					&.download_link {
						position: relative;

						&::before {
							content: "";
							position: absolute;
							width: 100%;
							height: 1px;
							background: rgb(219, 219, 219);
							left: 0;
							top: calc(100% + 2px);
						}
					}
				}

				&-text {
					color: var(--clr-black-40);
				}
			}
		}

		&__map {
			width: 100%;
			height: 788px;

			& .map {
				width: 100%;
				height: 100%;
			}
		}
	}

	// SEARCH

	.search {

		&__top {
			display: flex;
			gap: 2rem;
		}

		&__popular {
			width: calc((100% - 32px) / 24 * 7);

			&_tags {
				width: calc(100% / 7 * 5);
				margin-top: 24px;
			}
		}

		&__form {
			width: calc((100% - 32px) / 24 * 17);

			&_fields {
				display: flex;
				flex-direction: column;
				gap: 1.5rem	;
			}

			&_field {
				width: 100%;
				display: flex;
				gap: 2rem;

				& label {
				}
			}
		}
	}