// FS

.fs {
	width: 100%;
	height: 100%;

	min-height: 100vh;
	max-height: 1080px;
	display: flex;
	position: relative;

	&__images {

		&_slider {
			position: absolute;
			width: 100%;
			height: 100%;
			min-height: 600px;
			top: 0;
			left: 0;
		}

		&_slide {
			

			&.dark {
				position: relative;
				
				&::before {
					content: "";
					display: block;
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background: rgba(16, 16, 16, 0.5);
					z-index: 1;
				}
				
			}

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	& .container {
		flex-grow: 1;
		padding-top: 170px;
		padding-bottom: 48px;
	}

	&__content {
		display: flex;
		position: relative;
		width: 100%;
		height: 100%;

		&_slider {
			width: 100%;
			
			& .swiper-nav {
				position: absolute;
				display: flex;
				align-items: center;
				bottom: 0;
				right: 0;
				z-index: 10;
				gap: 12px;

				& .btn_menu {
					&:hover {

						& svg path {
							stroke: var(--clr-white);
						fill: none;
						}
						
					}
				}
			}

			&.light {
				& .btn_menu {

					background: var(--clr-white-10);
						& svg path {
							stroke: var(--clr-white);
						fill: none;
						}

					&:hover {
						background: var(--clr-white);

						& svg path {
							stroke: var(--clr-black);
							fill: none;
						}
					}

		
					
				}

				& .btn {
					&_color {
						background: var(--clr-tag-festival);
						color: var(--clr-white);
				
						&:hover {
							color: var(--clr-black);
							background: var(--clr-tag-festival-opacity);
						}
					}
				}

				& .date, & .day {
					color: var(--clr-white);
				}

				& .fs__slide_desc {
					color: var(--clr-white);
				}

				& .tag {

					&_card {
						border: 1px solid var(--clr-white-40);
						color: var(--clr-white-40);
						transition: all 0.5s;

						&:hover {
							color: var(--clr-white);
							border-color: var(--clr-white);
						}
					}
				}
			}


		}
	}

	&__slide {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 64px;

		&_content {
			display: flex;
			height: 100%;
			gap: 32px;
			justify-content: space-between;
		}

		&_tags {
			
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 8px;
		}

		&_tags-abs {
			position: absolute;
			z-index: 10;
			left: 0;
			top: 0;
		}

		&_date {
			display: flex;
			// align-items: flex-start;
			line-height: 1.3;
			gap: 12px;

			& .day {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				white-space: nowrap;
				height: auto;
				font-size: 32px;
				line-height: 0.8;
			}
		}

		& .date {
			font-size: 4.75rem;
			line-height: 0.75;
			
		}

		&_icon {
			margin-left: auto;
			margin-right: auto;
			height: 724px;

			& img {
				height: 100%;
				object-fit: contain;
			}
		}

		&_bottom {
			display: flex;
			align-items: center;
			gap: 32px;
		}

		&_date {
			width: calc((100%) / 24 * 13);
		}

		&_control {
			width: calc((100% - 32px) / 24 * 10);
			display: flex;
		}

		&_desc {
			width: calc((100% - 32px) / 24 * 10);
			display: flex;
			flex-direction: column;
			height: auto;
			justify-content: space-between;
		}

		&_left {
			display: flex;
			flex-direction: column;
			height: auto;
			width: calc(100% / 24 * 13);
			justify-content: space-between;
		}

		&_info {
			
			display: flex;
			flex-direction: column;
			gap: 16px;
			flex-shrink: 0;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&_text {
			max-width: 430px;

			& .btn {
				margin-top: 64px;
			}
		}
	}
}

// EVENTS

.events {
	padding-top: 148px;
	padding-bottom: 160px;

	&__content {
		position: relative;
		display: flex;
		flex-direction: column;
		

		&_row {
			display: flex;
			align-items: flex-start;
			position: relative;
			gap: 2rem;
			justify-content: space-between;
			border-top: 1px solid rgb(219, 219, 219);
			padding: 2rem 0;
			
			&:last-child {
				border-bottom: 1px solid rgb(219, 219, 219);
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 80px;

		& .h2 {
			width: calc(100% / 24 * 13);
		}
	}

	&__period {
		width: calc((100% - 32px) / 24 * 10);
	}

	&__date {
		display: flex;
		align-items: flex-start;
		gap: 12px;
		width: calc(100% / 24 * 7);
		position: sticky;
		top: 2rem;

		& .date {
			line-height: 0.75;
			font-size: 6.25rem;
		}

		& .day {
			line-height: 0.8;
			font-size: 2rem;
		}
	}

	&__list {
		width: calc(100% / 24 * 17);
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 40px;
		padding-top: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid rgb(219, 219, 219);

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

		&_top {
			display: flex;
			justify-content: space-between;
		}

		&_control {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&_link {
				display: flex;
				width: calc(100% / 17 * 6);
			}
		}

		&_preview {
			width: calc(100% / 17 * 6);

			& img {
				width: 100%;
				height: auto;
				object-fit: cover;
			}
		}

		&_info {
			display: flex;
			flex-direction: column;
			height: auto;
			width: calc(100% / 17 * 10);
		}

		&_desc {
			margin-top: auto;
		}

		&_time {
			display: flex;
			align-items: baseline;
			gap: 12px	;
		}

		&_tags {
			width: calc(100% / 17 * 10);
		}
	}

	&__more {
		margin-top: 2rem;
		display: flex;
	}
}

// HALLS

.halls {
	height: 855px;
	overflow: hidden;

	&__sliders {
		display: flex;
		align-items: center;
		position: relative;
		overflow: hidden;
	}

	&__slider {

		&_view {
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			
		}

		&_images {
			width: calc(1128 / 1920 * 100%);
			flex-shrink: 0;
			height: 100%;
			margin-right: 0;
			margin-left: 0;
			display: flex;
			justify-content: center;

			& .swiper-slide {
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;

				& img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		&_desc {
			width: calc(640 / 1920 * 100%);
			margin: 0;
			position: relative;
			
			& .swiper-nav {
				position: absolute;
				z-index: 10;
				right: 64px;
				bottom: 64px;
				display: flex;
				gap: 12px;

				& .btn_menu {
					&:hover {

						& svg path {
							stroke: var(--clr-white);
						fill: none;
						}
						
					}
				}
			}
		}

		&_small {
			position: absolute;
			right: -50%;
			width: 30%;
			height: 30%;
			right: 0;
			transform: translateX(50%);
		}
	}

	&__slide {
		width: 100%;
		padding: 84px 64px 64px 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background: var(--clr-white);

		&_title {
			width: calc(100% / 8 * 6);
		}

		&_text {
			display: flex;
			flex-direction: column;
			gap: 60px;
			width: calc(100% / 8 * 6);
		}

		&_link {
			display: flex;
		}
	}
}

.pagination {

	&_tabs {
		display: flex;
		position: absolute;
		bottom: 64px !important;
		z-index: 10;
		backdrop-filter: var(--bg-filter-blur);
		width: auto !important;
		border-radius: 40px;
		left: auto !important;
		right: auto;
		// left: 50% !important;
		// transform: translateX(-50%);
	}
}

// NEWS

.news {
	padding-top: 216px;
	padding-bottom: 216px;

	& .swiper-nav {
		

		& .btn_menu {
			&:hover {

				& svg path {
					stroke: var(--clr-white);
				fill: none;
				}
				
			}
		}
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 64px;
	}

	&__slide {
		display: flex;
		flex-direction: column;
		height: auto;
		gap: 44px;
		padding: 2rem 0;
		border-top: 1px solid rgb(219, 219, 219);

		&_date {
			display: flex;
			align-items: baseline;
			gap: 12px;
			margin-bottom: 28px;

			& .text {
				line-height: 1.4;
			}
		}

		&_desc {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}

		&_text {
			margin-top: auto;
		}

		&_preview {
			height: 330px;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}

	&__more {
		margin-top: 2rem;
		display: flex;
	}
}

// ABOUT

.about {
	padding-bottom: 161px;
	position: relative;
	margin-bottom: 107px;

	&__title {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		margin-bottom: 110px;

		& .h3 {
			width: calc((100% ) / 24 * 11);
		}
	}

	&__subtitle {
		width: calc((100% - 64px) / 24 * 8);
		font-size: 26px;
		line-height: 1.4;

		& p {
			width: 90%;
		}
	}

	&__img {
		position: relative;
		& .dark {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
		}
	}

	&__more {
		display: flex;
		position: absolute;
		z-index: 10;
		left: 0;
		bottom: calc(100% - 22px);
	}

	&__nums {
		position: absolute;
		width: calc(1248 / 1920 * 100%);
		left: 0;
		bottom: 0;
		transform: translateY(-25%);
		backdrop-filter: var(--bg-filter-blur);
		padding: 64px 64px 0;
		display: flex;
		
		&_item {
			display: flex; align-items: flex-start;width: 50%;gap: 25px;
		}
	}
}

// LOCATION

.location {
	position: relative;
	min-height: 1060px;
	margin-bottom: 117px;

	&__images {

		&_slider {
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;

			// &::after {
			// 	content: "";
			// 	position: absolute;
			// 	display: block;
			// 	width: 100%;
			// 	height: 100%;
			// 	top: 0;
			// 	left: 0;
			// 	z-index: 1;
			// 	background: rgba(16, 16, 16, 0.2);
			// }
		}

		&_slide {
			position: relative;

			& img {
				width: 100%; 
				height: 100%;
				object-fit: cover;
			}

			&::after {
				content: "";
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: 1;
				background: rgba(16, 16, 16, 0.2);
			}
		}
	}

	&__path {
		position: absolute;
		width: 100%;
		// overflow: hidden;
		height: 135px;
		bottom: -2px;
		z-index: 2;
		left: 0;
		transform: translateX(0%);

		& svg {
			position: absolute;
			width: auto; 
			height: auto;
			bottom: 0;
			left: 0;
			transition: all 1s;
		}
	}

	&__content {
		position: relative;
		z-index: 10;
		padding: 172px 0;
		pointer-events: none;

		&_top {
			display: flex;
			// justify-content: space-between;
			gap: 2rem;
			margin-bottom: 28px;
		}

		&_title {
			width: calc(100% / 24 * 11);;
		}

		&_subtitle {
			font-size: 1.625rem;
			line-height: 1.4;
			width: calc(100% / 24 * 6);
			margin-top: 10px;
		}
	}

	&__slides {
		
		&_navigation {
			position: relative;
			z-index: 	10;
			bottom: 10px;
		}

		&_btn {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			backdrop-filter: var(--bg-filter-blur);
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			isolation: isolate;

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: top;
			}
		}
	}
	&__more {
		width: calc((100% - 64px) / 24 * 5);

		&_link {
			pointer-events: all;
		}
	}

	&__ellipse {
		position: absolute;
		width: calc((100% - 64px) / 24 * 20);
		height: 0;
		padding-top:80.4%;
		border-radius: 50%;
		border: 1px solid var(--clr-white-40);
		bottom: 0;
		transform: translateY(59%);
		z-index: 4;
		pointer-events: none;

		&-sm {
			position: absolute;
			width: calc(920/ 1920 * 100%);
			height: 0;
			padding-top:47.8%;
			border-radius: 50%;
			border: 1px solid var(--clr-white);
			bottom: 0;
			transform: translateY(62%);
			z-index: 4;
			pointer-events: none;
		}
	}
}