@media (max-width: 1200px) {

	.container {
		max-width: 1344px;
	}

	.row {
		// width: 100%;
		display: flex;
		margin-left: -0.625rem;
		margin-right: -0.625rem;
	}
	
	.col {
		width: calc(100% / 16);
		padding-left: 0.625rem;
		padding-right: 0.625rem;
		flex-shrink: 0;
	}
	
	.col-2 {
		width: calc(100% / 12 * 2);
	}
	
	.col-3 {
		width: calc(100% / 16 * 3);
	}
	
	.col-4 {
		width: calc(100% / 16 * 4);
	}
	
	.col-5 {
		width: calc(100% / 12 * 5);
	}
	
	.col-6 {
		width: calc(100% / 16 * 6);
	}

	.head {

		& .container {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		& .btn_menu {
			margin-right: -12px;
		}

		&__left {

			&_content {
				gap: 32px;
				padding-bottom: 8px;
				padding-top: 4px;

				& .depkult-logo {
					width: 155px;
				}
			}

			& .links {
				gap: 0.875rem;

				&__item {
					width: 24px;
					height: 24px;

					& svg {
						width: 80%;
						height: 80%;
					}
				}

				&:nth-child(2) {
					margin-left: 0px;
			  }
			}
		}

		&__nav {
			&_list {
				gap: 24px;
			}
		}

		&__right {

			&_content {
				padding-top: 12px;
				padding-bottom: 22px;
			}
		}

		&__logo {
			height: 80px;
    	margin-left: -8px;
		}

		&__languages {
			font-size: 1rem;
		}
	}

	.btn {
		&_menu {
			width: 44px;
			height: 44px;
			// margin-right: -12px;

			& svg {
				width: 19px;
				height: 14px;
			}
		}

		&_social {
			width: 118px;
			height: 118px;

			& svg {
				width: 18px;

				&.tg {
					width: 15px;
				}
			}
		}
	}

	.nav-link {
		font-size: 1rem;
	}

	.foot {

		&__nav {
			width: 30%;


			&_link {
				font-size: 1.5rem;
			}
		}

		&__contacts {
			gap: 18px;
			flex-wrap: wrap;
		}

		&__copy {

			&_nav {
				gap: 6px;
			flex-wrap: wrap;
			}
		}
	}

	.scroll_top {
		overflow-x: hidden;
		// height: 40px;
		align-items: flex-end;

		&_btn {
			height: 40px;
		}

		&>.icon {
			width: auto;
			height: 40px;
		}

		&>svg {
			width: auto;
			height: 40px;
		}
	}

	.mobile {

		&__head {
				& .container {
					padding-bottom: 8px;
				}
			& .head {

				
	
				&__right {
	
					&_content {
						justify-content: flex-end;
						gap: 80px;
						padding-bottom: 22px;
					}
				}
			}
		}

		&__nav {
			flex: 1 1 270px;

			&:nth-child(2) {
				margin-left: 0px;
			}

			&:nth-child(3) {
				margin-left: 0px;
			}
	
			&:nth-child(4) {
				margin-right: 0px;
			}
	
			&:nth-child(5) {
				margin-right: 0px;
			}

			&_title {
				font-size: 2.375rem;
				margin-bottom: 1.125rem;
			}

			&_list {
				gap: 12px;
			}
		}

		&__scls {
			gap: 8px;
		}

		&__body {

			&_cols {
				padding-top: 100px;
				gap: 28px;
				flex-wrap: wrap;
			}
		}
	}

	.animate__animated {
		animation-duration: 1.2s;
	}
}