@media (max-width:991px) {

	.max991 {
		display: flex !important;
	}

	.min991 {
		display: none !important;
	}

	.row {
		// width: 100%;
		display: flex;
		margin-left: -0.625rem;
		margin-right: -0.625rem;
	}
	
	.col {
		width: calc(100% / 12);
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}

	.btn {

		&_social {
			width: 108px;
			height: 108px;
			padding: 0;

			& svg {
				// width: 18px;

				&.tg {
					width: 15px;
				}
			}
		}
	}
	
	.col-2 {
		width: calc(100% / 12 * 2);
	}
	
	.col-3 {
		width: calc(100% / 12 * 3);
	}
	
	.col-4 {
		width: calc(100% / 12 * 4);
	}
	
	.col-5 {
		width: calc(100% / 12 * 5);
	}
	
	.col-6 {
		width: calc(100% / 12 * 6);
	}
	
	.links {
		gap: 0.875rem;

		&__item {
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.search {
				& svg {
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	
	.depkult-logo {
		width: 140px;
	}

	.head {

		&__top {
			display: flex !important; 
		}

		&__bottom {
			padding-top: 12px;
		}

		&__left {

			&_content {
				padding-top: 10px;
				padding-bottom: 20px;
			}

			
		}

		&__right {

			&_content {
				justify-content: flex-end;
				padding-top: 0;
				padding-bottom: 10px;

				& .btn_menu {
					width: 44px;
					height: 44px;
					margin-right: 0;

					& svg {
						width: 18px;
						height: 12px;
					}
				}
			}
		}
	}

	.foot {

		& .container {
			padding-top: 36px;
		}

		&__nav {
			width: 40%;
			// margin-left: 0;
		}

		.scls {
			margin-bottom: 0;
		}

		
	}

	.mobile {

		&__head {
				& .container {
					padding-bottom: 8px;
				}
			& .head {

				
	
				&__right {
	
					&_content {
						justify-content: flex-end;
						gap: 80px;
						padding-bottom: 8px;
					}
				}
			}
		}

		&__nav {
			flex: 1 1 270px;

			&:nth-child(2) {
				margin-left: 0px;
			}

			&:nth-child(3) {
				margin-left: 0px;
			}
	
			&:nth-child(4) {
				margin-right: 0px;
			}
	
			&:nth-child(5) {
				margin-right: 0px;
			}

			&_title {
				font-size: 2.375rem;
				margin-bottom: 1.125rem;
			}

			&_list {
				gap: 12px;
			}
		}

		&__scls {
			gap: 8px;
		}

		&__body {

			&_cols {
				padding-top: 80px;
				gap: 28px;
				flex-wrap: wrap;
			}
		}
	}
}