@media (max-width:991px) {

	h1,
	.h1,
	.text-content h1 {
		font-size: 6.75rem;
	}

	.desc_content p {
		padding-left: 60px;
		margin-bottom: 46px;
	}

	.desc_content blockquote {
		margin-left: 0;
		padding-left: 60px;
	}

	.max991 {
		display: flex !important;
	}

	.min991 {
		display: none !important;
	}

	.date_xl {
		font-size: 4.375rem;
	}

	.numbers {
		line-height: 0.6;
	}

	.row {
		// width: 100%;
		display: flex;
		margin-left: -0.625rem;
		margin-right: -0.625rem;
	}

	.col {
		width: calc(100% / 12);
		padding-left: 0.625rem;
		padding-right: 0.625rem;
	}

	.btn {

		&_social {
			width: 108px;
			height: 108px;
			padding: 0;

			& svg {
				// width: 18px;

				&.tg {
					width: 15px;
				}
			}
		}
	}

	.col-2 {
		width: calc(100% / 12 * 2);
	}

	.col-3 {
		width: calc(100% / 12 * 3);
	}

	.col-4 {
		width: calc(100% / 12 * 4);
	}

	.col-5 {
		width: calc(100% / 12 * 5);
	}

	.col-6 {
		width: calc(100% / 12 * 6);
	}

	.links {
		gap: 0.875rem;

		&__item {
			width: 25px;
			height: 25px;
			display: flex;
			align-items: center;
			justify-content: center;

			&.search {
				& svg {
					width: 14px;
					height: 14px;
				}
			}
		}
	}

	.dropdown-slider {
		position: relative;

		&__value {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			font-size: 1rem;
			// color: var(--clr-white);
			line-height: 1.4;
			padding: 18px 32px;
			border-left: 1px solid rgb(16, 16,16);
			border-radius: 53px;
		}

		&__tabs {
			position: absolute;
			opacity: 0;
			top: calc(100% + 10px) !important;
			bottom: auto !important;
			left: 50% !important;
			visibility: hidden;
			transform: translateX(-50%) translateY(30px);
			transition: all 0.3s;
			flex-direction: column;
			-webkit-backdrop-filter: var(--bg-filter-blur) !important;
			backdrop-filter: var(--bg-filter-blur) !important;
			background: var(--clr-white-10);
			border-radius: 10px;
			z-index: 10;
			border: none;
		}

		& .before {
			display: none;
		}
	}

	.depkult-logo {
		width: 140px;
	}

	.head {

		&__top {
			display: flex !important;
		}

		&__bottom {
			padding-top: 12px;
		}

		&__left {

			&_content {
				padding-top: 10px;
				padding-bottom: 20px;
			}


		}

		&__right {

			&_content {
				justify-content: flex-end;
				padding-top: 0;
				padding-bottom: 10px;

				& .btn_menu {
					width: 44px;
					height: 44px;
					margin-right: 0;

					& svg {
						width: 18px;
						height: 12px;
					}
				}
			}
		}
	}

	.foot {

		& .container {
			padding-top: 36px;
		}

		&__nav {
			width: 40%;
			// margin-left: 0;
		}

		.scls {
			margin-bottom: 0;
		}


	}

	.mobile {

		&__head {
			& .container {
				padding-bottom: 8px;
			}

			& .head {



				&__right {

					&_content {
						justify-content: flex-end;
						gap: 80px;
						padding-bottom: 8px;
					}
				}
			}
		}

		&__nav {
			flex: 1 1 270px;

			&:nth-child(2) {
				margin-left: 0px;
			}

			&:nth-child(3) {
				margin-left: 0px;
			}

			&:nth-child(4) {
				margin-right: 0px;
			}

			&:nth-child(5) {
				margin-right: 0px;
			}

			&_title {
				font-size: 2.375rem;
				margin-bottom: 1.125rem;
			}

			&_list {
				gap: 12px;
			}
		}

		&__scls {
			gap: 8px;
		}

		&__body {

			&_cols {
				padding-top: 80px;
				gap: 28px;
				flex-wrap: wrap;
			}
		}
	}

	.fs {

		&_index {
			max-height: 1080px;
		}

		&__event-title {
			flex-direction: column;
			gap: 2rem;
		}

		&__page-title {
			width: calc(100% / 12 * 10);
		}

		&__title {

			&.fs__title-sm {

				& .h2 {
					width: calc((100% - 12px) / 24* 24);
					font-size: 4rem;
				}
				
			}
		}

		&__page-subtitle {
			width: calc(100% / 10 * 8);
		}

		&__info {
			flex-direction: column-reverse;
			align-items: flex-start;
			gap: 40px;
			margin-bottom: 44px;

			&_left {
				margin-left: 0;
			}
		}

		& .container {
			padding-top: 176px;
		}

		&__slide {

			&_icon {
				margin-top: auto;
				margin-bottom: auto;
			}
		}
	}

	.event {

		& .container {
			flex-direction: column-reverse;
		}

		&__aside {
			width: 100%;
			padding-top: 40px;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 40px;

			&_date {
				width: 100%;
				border: none;
				padding-bottom: 0;
			}
		}

		&__share {
			margin-left: auto;

			&_title {
				display: none;
			}
		}

		&__calendar_btn {
			margin-top: 0;
			display: flex;
			width: 100%;
			padding-top: 40px;
			border-top: 1px solid rgb(219, 219, 219);
		}

		&__content {
			width: 100%;
		}

		&__subtitle {
			width: calc(100% / 12 * 7);
		}

		&__section {

			&_col {
				width: calc(100% / 12 * 7);
			}
		}
	}

	.accordion {

		&__content {

			&_desc {
				padding-top: 32px;
			}

			& .text_content {
				padding: 56px 0 40px;
				width: calc(100% / 12 * 11);
			}
		}
	}

	.events {

		&__content {
			&_row {
				flex-direction: column;
				padding-top: 10px;

				&:last-child {

					&::after {
						content: "";
						position: absolute;
						width: 100%;
						height: 1px;
						background: rgb(219, 219, 219);
						top: 100%;
					}
				}
			}
		}

		&__list {
			width: 100%;
		}

		&__item {

			&_preview {
				width: calc(100% / 12 * 5);
			}

			&_info {
				width: calc(100% / 12 * 6);
			}

			&_control {

				&_link {
					width: calc(100% / 12 * 5);
					display: block;
				}
			}

			&_tags {
				width: calc(100% / 12 * 6);
			}
		}

		&__date {
			z-index: 1;
			background: #fff;
			width: 100%;
			top: 0;
			padding: 20px 0;
			margin-top: 0;

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 1px;
				background: rgb(219, 219, 219);
				top: 100%;
			}

			// border-bottom: 1px solid rgb(219, 219, 219);
		}

		&__more {
			margin-top: 2.5rem;
		}
	}

	.halls {
		height: auto;

		&__slider {

			&_view {
				flex-direction: column;
			}

			&_images {
				width: 100%;
			}

			&_desc {
				width: 100%;

				& .swiper-nav {
					bottom: 0;
					right: 32px;
				}
			}

			&_small {
				visibility: hidden;
			}
		}

		&__slide {
			padding: 64px 32px 0;
			gap: 40px;

			&_title {
				width: calc(100% / 12 * 7);
			}

			&_text {
				width: calc(100% / 12 * 7);
				gap: 4rem;
			}
		}
	}

	.news {

		&_title {
			margin-bottom: 2.5rem;
		}

		&__list {
			grid-gap: 8px;
			// grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
			// & .news__slide {
			// 	padding: 1.5rem 0 2rem;
			// }
		}
	}

	.festival {
		margin-bottom: 36px;

		&__slider {
			position: relative;

			& .swiper-nav {
				position: absolute;
				right: 24px;
				bottom: 32px;
				z-index: 10;

				& .btn_slider {
					background: var(--clr-white-20);

					& svg path {
						stroke: var(--clr-white);
					}

					&:hover {
						background: var(--clr-white-10);
					}
				}
			}

			& .swiper-pagination {
				position: absolute;
				margin-top: 1.375rem;
				visibility: hidden;
			}
		}

		&__slide {

			& img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&__desc {
			padding: 56px 0 48px;

			&_title {
				display: flex;
				flex-direction: column;
				align-items: center;
				text-align: center;
				width: calc((100% - 32px) / 24 * 16);
				gap: 36px;
				margin: 0 auto 36px;
			}

			&_text {
				// width: calc((100% - 32px) / 24 * 13);
				margin-left: 0;
				width: calc(100% / 12 * 9);
				margin-left: auto;
			}
		}
	}

	.about {
		margin-bottom: 0;
		padding-bottom: 120px;

		&__title {

			& .h3 {
				width: calc((100% - 24px) / 24 * 14);
			}
		}

		&__subtitle {
			font-size: 20px;
			width: calc((100% - 16px) / 24 * 9);
		}

		&__more {
			width: calc((100% - 64px) / 24 * 5);
		}

		&__nums {
			// padding-top: 24px;
			position: static;
			transform: translateY(0);
			width: 100%;
			justify-content: flex-start;
			padding: 20px 0 0;

			&_item {
				flex-direction: column;
				gap: 20px;

				& .numbers {
					line-height: 1;
					margin-left: auto;
					margin-right: auto;
				}

				& .text {
					width: 143px;
				}

				&:nth-child(2n) {
					gap: 20px;
				}
			}
		}

		&__desc {
			margin-top: 96px;
			flex-direction: column-reverse;
			gap: 32px;
			padding: 32px 0;

			&_col {
				width: 100%;

				&:last-child {
					padding-right: 0;
				}
			}

			&_num {
				padding: 32px 0;

				&:first-child {
					border-top: 1px solid rgb(219, 219, 219);
					padding-top: 32px;
				}
			}

			&_img {
				width: 100%;
				margin-top: 42px;
			}
		}

		&__sliders {

			&_control {
				width: calc(100% / 12 * 8);
			}

			&_more {

				&.max991 {
					margin-top: 64px;
					display: flex;
					justify-content: center;
				}
			}
		}

		&__slider {
			& .swiper-slide {
				max-height: 450px;
			}
		}

		&__aside {
			& .about__desc_num {
				border-top: none;
			}
		}
	}

	.location {

		&__content {
			padding: 98px 0;

			&_title {
				width: calc((100% - 45px) / 24 * 12);

			}

			&_top {
				margin-bottom: 20px;
			}

			&_subtitle {
				width: calc((100% - 16px) / 24 * 10);
			}
		}

		&__more {
			width: calc((100% - 32px) / 24 * 6);
		}

		&__slides {

			&_navigation {
				left: 34%;
				width: 62%;
			}

			&_btn {
				width: 108px;
				height: 108px;
			}
		}
	}

	.description {

		& .festival {

			&__desc {
				padding: 40px 0;

				&_title {
					width: calc(100% / 12 * 10);
					margin-bottom: 32px;
				}

				&_text {
					margin-left: 0;
					width: calc(100% / 12 * 9);
				}
			}
		}

		&__slider {
			& .swiper-slide {
				max-height: 450px;
			}
		}
	}

	.history {
		padding-top: 86px;

		&__sliders {
			gap: 2rem;
		}

		&__desc {
			width: 100%;
		}

		&__images {

			&_slider {
				width: 100%;
				order: -1;
			}
		}
	}

	.mission {

		& .festival {
			padding: 40px 0;

			&_title {
				width: calc(100% / 12 * 10);
				margin-bottom: 32px;
			}

			&__desc {

				&_text {
					margin-left: 0;
					width: calc(100% / 12 * 9);
				}
			}
		}

		&__image {

			&_content {
				position: relative;
				padding-top: 24px;
				width: calc(100% / 12 * 9);
			}
		}
	}

	.organ {}

	.leaders {

		& .about {

			&__desc {
				flex-direction: column;
				margin-top: 0;

				&_col {

					&::before {
						display: none;
					}
				}

				&_num {
					padding-top: 0;
					border-top: none;
				}

			}
		}

		&__desc {
			width: 100%;
		}

		&__item {
			flex-direction: column;
			gap: 2rem;
			padding: 32px 0;

			&_col {
				width: 100%;
			}
		}
	}

	.partners {
		// padding-bottom: 4rem;

		// &__slide {

		// 	&_icon {
		// 		max-width: 60%;
		// 	}
		// }

		&__slide {

			&_desc {
				flex-direction: column;
				height: 100%;
				gap: 24px;
			}

			&_icon {
				margin-left: auto;
				margin-top: auto;
				max-width: 100%;
				width: 100%;
				height: 120px;

				& img {
					object-fit: contain;
					object-position: center;
					height: 100%;
					width: 100%;
				}
			}
		}
	}

	.rules {
		padding-top: 2.375rem;
		padding-bottom: 8rem;

		&__list {
			gap: 24px;
		}

		&__item {

			&_img {
				width: 100%;
			}

			&_right {
				width: 100%;
				gap: 8px;
			}

			&_num {
				width: calc((100% - 8px) / 12 * 0.7);
				gap: 16px;
				
				& .line {
					height: auto;
					flex-grow: 1;
				}
				& .number {
					font-size: 4.5rem;
				}
			}

			&_content {
				// width: calc((100% - 8px) / 12 * 11);
				flex-grow: 1;
				padding-left: 0;
				gap: 32px;
				padding-bottom: 96px;
			}

			&_title {
				margin-top: 8px;
			}

			&_text {
				gap: 1rem;

				& p .icon {
					position: static;
					margin-bottom: 1rem;
				}
			}
		}
	}

	.faq {

		& .container {
			flex-direction: column;
			gap: 2rem	;
		}

		& .about__desc_num{
			gap: 11px;
			&:first-child {
				border-top: none;
				padding-bottom: 0;
				padding-top: 0;
			}
	  }

	  &__top {
		margin-bottom: 56px;
	  }

		&__aside {
			width: 100%;
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}
	}

	.contacts {

		&__time {
			position: static;
		}

		&__cols {
			flex-direction: column;
			gap: 12px;
		}

		&__col {
			width: 100%;

			&_row {
				gap: 8px;
			}

			&_right {
				width: calc((100% - 8px) / 12 * 8);
			}

			&_left {
				width: calc((100% - 8px) / 12 * 4);
			}
		}

		&__list {
			margin-top: 80px;
		}

		&__item {
			padding: 24px 0;
			// gap: 0;

			&_row {
				padding: 32px 0;

				&:first-child {
					padding-top: 32px;
					border-top: 1px solid rgb(219, 219, 219);
				}
			}
		}

		&__map {
			height: 750px;
		}
	}

	.search {
		padding-top: 0;

		&__top {
			flex-direction: column-reverse;
			gap: 2.75rem;
		}

		&__popular {
			width: 100%;

			&_tags {
				margin-top: 18px;
			}
		}

		&__form {
			width: 100%;

			
		}
	}

	label {

		&.label_search {

			& input[type=search] {
				padding-bottom: 12px;
			}
		}
	}
}