@media (max-width: 1650px) {

	.h2 {
		font-size: 4.75rem;
	}

	.h3 {
		font-size: 3.625rem;
	}

	.numbers {
		font-size: 10.25rem;
	}

	.depkult-logo {
		width: 195px;
	}

	.menu_font {
		font-family: var(--font-title);
		font-size: 4.875rem;
	}

	.main_font {
		font-size: 1.25rem;
	}

	.head {

		& .btn_menu {
			margin-right: -16px;
		}

		&__left {

			&_content {
				gap: 72px;


			}

			& .links {

				&__list {
					gap: 1.25rem;
				}

				&__item {
					width: 28px;
					height: 28px;

					& svg {
						width: 85%;
					}
				}

				&.head__left .links:nth-child(2) {
					margin-left: 20px;
				}
			}
		}

		&__right {

			&_content {
				padding-bottom: 27px;
			}
		}

		&__logo {
			height: 101px;
		}

		&__languages {
			font-size: 1.25rem;
		}
	}

	.btn {
		&_menu {
			width: 56px;
			height: 56px;
			// margin-right: -16px;

			& svg {
				width: 22px;
			}
		}

		&_social {
			width: 160px;
			height: 160px;
		}

		&_tab {
			font-size: 1.125rem;
		}
	}

	.nav-link {
		font-size: 1.25rem;
	}

	.foot {

		&__nav {
			width: 29%;

			&_link {
				font-size: 1.875rem;
			}
		}

		&__contacts {

			&_phone {
				// width: 29%;
			}

			&_addr {
				font-size: 1.25rem;
			}
		}
	}

	.scls {

		&__title {
			font-size: 24px;
		}
	}

	.mobile {

		&__head {

			& .head {

				& .container {
					padding-bottom: 6px;
				}

				&__right {

					&_content {
						gap: 100px;
					}
				}
			}
		}

		&__nav {

			&_title {
				font-size: 2.875rem;
			}
		}

		&__body {

			&_cols {
				padding-top: 140px;
			}
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 56px;
		height: 30px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		transition: 0.4s;
		transform: translateX(26px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 40px;
	}

	.fs {

		& .container {
			padding-top: 160px;

		}
	}


	.events {
		padding-top: 116px;
		padding-bottom: 150px;
	}

	.halls {
		height: 780px;

		& .dropdown {
			width: calc(100% - 64px) !important;

			
		}
	}

	.news {
		padding-top: 200px;
	}

	.location__path {
		height: 100px;
	}

}

@media (max-width: 1550px) {

	.h2 {
		font-size: 4.5rem;
	}

	.h3 {
		font-size: 3.325rem;
	}

	.tag {
		font-size: 16px;
	}

	.numbers {
		font-size: 9.75rem;
	}

	.depkult-logo {
		width: 170px;
	}

	.menu_font {
		font-family: var(--font-title);
		font-size: 4.5rem;
	}

	.main_font {
		font-size: 1.125rem;
	}

	.afisha {
		font-size: 0.875rem;
	}

	.head {

		&__left {

			&_content {
				gap: 68px;


			}

			& .links {

				&__list {
					gap: 1.125rem;
				}

				&__item {
					width: 26px;
					height: 26px;

					& svg {
						width: 85%;
					}
				}

				&.head__left .links:nth-child(2) {
					margin-left: 20px;
				}
			}
		}

		&__right {

			&_content {
				padding-bottom: 26px;
			}
		}

		&__logo {
			height: 97px;
		}

		&__languages {
			font-size: 1.125rem;
		}
	}

	.btn {
		&_menu {
			width: 52px;
			height: 52px;
			// margin-right: -16px;

			& svg {
				width: 21px;
			}
		}

		&_social {
			width: 140px;
			height: 140px;
		}
	}

	.nav-link {
		font-size: 1.125rem;
	}

	.foot {

		&__nav {
			width: 28%;

			&_link {
				font-size: 1.75rem;
			}
		}

		&__contacts {

			&_phone {
				// width: 28%;
			}

			&_addr {
				font-size: 1.125rem;
			}
		}

		&__copy {

			&_nav {

				&_link {
					font-size: 0.875rem;
				}
			}
		}
	}

	.scls {

		&__title {
			font-size: 22px;
		}
	}

	.mobile {

		&__head {

			& .head {

				& .container {
					padding-bottom: 4px;
				}

				&__right {

					&_content {
						justify-content: flex-end;
						gap: 90px;
					}
				}
			}
		}

		&__nav {

			&_title {
				font-size: 2.625rem;
			}
		}

		&__body {

			&_cols {
				padding-top: 140px;
			}
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 26px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 22px;
		width: 22px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		transition: 0.4s;
		transform: translateX(24px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 40px;
	}

	.fs {

		& .container {
			padding-top: 145px;

		}
	}

	.events {
		padding-top: 104px;
		padding-bottom: 140px;
	}

	.halls {
		height: 720px;
	}

	.news {
		padding-top: 180px;
	}

}

@media (max-width: 1440px) {

	.h2 {
		font-size: 4rem;
	}

	.h3 {
		font-size: 3rem;
	}

	h5 {
		font-size: 1.5rem;
	}

	.tag {
		font-size: 14px;
		padding: 6px 12px;
	}

	.date {
		font-size: 2.625rem;
		line-height: 1;
	}

	.date_xl {
		font-size: 4.75rem;
		letter-spacing: -2px;
	}

	.numbers {
		font-size: 8.75rem;

		&_xl {
			font-size: 21rem;
		}
	}

	.menu_font {
		font-family: var(--font-title);
		font-size: 4rem;
	}

	.main_font {
		font-size: 1rem;
	}

	.time {
		font-size: 1.5rem;
	}

	.afisha {
		font-size: 0.75rem;
	}

	.container {
		max-width: 1344px;
	}

	.row {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}

	.col {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.depkult-logo {
		width: 155px;
	}

	.head {

		& .container {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		& .btn_menu {
			margin-right: -14px;
		}

		&__left {

			&_content {
				gap: 70px;
				padding-bottom: 8px;


			}

			& .links {
				gap: 1rem;

				&__list {
					gap: 1rem;
				}

				&__item {
					width: 24px;
					height: 24px;

					& svg {
						width: 85%;
						height: 85%;
					}
				}

				&:nth-child(2) {
					margin-left: 0px;
				}
			}
		}

		&__nav {
			&_list {
				gap: 32px;
			}
		}

		&__right {

			&_content {
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}

		&__logo {
			height: 85px;
			margin-left: -1.25rem;
		}

		&__languages {
			font-size: 1rem;
		}
	}

	.btn {
		font-size: 1rem;
		padding: 21px 48px;

		&_menu {
			width: 48px;
			height: 48px;
			padding: 0;
			// margin-right: -14px;

			& svg {
				width: 19px;
				height: 14px;
			}
		}

		&_slider {
			width: 64px;
			height: 64px;
		}

		&_social {
			width: 128px;
			height: 128px;

			& svg {
				width: 20px;

				&.tg {
					width: 15px;
				}
			}
		}

		&_slim {
			padding: 14px 40px;
		}

		&_tab {
			padding: 21px 36px;
		}
	}

	.nav-link {
		font-size: 1rem;
	}

	.foot {

		& .container {
			padding-bottom: 40px;
		}

		&__left {

			&_content {
				padding-top: 37px;
				padding-bottom: 30px;
			}
		}

		&__right {

			&_content {
				padding-top: 32px;
				padding-bottom: 22px;
			}
		}

		&__nav {
			width: 27%;

			&_list {
				gap: 16px;
			}

			&_link {
				font-size: 1.5rem;
			}
		}

		&__contacts {

			&_phone {
				// width: 27%;
			}

			&_addr {
				font-size: 1rem;
			}
		}

		&__copy {
			padding-top: 30px;

			&_text {
				max-width: 285px;
			}

			&_nav {

				&_list {
					gap: 6px;
				}

				&_link {
					font-size: 0.75rem;
				}
			}
		}
	}

	.scls {
		gap: 16px;
		margin-bottom: -17px;

		&__title {
			max-width: 308px;
			font-size: 20px;
		}
	}

	.tags {
		gap: 6px;
	}

	.mobile {

		&__head {
			& .container {
				padding-bottom: 8px;
			}

			& .head {



				&__right {

					&_content {
						justify-content: flex-end;
						gap: 80px;
						padding-bottom: 22px;
					}
				}
			}
		}

		&__nav {

			&:nth-child(2) {
				margin-left: -24px;
			}

			&:nth-child(3) {
				margin-left: -18px;
			}

			&:nth-child(4) {
				margin-right: -24px;
			}

			&:nth-child(5) {
				margin-right: 0px;
			}

			&_title {
				font-size: 2.375rem;
				margin-bottom: 1.375rem;
			}

			&_list {
				gap: 16px;
			}
		}

		&__scls {
			gap: 8px;
		}

		&__body {

			&_cols {
				padding-top: 120px;
			}
		}
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 47px;
		height: 24px;
	}

	.swiper-nav {
		gap: 8px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 2px;
		bottom: 2px;
		background-color: white;
		transition: 0.4s;
		transform: translateX(22px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 40px;
	}

	.fs {

		&_index {
			max-height: 800px;
		}
		

		& .container {
			padding-top: 126px;
			padding-bottom: 48px;
		}

		&__slide {

			&_icon {
				height: 85%;
			}

			&_tags {
				gap: 8px;
			}

			&_left {
				gap: 60px;
				width: calc((100% - 24px) / 24 * 13);
			}

			&_desc {
				width: calc((100% - 36px) / 24 * 10);
			}

			&_date {
				gap: 16px;

				& .day {
					font-size: 1.5rem;
				}
			}

			&_text {

				& .btn {
					margin-top: 48px;
				}
			}

			&_control {
				width: calc((100% - 36px) / 24 * 10);
			}
		}

		&__content {

			&_slider {
				& .swiper-nav {
					gap: 8px;
				}
			}
		}
	}

	.events {
		padding-top: 96px;
		padding-bottom: 123px;

		&__content {

			&_row {
				padding: 30px 0;
			}
		}

		&__title {
			margin-bottom: 57px;
		}

		&__date {
			margin-top: 0.5rem;
			width: calc((100% - 75px) / 24 * 7);

			& .date_xl {
				line-height: 0.9;
			}

			& .day {
				font-size: 1.5rem;
				line-height: 0.75;
			}
		}

		&__list {
			// width: calc((100% - 24px) / 24 * 17);
		}

		&__item {
			gap: 42px;
			padding-top: 32px;
			padding-bottom: 32px;

			&_preview {
				width: calc((100% - 48px) / 17 * 6);
			}

			&_info {
				width: calc((100% - 16px) / 17 * 10);
			}

			&_time {
				gap: 8px;
			}

			&_desc {
				width: 61%;
			}
		}

		&__more {
			margin-top: 3rem;
		}
	}

	.halls {
		height: 640px;

		&__slider {

			&_desc {

				& .swiper-nav {
					right: 48px;
					bottom: 40px;
					gap: 8px;
				}
			}
		}

		&__slide {
			padding: 63px 24px 42px 0;

			&_text {
				gap: 3rem;
			}


		}

		& .dropdown {
			bottom: 40px !important;
		}
	}

	.news {
		padding-top: 160px;
		padding-bottom: 160px;

		&__title {
			margin-bottom: 3rem;
		}

		&__slide {
			padding-top: 1.5rem;
			gap: 35px;

			&_date {
				gap: 1rem;
				margin-bottom: 30px;
			}

			&_preview {
				height: 250px;
			}
		}

		&__more {
			margin-top: 1.5rem;
		}
	}

	.about {
		margin-bottom: 46px;

		&__title {
			align-items: center;
			margin-bottom: 76px;
		}

		&__subtitle {
			font-size: 20px;
			width: calc((100% - 50px) / 24 * 8);
		}

		&__nums {
			transform: translateY(-46%);
			padding: 51px 48px 0;

			&_item {
				gap: 36px;

				&:nth-child(2n) {
					gap: 54px;
				}
			}

			&_text {
				width: 100px;
			}
		}
	}

	.location {
		min-height: 800px;
		margin-bottom: 0;

		&__path {
			height: 100px;
		}

		&__slides {

			&_btn {
				width: 138px;
				height: 138px;
			}

			&_icon {
				width: 334px;
				margin-bottom: 36px;

				& .text {
					margin-top: 0;
				}
			}
		}

		&__ellipse {
			left: 48px;

			&-sm {
				left: 48px;
			}
		}

		&__content {
			padding: 130px 0;

			&_top {
				margin-bottom: 10px;
			}

			&_title {
				width: calc((100% - 45px) / 24 * 11);
			}

			&_subtitle {
				font-size: 1.25rem;
			}
		}

		&__more {
			width: calc((100% - 64px) / 24 * 4);
		}
	}

	.pagination {
		&_tabs {
			bottom: 40px !important;
		}
	}
}