@media (max-width: 1650px) {
	.depkult-logo {
		width: 195px;
	}

	.menu_font {
		font-family: var(--font-title);
		font-size: 4.875rem;
	}

	.head {

		&__left {

			&_content {
				gap: 72px;

			
			}

			& .links {

				&__list {
					gap: 1.25rem;
				}

				&__item {
					width: 28px;
					height: 28px;

					& svg {
						width: 85%;
					}
				}

				&.head__left .links:nth-child(2) {
					margin-left: 20px;
			  }
			}
		}

		&__right {

			&_content {
				padding-bottom: 27px;
			}
		}

		&__logo {
			height: 101px;
		}

		&__languages {
			font-size: 1.25rem;
		}
	}

	.btn {
		&_menu {
			width: 56px;
			height: 56px;
			margin-right: -16px;

			& svg {
				width: 22px;
			}
		}

		&_social {
			width: 160px;
			height: 160px;
		}
	}

	.nav-link {
		font-size: 1.25rem;
	}

	.foot {

		&__nav {
			width: 29%;

			&_link {
				font-size: 1.875rem;
			}
		}

		&__contacts {

			&_phone {
				width: 29%;
			}
			
			&_addr {
				font-size: 1.25rem;
			}
		}
	}

	.scls {

		&__title {
			font-size: 24px;
		}
	}

}

@media (max-width: 1550px) {

	.depkult-logo {
		width: 170px;
	}

	.menu_font {
		font-family: var(--font-title);
		font-size: 4.5rem;
	}

	.afisha {
		font-size: 0.875rem;
	}

	.head {

		&__left {

			&_content {
				gap: 68px;

			
			}

			& .links {

				&__list {
					gap: 1.125rem;
				}

				&__item {
					width: 26px;
					height: 26px;

					& svg {
						width: 85%;
					}
				}

				&.head__left .links:nth-child(2) {
					margin-left: 20px;
			  }
			}
		}

		&__right {

			&_content {
				padding-bottom: 26px;
			}
		}

		&__logo {
			height: 97px;
		}

		&__languages {
			font-size: 1.125rem;
		}
	}

	.btn {
		&_menu {
			width: 52px;
			height: 52px;
			margin-right: -16px;

			& svg {
				width: 21px;
			}
		}

		&_social {
			width: 140px;
			height: 140px;
		}
	}

	.nav-link {
		font-size: 1.125rem;
	}

	.foot {

		&__nav {
			width: 28%;

			&_link {
				font-size: 1.75rem;
			}
		}

		&__contacts {

			&_phone {
				width: 28%;
			}

			&_addr {
				font-size: 1.125rem;
			}
		}

		&__copy {

			&_nav {

				&_link {
					font-size: 0.875rem;
				}
			}
		}
	}

	.scls {

		&__title {
			font-size: 22px;
		}
	}

}

@media (max-width: 1440px) {

	.menu_font {
		font-family: var(--font-title);
		font-size: 4rem;
	}

	.afisha {
		font-size: 0.75rem;
	}

	.container {
		max-width: 1344px;
	}

	.row {
		margin-left: -0.75rem;
		margin-right: -0.75rem;
	}

	.col {
		padding-left: 0.75rem;
		padding-right: 0.75rem;
	}

	.depkult-logo {
		width: 155px;
	}

	.head {

		& .container {
			padding-top: 16px;
			padding-bottom: 16px;
		}

		&__left {

			&_content {
				gap: 70px;
				padding-bottom: 8px;

				
			}

			& .links {
				gap: 1rem;

				&__list {
					gap: 1rem;
				}

				&__item {
					width: 24px;
					height: 24px;

					& svg {
						width: 85%;
						height: 85%;
					}
				}

				&:nth-child(2) {
					margin-left: 0px;
			  }
			}
		}

		&__nav {
			&_list {
				gap: 32px;
			}
		}

		&__right {

			&_content {
				padding-top: 12px;
				padding-bottom: 24px;
			}
		}

		&__logo {
			height: 85px;
			margin-left: -1.25rem;
		}

		&__languages {
			font-size: 1rem;
		}
	}

	.btn {
		&_menu {
			width: 48px;
			height: 48px;
			margin-right: -14px;

			& svg {
				width: 19px;
				height: 14px;
			}
		}

		&_social {
			width: 128px;
			height: 128px;

			& svg {
				width: 20px;

				&.tg {
					width: 15px;
				}
			}
		}
	}

	.nav-link {
		font-size: 1rem;
	}

	.foot {

		&__left {

			&_content {
				padding-top: 37px;
				padding-bottom: 27px;
			}
		}

		&__nav {
			width: 27%;

			&_link {
				font-size: 1.5rem;
			}
		}

		&__contacts {

			&_phone {
				width: 27%;
			}

			&_addr {
				font-size: 1rem;
			}
		}

		&__copy {

			&_text {
				max-width: 285px;
			}

			&_nav {

				&_list {
					gap: 4px;
				}
				
				&_link {
					font-size: 0.75rem;
				}
			}
		}
	}

	.scls {
		gap: 16px;
		margin-bottom: -20px;

		&__title {
			max-width: 308px;
			font-size: 20px;
		}
	}
}