@keyframes fadeInUpSm {
  0% {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes blackToWhite {
  from {
    background-color: var(--clr-black);
  }
  to {
    background-color: var(--clr-white);
  }
}
@keyframes whiteToBlack {
  from {
    background-color: var(--clr-black);
  }
  to {
    background-color: var(--clr-white);
  }
}