.dark {
  color: var(--clr-white);
}
.dark #canvas {
  background: var(--clr-black);
}
.dark a {
  color: var(--clr-white);
}
.dark a:hover {
  color: var(--clr-white-40);
}
.dark .light_text {
  color: var(--clr-white-40);
}
.dark .btn {
  background: var(--clr-white-10);
  color: var(--clr-white);
}
.dark .btn svg path {
  fill: var(--clr-white);
}
.dark .btn:hover {
  color: var(--clr-gray);
  background: var(--clr-white);
}
.dark .btn:hover svg path {
  fill: var(--clr-black);
}
.dark .btn_slider svg path {
  fill: none;
  stroke: var(--clr-white);
}
.dark .btn_slider:hover {
  color: var(--clr-gray);
  background: var(--clr-white);
}
.dark .btn_slider:hover svg path {
  fill: none;
  stroke: var(--clr-black);
}
.dark .btn_slider:hover .line {
  background: var(--clr-black);
}
.dark .btn_slider .line {
  background: var(--clr-white);
}
.dark .btn_color {
  background: var(--clr-tag-opera);
  color: var(--clr-white);
}
.dark .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-white);
}
.dark .btn:disabled {
  border-color: var(--clr-white-20);
  color: var(--clr-white-20);
}
.dark .btn_with-icon {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  border-color: var(--clr-white-20);
}
.dark .btn_with-icon svg {
  width: 19px;
  flex-shrink: 0;
}
.dark .btn_with-icon:hover {
  border-color: var(--clr-white);
}
.dark .btn_menu .line {
  background: var(--clr-white);
}
.dark .btn_tab.active {
  color: var(--clr-black);
}
.dark .link {
  color: var(--clr-white);
}
.dark .link:hover {
  border-color: var(--clr-white);
}
.dark label {
  color: var(--clr-white);
}
.dark label input[type=checkbox]:checked + span.checkbox {
  background: var(--clr-white);
  border-color: var(--clr-white);
}
.dark label input[type=checkbox]:checked + span.checkbox svg {
  visibility: visible;
  opacity: 1;
}
.dark label.label_text:hover {
  color: var(--clr-white);
}
.dark label.label_text:hover input {
  border-color: var(--clr-white);
}
.dark label.label_text:hover input::-moz-placeholder {
  color: transparent;
}
.dark label.label_text:hover input::placeholder {
  color: transparent;
}
.dark label.label_text:hover input:focus::-moz-placeholder {
  color: var(--clr-white-40);
}
.dark label.label_text:hover input:focus::placeholder {
  color: var(--clr-white-40);
}
.dark label input[type=radio]:checked + span.checkbox {
  background: var(--clr-white);
  border-color: var(--clr-white);
}
.dark label input[type=text], .dark label input[type=email], .dark label input[type=tel], .dark label input[type=search] {
  border-color: var(--clr-white-40);
  color: var(--clr-white);
}
.dark label span.placeholder {
  color: var(--clr-white-40);
}
.dark label span.checkbox {
  border: 1px solid var(--clr-white-10);
  background: var(--clr-white-10);
}
.dark label span.checkbox svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.dark label span.checkbox svg path {
  fill: var(--clr-white);
}
.dark label:hover span.checkbox {
  border-color: var(--clr-white);
}
.dark label.disabled {
  color: var(--clr-white-10);
}
.dark .tag_card {
  border-color: var(--clr-white-40);
  color: var(--clr-white-40);
}
.dark .mobile {
  background: var(--clr-black);
}
.dark .mobile__wave svg path:not(:last-child) {
  stroke: #FBFBFB;
}
.dark .mobile__wave svg path:last-child {
  fill: #101010;
}
.dark .head .logo svg path {
  fill: var(--clr-white);
  stroke: none !important;
}
.dark .head.fixed {
  background: var(--clr-black);
  color: var(--clr-white);
}
.dark .head.fixed svg path {
  stroke: var(--clr-white);
}
.dark .head.fixed .light-logo {
  display: none;
}
.dark .head.fixed .dark-logo {
  display: flex;
}
.dark .head.fixed .btn_menu {
  background: var(--clr-white-10);
}
.dark .head.fixed .btn_menu:hover {
  background: var(--clr-white);
}
.dark .head.fixed .btn_menu:hover .line {
  background-color: var(--clr-black);
}
.dark .head.fixed .btn_menu .line {
  background-color: var(--clr-white);
}
.dark .head.fixed .nav-link {
  color: var(--clr-white);
}
.dark .head.fixed .nav-link:hover {
  color: var(--clr-white-40);
}
.dark .head.fixed .head__languages {
  color: var(--clr-white-40);
}
.dark .head.fixed .head__languages .dropdown__value:hover {
  color: var(--clr-white);
}
.dark .head__left .links__item svg path {
  stroke: #FBFBFB;
}
.dark .head .light-logo {
  display: flex;
}
.dark .head .dark-logo {
  display: none;
}
.dark .head__languages {
  color: var(--clr-white-40);
}
.dark .head__languages .dropdown__list {
  background: var(--clr-black);
}
.dark .head__languages .dropdown__item a {
  color: var(--clr-white-40);
}
.dark .halls__slide {
  background: var(--clr-black);
}
.dark .about__img .dark {
  opacity: 1;
}
.dark .location__path_icon svg path {
  fill: #101010;
}
.dark .scls__title {
  color: var(--clr-white);
}
.dark .scroll_top .icon svg path {
  fill: var(--clr-white);
}
.dark .scroll_top_btn {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  pointer-events: all;
}
.dark .scroll_top_btn svg path {
  fill: var(--clr-white);
  transition: all 0.5s;
}
.dark .scroll_top_btn:hover {
  transform: translateY(-5px);
}
.dark .scroll_top_btn:hover svg path {
  fill: var(--clr-black);
}
.dark .scroll_top_btn:hover + .icon svg {
  transform: scaleY(1.2);
}
.dark .scroll_top_btn:hover + .icon svg path {
  fill-opacity: 0.9 !important;
}
.dark .leaders__desc_slide {
  background: var(--clr-black);
}
.dark .accordion__item.active .btn_slider {
  background: var(--clr-white);
}
.dark .accordion__item.active .btn_slider .line {
  background: var(--clr-black);
}
.dark .popup__content {
  background: var(--clr-black);
}
.dark .form_success {
  background: var(--clr-black);
}
.dark .form_success_img {
  display: none;
}
.dark .form_success_img.dark {
  display: block;
}