.dark-theme .btn {
  background: var(--clr-white-10);
  color: var(--clr-white);
}
.dark-theme .btn svg path {
  fill: var(--clr-white);
}
.dark-theme .btn:hover {
  color: var(--clr-gray);
  background: var(--clr-white);
}
.dark-theme .btn:hover svg path {
  fill: var(--clr-black);
}
.dark-theme .btn:disabled {
  border-color: var(--clr-white-20);
  color: var(--clr-white-20);
}
.dark-theme .btn_with-icon {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  border-color: var(--clr-white-20);
}
.dark-theme .btn_with-icon svg {
  width: 19px;
  flex-shrink: 0;
}
.dark-theme .btn_with-icon:hover {
  border-color: var(--clr-white);
}
.dark-theme .link {
  color: var(--clr-white);
}
.dark-theme .link:hover {
  border-color: var(--clr-white);
}
.dark-theme label {
  color: var(--clr-white);
}
.dark-theme label input[type=checkbox]:checked + span.checkbox {
  background: var(--clr-white);
  border-color: var(--clr-white);
}
.dark-theme label input[type=checkbox]:checked + span.checkbox svg {
  visibility: visible;
  opacity: 1;
}
.dark-theme label.label_text:hover {
  color: var(--clr-white);
}
.dark-theme label.label_text:hover input {
  border-color: var(--clr-white);
}
.dark-theme label.label_text:hover input::-moz-placeholder {
  color: transparent;
}
.dark-theme label.label_text:hover input::placeholder {
  color: transparent;
}
.dark-theme label.label_text:hover input:focus::-moz-placeholder {
  color: var(--clr-white-40);
}
.dark-theme label.label_text:hover input:focus::placeholder {
  color: var(--clr-white-40);
}
.dark-theme label input[type=radio]:checked + span.checkbox {
  background: var(--clr-white);
  border-color: var(--clr-white);
}
.dark-theme label input[type=text], .dark-theme label input[type=email], .dark-theme label input[type=tel] {
  border-color: var(--clr-white-40);
}
.dark-theme label span.placeholder {
  color: var(--clr-white-40);
}
.dark-theme label span.checkbox {
  border: 1px solid var(--clr-white-10);
  background: var(--clr-white-10);
}
.dark-theme label span.checkbox svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.dark-theme label span.checkbox svg path {
  fill: var(--clr-white);
}
.dark-theme label:hover span.checkbox {
  border-color: var(--clr-white);
}
.dark-theme label.disabled {
  color: var(--clr-white-10);
}