html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
b,
u,
i,
ol,
ul,
li,
form,
label,
caption,
article,
footer,
header,
nav,
section,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

ul,
li,
img {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

textarea {
  resize: none;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button,
label,
div {
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

textarea,
button,
input {
  line-height: normal;
  background: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none !important;
  background: rgba(255, 255, 255, 0);
  -webkit-transition: all 5000s ease-in-out;
  transition: all 5000s ease-in-out;
}

input:active,
input:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none !important;
}

html {
  font-size: var(--font-size);
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-width: 320px;
  margin: 0;
  overflow-x: hidden;
  color: var(--clr-black);
  font-size: var(--font-size);
  font-family: var(--font-accent);
  line-height: 0.4;
  background: var(--clr-white);
}

a {
  color: var(--clr-black);
  text-decoration: none;
}

::-moz-selection {
  color: #fff;
}

::selection {
  color: #fff;
}

:focus {
  outline: none !important;
}

input,
textarea,
button,
select,
a {
  margin: 0;
  padding: 0;
  border: none;
  outline: none !important;
  font-size: 1em;
  font-family: inherit;
  background: none;
  box-shadow: none;
}

input,
button,
select {
  line-height: 1;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*[class$=__media] {
  flex-shrink: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

* {
  -webkit-tap-highlight-color: transparent !important;
}

textarea {
  overflow: auto;
  resize: none;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
form {
  display: block;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  /* gap: var(--main-content-gap); */
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

h1,
.h1,
.text-content h1 {
  font-family: var(--font-title);
  font-size: 10rem;
  line-height: 1;
  letter-spacing: 0px;
}

h2,
.h2,
.text-content h2 {
  font-family: var(--font-title);
  font-size: 5.25rem;
  line-height: 1;
}

h3,
.h3,
.text-content h3 {
  font-family: var(--font-title);
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0px;
}

h4,
.h4,
.text-content h4 {
  font-family: var(--font-title);
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0px;
}

h5,
.h5,
.text-content h5 {
  font-family: var(--font-accent);
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0px;
}

.numbers {
  font-family: var(--font-title);
  font-size: 11.625rem;
  line-height: 0.8;
  letter-spacing: 0px;
  white-space: nowrap;
}

.numbers_xl {
  font-family: var(--font-title);
  font-size: 30rem;
  line-height: 0.8;
  letter-spacing: 0px;
}

.numbers_sm {
  font-family: var(--font-title);
  font-size: 5.25rem;
  line-height: 1;
  letter-spacing: 0px;
}

.numbers_xs {
  font-family: var(--font-title);
  font-size: 4rem;
  line-height: 1;
  letter-spacing: 0px;
}

.date_xl {
  font-family: var(--font-accent);
  font-size: 6rem;
  line-height: 1.3;
  letter-spacing: -0.5px;
}

.date {
  font-family: var(--font-accent);
  font-size: 3.5rem;
  line-height: 1.2;
  letter-spacing: -1px;
}

.lead {
  font-family: var(--font-accent);
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0%;
}

.afisha {
  line-height: 1.6;
  letter-spacing: 0%;
}

.sm_font {
  font-size: 0.875rem;
}

.menu_font {
  font-family: var(--font-title);
  font-size: 5.25rem;
}

.xs_font {
  font-size: 0.75rem;
  line-height: 1.6;
  letter-spacing: 0%;
}

.sm_font {
  font-size: 1rem;
  line-height: 1.4;
}

.m_font {
  font-size: 1.125rem;
  line-height: 1.4;
}

.main_font {
  font-size: 1.375rem;
  line-height: 1.4;
}

.light_text {
  color: var(--clr-black-40);
}

.white_text {
  color: var(--clr-white);
}

.swiper-pagination {
  top: calc(100% + 24px) !important;
  bottom: auto !important;
  visibility: hidden;
}

.swiper-pagination-bullet-active {
  background: rgb(16, 16, 16);
}