.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  padding: 21px 48px;
  background: var(--clr-black-5);
  border-radius: 73px;
}
.btn:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}
.btn:hover svg path {
  fill: var(--clr-white);
}
.btn:disabled {
  border: 1px solid var(--clr-black-10);
  background: rgba(0, 0, 0, 0);
  color: var(--clr-gray);
}
.btn:disabled svg path {
  fill: var(--clr-gray);
}
.btn_color {
  background: var(--clr-opera);
  color: var(--clr-white);
}
.btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-opera-opacity);
}
.btn svg {
  transition: all 0.5s;
}
.btn svg path {
  transition: all 0.5s;
}
.btn_social {
  padding: 52px;
  border-radius: 50%;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.btn_social:hover {
  background: var(--clr-black);
}
.btn_social:hover svg path {
  fill: var(--clr-white);
}
.btn_with-icon {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  border: var(--border);
}
.btn_with-icon svg {
  width: 19px;
  flex-shrink: 0;
}
.btn_with-icon:hover {
  border-color: var(--clr-black);
}
.btn_slim {
  padding: 21px 40px;
  border-radius: 40px;
}
.btn_slider {
  padding: 24px;
  border-radius: 50%;
}
.btn_menu {
  position: relative;
  padding: 0px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: -20px;
}
.btn_menu svg {
  width: 24px;
  height: 16px;
}
.btn_outline {
  padding: 20px 32px;
  border: var(--border);
  border-radius: 40px;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.btn_outline:hover {
  color: var(--clr-black);
  background: var(--clr-black-5);
  border-color: var(--clr-black-5);
}
.btn_outline:hover svg path {
  fill: var(--clr-black);
}

.link {
  color: var(--clr-black);
  display: flex;
  border-bottom: 1px solid var(--clr-black-40);
  transition: all var(--transition);
}
.link:hover {
  border-color: var(--clr-black);
}
.link:disabled, .link.disabled {
  color: var(--clr-black-40);
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
label.label_check {
  cursor: pointer;
}
label input[type=radio] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
label input[type=radio]:checked + span.radio {
  background: var(--clr-black);
  border: 4px solid var(--clr-black);
  border-radius: 50%;
}
label input[type=radio]:checked + span.radio svg {
  visibility: visible;
  opacity: 1;
}
label input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
label input[type=checkbox]:checked + span.checkbox {
  background: var(--clr-black);
  border-color: var(--clr-black);
}
label input[type=checkbox]:checked + span.checkbox svg {
  visibility: visible;
  opacity: 1;
}
label span.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}
label span.checkbox svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
label:hover span.checkbox {
  border-color: var(--clr-black);
}
label.disabled {
  color: var(--clr-gray);
}
label input[type=text], label input[type=email], label input[type=tel] {
  width: 100%;
  display: block;
  padding: 22px 0 16px;
  border-bottom: 1px solid var(--clr-gray);
}
label input[type=text].error, label input[type=email].error, label input[type=tel].error {
  color: var(--clr-error);
  border-color: rgba(239, 60, 13, 0.5);
}
label input[type=text].error + span.error, label input[type=email].error + span.error, label input[type=tel].error + span.error {
  opacity: 1;
  visibility: visible;
}
label span.placeholder {
  position: absolute;
  color: var(--clr-gray);
  transition: all 0.3s;
  top: 22px;
  pointer-events: none;
}
label span.error {
  position: absolute;
  top: calc(100% + 4px);
  font-size: 0.875rem;
  color: rgba(239, 60, 13, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
label.label_text:hover {
  color: var(--clr-black);
}
label.label_text:hover input {
  border-color: var(--clr-black);
}
label.label_text:hover input::-moz-placeholder {
  color: transparent;
}
label.label_text:hover input::placeholder {
  color: transparent;
}
label.label_text:hover input:focus::-moz-placeholder {
  color: var(--clr-gray);
}
label.label_text:hover input:focus::placeholder {
  color: var(--clr-gray);
}
label span.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}
label span.radio svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
label.label_radio {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1792px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  width: 4.1666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}