.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  padding: 26px 65px;
  background: var(--clr-black-5);
  border-radius: 73px;
  font-size: 1.375rem;
  line-height: 1.4;
  white-space: nowrap;
  flex-shrink: 0;
}
.btn:hover {
  background: var(--clr-black);
  color: var(--clr-white);
}
.btn:hover svg path {
  fill: var(--clr-white);
}
.btn:disabled {
  border: 1px solid var(--clr-black-10);
  background: rgba(0, 0, 0, 0);
  color: var(--clr-gray);
}
.btn:disabled svg path {
  fill: var(--clr-gray);
}
.btn_dark {
  background: var(--clr-black);
  color: var(--clr-white);
}
.btn_dark:hover {
  background: var(--clr-black-40);
}
.btn_light {
  background: var(--clr-white-20);
  color: var(--clr-white);
}
.btn_light:hover {
  color: var(--clr-black);
  background: var(--clr-white);
}
.btn_color {
  background: var(--clr-tag-opera);
  color: var(--clr-white);
}
.btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-opera-opacity);
}
.btn svg {
  transition: all 0.5s;
}
.btn svg path {
  transition: all 0.5s;
}
.btn_social {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.btn_social:hover {
  background: var(--clr-black);
}
.btn_social:hover svg path {
  fill: var(--clr-white);
}
.btn_play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: var(--clr-white-10);
  -webkit-backdrop-filter: blur(74.75px);
          backdrop-filter: blur(74.75px);
  flex-shrink: 0;
  padding: 0 !important;
  justify-content: center;
}
.btn_play:hover {
  background: var(--clr-black);
}
.btn_play:hover svg path {
  fill: var(--clr-white);
}
.btn_play span {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_filter {
  background: none;
  padding: 0;
  width: 85px;
  height: 85px;
  border: 1px solid rgb(16, 16, 16);
}
.btn_filter:hover {
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  color: var(--clr-black);
}
.btn_filter:hover svg path {
  fill: var(--clr-black);
}
.btn_filter svg {
  width: 24px;
  height: 24px;
}
.btn_filter_icon {
  padding: 27px 44px;
  width: auto;
  height: auto;
  gap: 20px;
}
.btn_with-icon {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  border: var(--border);
}
.btn_with-icon svg {
  width: 19px;
  flex-shrink: 0;
}
.btn_with-icon:hover {
  border-color: var(--clr-black);
}
.btn_trans {
  gap: 10px;
  padding: 20px 24px 20px 32px;
  background: var(--clr-white);
  border: 1px solid rgb(219, 219, 219);
}
.btn_trans svg {
  width: 22px;
  flex-shrink: 0;
}
.btn_trans svg path {
  fill: var(--clr-black-40) !important;
}
.btn_trans:hover {
  background: var(--clr-white);
  border-color: var(--clr-black);
  color: var(--clr-black-40);
}
.btn_slim {
  padding: 18px 48px;
  border-radius: 40px;
}
.btn_slider {
  padding: 0 !important;
  border-radius: 50%;
  width: 84px;
  height: 84px;
}
.btn_slider:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.btn_slider .lines {
  position: relative;
  display: block;
}
.btn_slider .lines .line {
  display: block;
  width: 24px;
  height: 1px;
  background: var(--clr-black);
  transition: all 0.5s;
}
.btn_slider .lines .line:last-child {
  transform: rotate(90deg);
}
.btn_slider:hover .line {
  background: var(--clr-white);
}
.btn_slider_tab {
  background: none;
}
.btn_slider_tab:hover {
  background: var(--clr-black-5);
}
.btn_menu {
  position: relative;
  padding: 0px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.btn_menu .lines {
  display: flex;
  flex-direction: column;
  width: 24px;
  height: 16px;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}
.btn_menu .line {
  display: block;
  position: absolute;
  height: 1px;
  background: var(--clr-black);
  transition: all 0.5s;
}
.btn_menu .line-1 {
  width: 100%;
  top: 0;
}
.btn_menu .line-2 {
  width: 60%;
  top: 50%;
}
.btn_menu .line-3 {
  width: 100%;
  bottom: 0;
}
.btn_menu:hover .line {
  background: var(--clr-white);
}
.btn_menu:hover .line-1 {
  animation-name: slideTo;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
.btn_menu:hover .line-2 {
  animation-name: slideFrom;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.2s;
}
.btn_menu:hover .line-3 {
  animation-name: slideTo;
  animation-duration: 0.9s;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-delay: 0.4s;
}
.btn_menu.active .line-1 {
  width: 100%;
  transform: rotate(45deg);
  top: calc(50% - 1px);
  animation-name: none;
}
.btn_menu.active .line-2 {
  opacity: 0;
}
.btn_menu.active .line-3 {
  width: 100%;
  transform: rotate(-45deg);
  bottom: calc(50% - 1px);
  animation-name: none;
}
.btn_outline {
  padding: 20px 32px;
  border: var(--border);
  border-radius: 40px;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.btn_outline:hover {
  color: var(--clr-black);
  background: var(--clr-black-5);
  border-color: var(--clr-black-5);
}
.btn_outline:hover svg path {
  fill: var(--clr-black);
}
.btn_tab {
  background: none;
  padding: 26px 48px;
  color: var(--clr-white);
}
.btn_tab.active {
  color: var(--clr-black);
}
.btn_tab:hover {
  background: var(--clr-white);
  color: var(--clr-black);
}

@keyframes slideTo {
  from {
    width: 100%;
  }
  50% {
    width: 60%;
  }
  to {
    width: 100%;
  }
}
@keyframes slideFrom {
  from {
    width: 60%;
  }
  50% {
    width: 100%;
  }
  to {
    width: 60%;
  }
}
.link {
  color: var(--clr-black);
  display: flex;
  border-bottom: 1px solid var(--clr-black-40);
  transition: all var(--transition);
}
.link:hover {
  border-color: var(--clr-black);
}
.link:disabled, .link.disabled {
  color: var(--clr-black-40);
}

label {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
}
label.label_check {
  cursor: pointer;
}
label input[type=radio] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
label input[type=radio]:checked + span.radio {
  background: var(--clr-black);
  border: 4px solid var(--clr-black);
  border-radius: 50%;
}
label input[type=radio]:checked + span.radio svg {
  visibility: visible;
  opacity: 1;
}
label input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
label input[type=checkbox]:checked + span.checkbox {
  background: var(--clr-black);
  border-color: var(--clr-black);
}
label input[type=checkbox]:checked + span.checkbox svg {
  visibility: visible;
  opacity: 1;
}
label span.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: var(--radius-sm);
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}
label span.checkbox svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
label:hover span.checkbox {
  border-color: var(--clr-black);
}
label.disabled {
  color: var(--clr-gray);
}
label input[type=text], label input[type=email], label input[type=tel] {
  width: 100%;
  display: block;
  padding: 22px 0 16px;
  border-bottom: 1px solid var(--clr-gray);
}
label input[type=text].error, label input[type=email].error, label input[type=tel].error {
  color: var(--clr-error);
  border-color: rgba(239, 60, 13, 0.5);
}
label input[type=text].error + span.error, label input[type=email].error + span.error, label input[type=tel].error + span.error {
  opacity: 1;
  visibility: visible;
}
label span.placeholder {
  position: absolute;
  color: var(--clr-gray);
  transition: all 0.3s;
  top: 22px;
  pointer-events: none;
}
label span.error {
  position: absolute;
  top: calc(100% + 4px);
  font-size: 0.875rem;
  color: rgba(239, 60, 13, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}
label.label_text:hover {
  color: var(--clr-black);
}
label.label_text:hover input {
  border-color: var(--clr-black);
}
label.label_text:hover input::-moz-placeholder {
  color: transparent;
}
label.label_text:hover input::placeholder {
  color: transparent;
}
label.label_text:hover input:focus::-moz-placeholder {
  color: var(--clr-gray);
}
label.label_text:hover input:focus::placeholder {
  color: var(--clr-gray);
}
label span.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid var(--clr-black-5);
  background: var(--clr-black-5);
  transition: all 0.2s;
  flex-shrink: 0;
}
label span.radio svg {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
label.label_radio {
  cursor: pointer;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1792px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 0 2rem;
}

.section_pt_sm {
  padding-top: 2rem !important;
}

.section_pt_l {
  padding-top: 4.5rem !important;
}

.section_pb_l {
  padding-bottom: 10rem !important;
}

.section_pb_md {
  padding-bottom: 7.5rem !important;
}

.section_pb_sm {
  padding-bottom: 4rem !important;
}

.section_pt_0 {
  padding-top: 0 !important;
}

.section_pb_0 {
  padding-bottom: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.row {
  display: flex;
  margin-left: -1rem;
  margin-right: -1rem;
}

.col {
  width: 4.1666666667%;
  padding-left: 1rem;
  padding-right: 1rem;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.d-flex {
  display: flex;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.nav-link {
  font-size: 1.375rem;
  transition: all 0.3s;
  font-family: var(--font-accent);
  line-height: 1.4;
  white-space: nowrap;
}
.nav-link:hover {
  color: var(--clr-black-40);
}
.nav-link:hover .icon svg path {
  fill: var(--clr-black-40);
}
.nav-link .icon svg {
  transition: all 0.3s;
}
.nav-link .icon svg path {
  transition: all 0.3s;
}

.menu-link {
  line-height: 0.5;
  transition: all 0.5s;
}
.menu-link:hover {
  color: var(--clr-black-40);
}

.download-link {
  display: flex;
  align-items: center;
  gap: 24px;
}
.download-link .text {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
}
.download-link:hover .btn {
  background: var(--clr-black);
}
.download-link:hover .btn svg path {
  stroke: var(--clr-white);
  fill: none;
}
.download-link:hover .text {
  color: var(--clr-black-40);
}

.info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--clr-info);
}
.info .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--clr-info);
}

.error {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.4;
  color: var(--clr-error);
}
.error .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: var(--clr-error);
}

.dropdown {
  position: relative;
}
.dropdown__value {
  width: 100%;
}
.dropdown__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-50%) translateY(-30px);
  transition: all 0.5s;
  left: 50%;
  top: calc(100% + 10px);
  border-radius: 24px;
  padding: 24px 32px;
  background: var(--clr-white);
  box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dropdown.active .dropdown__list {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  max-height: 220px;
  overflow: auto;
  z-index: 10;
}
.dropdown__item {
  line-height: 1.4;
  color: var(--clr-black-40);
  transition: all 0.5s;
  cursor: pointer;
}
.dropdown__item:hover {
  color: var(--clr-black);
}

.dropdown-slider__value {
  display: none;
}
.dropdown-slider__list {
  transform: translate(0);
  transition: all 0.5s;
}
.dropdown-slider__tabs {
  display: flex;
  width: 100%;
  position: static;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 53px;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.dropdown-slider .btn_tab {
  color: var(--clr-black);
}
.dropdown-slider .btn_tab:hover {
  background: var(--clr-black-5);
}
.dropdown-slider .before {
  position: absolute;
  background: var(--clr-black-5);
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 73px;
  transition: left 0.5s;
}
.dropdown-slider.active .dropdown-slider__tabs {
  visibility: visible;
  opacity: 1;
  transform: translateX(-50%) translateY(0px);
  max-height: 220px;
  overflow: auto;
  z-index: 10;
}

.max991 {
  display: none !important;
}

.max360 {
  display: none !important;
}

.hidden {
  overflow: hidden;
}

.tag {
  display: flex;
  padding: 8px 16px;
  border-radius: 40px;
  font-size: 18px;
  line-height: 1.2;
}
.tag_festival {
  border: 1px solid var(--clr-tag-festival);
  color: var(--clr-tag-festival);
  transition: all 0.5s;
}
.tag_festival:hover {
  background: var(--clr-tag-festival-opacity);
}
.tag_lectures {
  border: 1px solid var(--clr-tag-lectures);
  color: var(--clr-tag-lectures);
  transition: all 0.5s;
}
.tag_lectures:hover {
  background: var(--clr-tag-lectures-opacity);
}
.tag_children {
  border: 1px solid var(--clr-tag-children);
  color: var(--clr-tag-children);
  transition: all 0.5s;
}
.tag_children:hover {
  background: var(--clr-tag-children-opacity);
}
.tag_theaters {
  border: 1px solid var(--clr-tag-theaters);
  color: var(--clr-tag-theaters);
  transition: all 0.5s;
}
.tag_theaters:hover {
  background: var(--clr-tag-theaters-opacity);
}
.tag_opera {
  border: 1px solid var(--clr-tag-opera);
  color: var(--clr-tag-opera);
  transition: all 0.5s;
}
.tag_opera:hover, .tag_opera.active {
  background: var(--clr-tag-opera-opacity);
}
.tag_card {
  border: 1px solid var(--clr-black-40);
  color: var(--clr-black-40);
  transition: all 0.5s;
}
.tag_card:hover {
  color: var(--clr-black);
  border-color: var(--clr-black);
}

.time {
  font-size: 2rem;
  line-height: 1.4;
}

.swiper-nav {
  display: flex;
  align-items: center;
  gap: 12px;
}