.fs {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-height: 1080px;
  display: flex;
  position: relative;
}
.fs__images_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  top: 0;
  left: 0;
}
.fs__images_slide.dark {
  position: relative;
}
.fs__images_slide.dark::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.5);
  z-index: 1;
}
.fs__images_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.fs .container {
  flex-grow: 1;
  padding-top: 170px;
  padding-bottom: 48px;
}
.fs__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.fs__content_slider {
  width: 100%;
}
.fs__content_slider .swiper-nav {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  z-index: 10;
  gap: 12px;
}
.fs__content_slider .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_menu {
  background: var(--clr-white-10);
}
.fs__content_slider.light .btn_menu svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_menu:hover {
  background: var(--clr-white);
}
.fs__content_slider.light .btn_menu:hover svg path {
  stroke: var(--clr-black);
  fill: none;
}
.fs__content_slider.light .btn_color {
  background: var(--clr-tag-festival);
  color: var(--clr-white);
}
.fs__content_slider.light .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-festival-opacity);
}
.fs__content_slider.light .date, .fs__content_slider.light .day {
  color: var(--clr-white);
}
.fs__content_slider.light .fs__slide_desc {
  color: var(--clr-white);
}
.fs__content_slider.light .tag_card {
  border: 1px solid var(--clr-white-40);
  color: var(--clr-white-40);
  transition: all 0.5s;
}
.fs__content_slider.light .tag_card:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.fs__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 64px;
}
.fs__slide_content {
  display: flex;
  height: 100%;
  gap: 32px;
  justify-content: space-between;
}
.fs__slide_tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.fs__slide_tags-abs {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.fs__slide_date {
  display: flex;
  line-height: 1.3;
  gap: 12px;
}
.fs__slide_date .day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  height: auto;
  font-size: 32px;
  line-height: 0.8;
}
.fs__slide .date {
  font-size: 4.75rem;
  line-height: 0.75;
}
.fs__slide_icon {
  margin-left: auto;
  margin-right: auto;
  height: 724px;
}
.fs__slide_icon img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fs__slide_bottom {
  display: flex;
  align-items: center;
  gap: 32px;
}
.fs__slide_date {
  width: 54.1666666667%;
}
.fs__slide_control {
  width: calc((100% - 32px) / 24 * 10);
  display: flex;
}
.fs__slide_desc {
  width: calc((100% - 32px) / 24 * 10);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}
.fs__slide_left {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 54.1666666667%;
  justify-content: space-between;
}
.fs__slide_info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex-shrink: 0;
}
.fs__slide_info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fs__slide_text {
  max-width: 430px;
}
.fs__slide_text .btn {
  margin-top: 64px;
}

.events {
  padding-top: 148px;
  padding-bottom: 160px;
}
.events__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.events__content_row {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 2rem;
  justify-content: space-between;
  border-top: 1px solid rgb(219, 219, 219);
  padding: 2rem 0;
}
.events__content_row:last-child {
  border-bottom: 1px solid rgb(219, 219, 219);
}
.events__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}
.events__title .h2 {
  width: 54.1666666667%;
}
.events__period {
  width: calc((100% - 32px) / 24 * 10);
}
.events__date {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: 29.1666666667%;
  position: sticky;
  top: 2rem;
}
.events__date .date {
  line-height: 0.75;
  font-size: 6.25rem;
}
.events__date .day {
  line-height: 0.8;
  font-size: 2rem;
}
.events__list {
  width: 70.8333333333%;
}
.events__item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.events__item:first-child {
  padding-top: 0;
}
.events__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.events__item_top {
  display: flex;
  justify-content: space-between;
}
.events__item_control {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.events__item_control_link {
  display: flex;
  width: 35.2941176471%;
}
.events__item_preview {
  width: 35.2941176471%;
}
.events__item_preview img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.events__item_info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 58.8235294118%;
}
.events__item_desc {
  margin-top: auto;
}
.events__item_time {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.events__item_tags {
  width: 58.8235294118%;
}
.events__more {
  margin-top: 2rem;
  display: flex;
}

.halls {
  height: 855px;
  overflow: hidden;
}
.halls__sliders {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.halls__slider_view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.halls__slider_images {
  width: 58.75%;
  flex-shrink: 0;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.halls__slider_images .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.halls__slider_images .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halls__slider_desc {
  width: 33.3333333333%;
  margin: 0;
  position: relative;
}
.halls__slider_desc .swiper-nav {
  position: absolute;
  z-index: 10;
  right: 64px;
  bottom: 64px;
  display: flex;
  gap: 12px;
}
.halls__slider_desc .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.halls__slider_small {
  position: absolute;
  right: -50%;
  width: 30%;
  height: 30%;
  right: 0;
  transform: translateX(50%);
}
.halls__slide {
  width: 100%;
  padding: 84px 64px 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--clr-white);
}
.halls__slide_title {
  width: 75%;
}
.halls__slide_text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 75%;
}
.halls__slide_link {
  display: flex;
}

.pagination_tabs {
  display: flex;
  position: absolute;
  bottom: 64px !important;
  z-index: 10;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  width: auto !important;
  border-radius: 40px;
  left: auto !important;
  right: auto;
}

.news {
  padding-top: 216px;
  padding-bottom: 216px;
}
.news .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.news__slide {
  display: flex;
  flex-direction: column;
  height: auto;
  gap: 44px;
  padding: 2rem 0;
  border-top: 1px solid rgb(219, 219, 219);
}
.news__slide_date {
  display: flex;
  align-items: baseline;
  gap: 12px;
  margin-bottom: 28px;
}
.news__slide_date .text {
  line-height: 1.4;
}
.news__slide_desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__slide_text {
  margin-top: auto;
}
.news__slide_preview {
  height: 330px;
}
.news__slide_preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__more {
  margin-top: 2rem;
  display: flex;
}

.about {
  padding-bottom: 161px;
  position: relative;
  margin-bottom: 107px;
}
.about__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 110px;
}
.about__title .h3 {
  width: 45.8333333333%;
}
.about__subtitle {
  width: calc((100% - 64px) / 24 * 8);
  font-size: 26px;
  line-height: 1.4;
}
.about__subtitle p {
  width: 90%;
}
.about__img {
  position: relative;
}
.about__img .dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.about__more {
  display: flex;
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: calc(100% - 22px);
}
.about__nums {
  position: absolute;
  width: 65%;
  left: 0;
  bottom: 0;
  transform: translateY(-50%);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  padding: 64px 64px 0;
  display: flex;
}
.about__nums_item {
  display: flex;
  align-items: flex-start;
  width: 50%;
  gap: 25px;
}