.fs {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.fs_index {
  min-height: 100vh;
  max-height: 1080px;
}
.fs_index .container {
  flex-grow: 1;
  padding-top: 170px;
  padding-bottom: 76px;
}
.fs__page-title {
  text-align: center;
  width: 62.5%;
  text-align: center;
  margin: 0 auto;
}
.fs__event-title {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 64px;
}
.fs__date {
  width: calc((100% - 56px) / 12 * 3);
  gap: 16px !important;
}
.fs__date .date {
  line-height: 0.8;
}
.fs__date .day {
  font-size: 22px !important;
}
.fs__info {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 64px;
}
.fs__info_btn {
  width: calc((100% - 56px) / 12 * 3);
  display: flex;
}
.fs__info_left {
  width: calc((100% - 16px) / 24 * 17);
  margin-left: -16px;
}
.fs__info_tags {
  margin-left: -16px;
}
.fs__info_time {
  padding-left: 46px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.125rem;
}
.fs__info_time .icon svg {
  width: 20px;
  height: 20px;
}
.fs__title {
  width: calc((100% - 12px) / 24 * 17);
}
.fs__images_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 600px;
  top: 0;
  left: 0;
}
.fs__images_slide.dark {
  position: relative;
}
.fs__images_slide.dark::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(16, 16, 16, 0.5);
  z-index: 1;
}
.fs__images_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.fs__picture_slider .swiper-nav {
  position: absolute;
  right: 42px;
  bottom: 42px;
  z-index: 10;
}
.fs__picture_slider .swiper-nav .btn_slider {
  background: var(--clr-white-20);
}
.fs__picture_slider .swiper-nav .btn_slider svg path {
  stroke: var(--clr-white);
}
.fs__picture_slider .swiper-nav .btn_slider:hover {
  background: var(--clr-white-10);
}
.fs__picture_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fs__picture .swiper-pagination {
  position: absolute;
  margin-top: 24px;
  visibility: hidden;
}
.fs .container {
  flex-grow: 1;
  padding-top: 170px;
  padding-bottom: 48px;
}
.fs__content {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}
.fs__content.light .btn_slider {
  background: var(--clr-white-10);
}
.fs__content.light .btn_slider svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content.light .btn_slider:hover {
  background: var(--clr-white);
}
.fs__content.light .btn_slider:hover svg path {
  stroke: var(--clr-black);
  fill: none;
}
.fs__content.light .swiper-pagination-bullet {
  background: var(--clr-white);
}
.fs__content.light .btn_color {
  background: var(--clr-tag-festival);
  color: var(--clr-white);
}
.fs__content.light .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-festival-opacity);
}
.fs__content.light .date_xl, .fs__content.light .day {
  color: var(--clr-white);
}
.fs__content.light .fs__slide_desc {
  color: var(--clr-white);
}
.fs__content.light .tag_card {
  border: 1px solid var(--clr-white-40);
  color: var(--clr-white-40);
  transition: all 0.5s;
}
.fs__content.light .tag_card:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.fs__content_slider {
  width: 100%;
}
.fs__content_slider .swiper-nav {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 0;
  right: 0;
  z-index: 10;
  gap: 12px;
}
.fs__content_slider .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_slider {
  background: var(--clr-white-10);
}
.fs__content_slider.light .btn_slider svg path {
  stroke: var(--clr-white);
  fill: none;
}
.fs__content_slider.light .btn_slider:hover {
  background: var(--clr-white);
}
.fs__content_slider.light .btn_slider:hover svg path {
  stroke: var(--clr-black);
  fill: none;
}
.fs__content_slider.light .swiper-pagination-bullet {
  background: var(--clr-white);
}
.fs__content_slider.light .btn_color {
  background: var(--clr-tag-festival);
  color: var(--clr-white);
}
.fs__content_slider.light .btn_color:hover {
  color: var(--clr-black);
  background: var(--clr-tag-festival-opacity);
}
.fs__content_slider.light .date_xl, .fs__content_slider.light .day {
  color: var(--clr-white);
}
.fs__content_slider.light .fs__slide_desc {
  color: var(--clr-white);
}
.fs__content_slider.light .tag_card {
  border: 1px solid var(--clr-white-40);
  color: var(--clr-white-40);
  transition: all 0.5s;
}
.fs__content_slider.light .tag_card:hover {
  color: var(--clr-white);
  border-color: var(--clr-white);
}
.fs__slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 27px;
}
.fs__slide_content {
  display: flex;
  height: 85%;
  flex-grow: 1;
  gap: 32px;
  justify-content: space-between;
}
.fs__slide_tags {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 13px;
  margin-top: 6px;
}
.fs__slide_tags-abs {
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
}
.fs__slide_date {
  display: flex;
  line-height: 1.3;
  gap: 12px;
}
.fs__slide_date .day {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  height: auto;
  font-size: 32px;
  line-height: 0.8;
}
.fs__slide .date_xl {
  line-height: 0.75;
}
.fs__slide_icon {
  margin-left: auto;
  margin-right: auto;
  height: 95%;
}
.fs__slide_icon img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fs__slide_bottom {
  display: flex;
  align-items: center;
  gap: 64px;
  justify-content: space-between;
}
.fs__slide_control {
  width: calc((100% - 45px) / 24 * 10);
  display: flex;
}
.fs__slide_desc {
  width: calc((100% - 45px) / 24 * 10);
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
}
.fs__slide_left {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc((100% - 32px) / 24 * 13);
  justify-content: space-between;
}
.fs__slide_info {
  display: flex;
  flex-direction: column;
  gap: 28px;
  flex-shrink: 0;
}
.fs__slide_info img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.fs__slide_info .tags {
  display: none;
}
.fs__slide_text {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.fs__slide_text .btn {
  margin-top: 64px;
}

.events {
  padding-top: 122px;
  padding-bottom: 160px;
}
.events__top {
  width: 100%;
  margin-bottom: 54px;
}
.events__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.events__nav_list {
  display: flex;
  border-radius: 50px;
  border: 1px solid rgb(16, 16, 16);
}
.events__nav_list.dropdown {
  display: none;
  width: 420px;
}
.events__nav_list.dropdown__value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.events__nav_list.dropdown__value svg {
  width: 14px;
}
.events__nav_item {
  padding: 27px 32px 27px;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 1.375rem;
  line-height: 1.4;
}
.events__nav_item.active {
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.events__nav_item:hover {
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
}
.events__nav_tools {
  display: flex;
  align-items: center;
  gap: 22px;
}
.events__excursion {
  margin-bottom: 96px;
}
.events__excursion .accordion__item:last-child:after {
  position: absolute;
  content: none;
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(219, 219, 219);
  align-items: center;
}
.events__content {
  position: relative;
  display: flex;
  flex-direction: column;
}
.events__content_row {
  display: flex;
  align-items: flex-start;
  position: relative;
  gap: 2rem;
  justify-content: space-between;
  padding: 2rem 0;
}
.events__content_row::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  bottom: 100%;
  background: rgb(219, 219, 219);
}
.events__content_row:last-child::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(219, 219, 219);
}
.events__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 77px;
}
.events__title .h2 {
  width: 54.1666666667%;
}
.events__period {
  width: calc((100% - 32px) / 24 * 10);
}
.events__date {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  width: calc((100% - 64px) / 24 * 7);
  position: sticky;
  top: 2rem;
  margin-top: 1.875rem;
  transition: top 0.7s;
}
.events__date .date_xl {
  line-height: 0.75;
}
.events__date .day {
  line-height: 0.8;
  font-size: 2rem;
}
.events__list {
  width: 70.8333333333%;
}
.events__item {
  display: flex;
  flex-direction: column;
  gap: 42px;
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}
.events__item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(219, 219, 219);
  left: 0;
  top: 100%;
}
.events__item:first-child {
  padding-top: 0;
}
.events__item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.events__item:last-child::after {
  display: none;
}
.events__item_top {
  display: flex;
  justify-content: space-between;
}
.events__item_control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.events__item_control_link {
  display: flex;
  width: calc((100% - 64px) / 17 * 6);
}
.events__item_control.top_control {
  display: none;
}
.events__item_preview {
  width: calc((100% - 64px) / 17 * 6);
  height: auto;
}
.events__item_preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.events__item_info {
  display: flex;
  flex-direction: column;
  height: auto;
  width: calc((100% - 22px) / 17 * 10);
}
.events__item_desc {
  margin-top: auto;
}
.events__item_time {
  display: flex;
  align-items: baseline;
  gap: 12px;
}
.events__item_tags {
  width: calc((100% - 22px) / 17 * 10);
}
.events__item_title a {
  transition: all 0.5s;
}
.events__item_title a:hover {
  color: var(--clr-black-40);
}
.events__more {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.events__pagination {
  display: flex;
  align-items: center;
  gap: 78px;
}
.events__pagination_list {
  display: flex;
  gap: 30px;
}
.events__pagination_item {
  display: block;
  padding: 7px;
  font-size: 1.375rem;
  line-height: 1.4;
  color: var(--clr-black-40);
  transition: all 0.5s;
}
.events__pagination_item.active {
  color: var(--clr-black);
  pointer-events: none;
}
.events__pagination_item:hover {
  color: var(--clr-black);
  cursor: pointer;
}
.events__filter {
  width: 100%;
  overflow: hidden;
  height: auto;
  max-height: 0;
  transition: all 1s;
  position: relative;
}
.events__filter.open {
  max-height: 622px;
}
.events__filter.open::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: rgb(219, 219, 219);
}
.events__filter_form {
  padding: 2rem 0;
}

.filter__form_fields {
  display: flex;
  flex-direction: column;
}
.filter__form_field {
  padding: 40px 0;
  position: relative;
}
.filter__form_field::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: rgb(219, 219, 219);
}
.filter__form_field .title {
  font-size: 1.375rem;
  line-height: 1.4;
}
.filter__form_field_cols {
  display: flex;
  align-items: flex-end;
  gap: 24px;
  flex-wrap: wrap;
}
.filter__form_field_col {
  width: calc((100% - 52px) / 24 * 8);
  height: auto;
}
.filter__form_submit {
  display: none;
}
.filter__form_dropdown {
  margin-top: 1rem;
}
.filter__form .dropdown {
  width: 100%;
  border-radius: 50px;
  padding: 20px;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  position: relative;
}
.filter__form .dropdown__value {
  display: flex;
  font-size: 1.375rem;
  line-height: 1.4;
  align-items: center;
  justify-content: space-between;
}
.filter__form .dropdown__value .values {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-grow: 1;
  overflow: hidden;
}
.filter__form .dropdown__value .value {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px 20px;
  border-radius: 28px;
  background: var(--clr-white);
  white-space: nowrap;
}
.filter__form .dropdown__value .value .icon {
  cursor: pointer;
}
.filter__form .dropdown__value .value .icon svg path {
  transition: all 0.3s;
}
.filter__form .dropdown__value .value .icon:hover svg path {
  stroke-opacity: 1 !important;
}
.filter__form .dropdown__value > .icon {
  display: flex;
  width: 32px;
  height: 32px;
  align-items: center;
  justify-content: center;
}
.filter__form .dropdown__list {
  width: 100%;
  left: 50%;
  top: calc(100% + 10px);
  transform: translateX(-50%) translateY(-50px);
  padding: 20px;
  border-radius: 40px;
  background: var(--clr-black-5);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  font-size: 1.375rem;
  line-height: 1.4;
}
.filter__form_slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  font-size: 1.375rem;
  line-height: 1.4;
  padding: 25px 0;
  margin-top: auto;
}
.filter__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px 14px;
  margin-top: 40px;
}
.filter__tags_label {
  cursor: pointer;
}
.filter__tags_label input:checked + .tag_opera {
  background: var(--clr-tag-opera-opacity);
}
.filter__tags_label input:checked + .tag_lectures {
  background: var(--clr-tag-lectures-opacity);
}
.filter__tags_label input:checked + .tag_festival {
  background: var(--clr-tag-festival-opacity);
}
.filter__tags_label input:checked + .tag_children {
  background: var(--clr-tag-children-opacity);
}
.filter__tags_label input:checked + .tag_theaters {
  background: var(--clr-tag-theaters-opacity);
}
.filter__tags_label input:checked + .tag_card {
  background: var(--clr-black-10);
}

.calendar__form_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.calendar__form_events {
  display: flex;
  align-items: center;
  gap: 20px;
}
.calendar__months {
  display: flex;
  align-items: center;
  width: 240px;
  gap: 10px;
}
.calendar__months_slide {
  text-align: center;
}
.calendar__months .swiper_prev, .calendar__months .swiper_next {
  width: 24px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
}
.calendar__months .swiper_prev svg path, .calendar__months .swiper_next svg path {
  transition: all 0.5s;
}
.calendar__months .swiper_prev:hover svg path, .calendar__months .swiper_next:hover svg path {
  stroke-opacity: 0.4;
}
.calendar__weekdays {
  width: 100%;
  display: grid;
  padding: 0.5rem 0;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
}
.calendar__days {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 1.25rem 1rem;
}
.calendar__day {
  padding-top: 1rem;
  border-top: 1px solid rgb(219, 219, 219);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.5s;
}
.calendar__day:hover {
  color: var(--clr-black-40);
}
.calendar__day.no_events {
  color: rgb(219, 219, 219);
}
.calendar__day .events_num {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--clr-black-5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.5s;
}
.calendar__day input:checked + .events_num {
  background: var(--clr-black);
  color: var(--clr-white);
}

.festival {
  margin-bottom: 56px;
}
.festival__slider {
  position: relative;
}
.festival__slider .swiper-nav {
  position: absolute;
  right: 32px;
  bottom: 32px;
  z-index: 10;
}
.festival__slider .swiper-nav .btn_slider {
  background: var(--clr-white-20);
}
.festival__slider .swiper-nav .btn_slider svg path {
  stroke: var(--clr-white);
}
.festival__slider .swiper-nav .btn_slider:hover {
  background: var(--clr-white-10);
}
.festival .swiper-pagination {
  position: absolute;
  margin-top: 1.375rem;
  visibility: hidden;
}
.festival__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.festival__desc {
  padding: 70px 0 56px;
}
.festival__desc_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc((100% - 32px) / 24 * 15);
  gap: 40px;
  margin: 0 auto 48px;
}
.festival__desc_text {
  width: calc((100% - 32px) / 24 * 12);
  margin-left: auto;
}

.event {
  padding-top: 32px;
  padding-bottom: 64px;
}
.event .container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.event__aside {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 58px;
  position: sticky;
  top: 0;
  width: calc((100% - 105px) / 12 * 3);
}
.event__aside_title .h3 {
  margin-bottom: 16px;
}
.event__aside_date {
  padding-bottom: 42px;
  border-bottom: 1px solid rgb(219, 219, 219);
  gap: 16px !important;
  display: flex;
}
.event__aside_date .date {
  line-height: 0.8;
}
.event__aside_date .day {
  font-size: 22px !important;
}
.event__content {
  width: calc((100% - 12px) / 24 * 17);
}
.event__share_control {
  display: flex;
  gap: 10px;
}
.event__share_control > .btn_slider:hover svg path {
  fill: var(--clr-white);
  stroke: none;
}
.event__share_title {
  margin-bottom: 2rem;
}
.event__share_list {
  display: flex;
  border-radius: 50px;
  border: 1px solid rgb(16, 16, 16);
  gap: 10px;
}
.event__share_item {
  background: var(--clr-white);
}
.event__share_item:hover {
  background: var(--clr-black-5);
}
.event__share_item:hover svg path {
  fill: var(--clr-black);
  stroke: none;
}
.event__share .btn svg {
  width: 22px;
  height: 22px;
}
.event__calendar_btn {
  margin-top: 256px;
}
.event__title {
  display: flex;
  align-items: baseline;
  padding-bottom: 2rem;
  position: relative;
  justify-content: space-between;
  gap: 2rem;
}
.event__title::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(16, 16, 16);
}
.event__subtitle {
  width: calc((100% - 24px) / 17 * 11.5);
}
.event__section_row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 0;
  position: relative;
  gap: 2rem;
}
.event__section_row::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(219, 219, 219);
}
.event__section_col {
  width: calc((100% - 24px) / 17 * 11.5);
}
.event__section_item {
  position: relative;
}
.event__section_item:not(:last-child) {
  padding-bottom: 1.5rem;
}
.event__section_item:not(:last-child)::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(219, 219, 219);
}
.event__section_item:last-child {
  padding-top: 1.5rem;
}
.event__section_item:first-child {
  padding-top: 0;
}
.event__desc {
  padding: 85px 0;
  position: relative;
}
.event__desc::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(16, 16, 16);
}
.event__person_slider_control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.event__person .swiper-pagination {
  position: absolute;
  margin-top: 1.375rem;
}

.accordion__list {
  display: flex;
  flex-direction: column;
}
.accordion__item {
  position: relative;
  padding: 45px 0;
}
.accordion__item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  left: 0;
  top: 100%;
  background: rgb(219, 219, 219);
}
.accordion__item.active .accordion__title .btn_slider {
  background: var(--clr-black);
}
.accordion__item.active .accordion__title .btn_slider .line {
  background: var(--clr-white);
}
.accordion__item.active .accordion__title .btn_slider .line:last-child {
  transform: rotate(0);
}
.accordion__item.active .accordion__content {
  max-height: 2000px;
}
.accordion__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion__content {
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: all 1s;
}
.accordion__content_desc {
  padding-top: 45px;
}
.accordion__content .text_content {
  padding: 82px 0 30px;
  width: 70.5882352941%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.accordion__content .text_content div {
  margin-bottom: 84px;
}
.accordion__content .text_content h5 {
  margin-bottom: 2rem;
  margin-top: 64px;
}
.accordion__content .text_content p {
  line-height: 1.6;
}

.halls {
  height: 855px;
  overflow: hidden;
}
.halls__sliders {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.halls__slider_view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.halls__slider_images {
  width: 58.75%;
  flex-shrink: 0;
  height: 100%;
  margin-right: 0;
  margin-left: 0;
  display: flex;
  justify-content: center;
}
.halls__slider_images .swiper-slide {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.halls__slider_images .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.halls__slider_desc {
  width: 33.3333333333%;
  margin: 0;
  position: relative;
}
.halls__slider_desc .swiper-nav {
  position: absolute;
  z-index: 10;
  right: 64px;
  bottom: 64px;
  display: flex;
  gap: 12px;
}
.halls__slider_desc .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.halls__slider_small {
  position: absolute;
  right: -50%;
  width: 19%;
  height: 28%;
  right: 0;
  transform: translateX(50%) translateY(-11%);
}
.halls__slide {
  width: 100%;
  padding: 84px 64px 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--clr-white);
}
.halls__slide_title {
  width: 75%;
}
.halls__slide_text {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 62.5%;
}
.halls__slide_link {
  display: flex;
}
.halls .dropdown {
  position: absolute;
  bottom: 62px !important;
  z-index: 10;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  width: calc(100% - 128px) !important;
  border-radius: 40px;
  left: auto !important;
  right: auto;
}
.halls .dropdown__list {
  position: static;
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}
.halls .dropdown__value {
  display: none;
}

.pagination_tabs {
  display: flex;
  width: 100%;
  position: static;
}
.pagination_tabs .before {
  position: absolute;
  background: #fff;
  width: 30%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 73px;
  transition: left 0.5s;
}
.pagination .btn_tab {
  flex-grow: 1;
}
.pagination .btn_tab:last-child {
  flex-grow: 0;
}

.news {
  padding-top: 216px;
  padding-bottom: 220px;
}
.news .swiper-nav .btn_menu:hover svg path {
  stroke: var(--clr-white);
  fill: none;
}
.news__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.news__slide {
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  gap: 44px;
  padding: 2rem 0;
}
.news__slide::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  top: 0;
  background: rgb(219, 219, 219);
}
.news__slide_date {
  display: flex;
  align-items: baseline;
  gap: 18px;
  margin-bottom: 28px;
}
.news__slide_date .text {
  line-height: 1.4;
}
.news__slide_desc {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news__slide_text {
  margin-top: auto;
}
.news__slide_preview {
  height: 330px;
}
.news__slide_preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__more {
  margin-top: 2.125rem;
  display: flex;
}
.news__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(431px, 1fr));
  grid-gap: 24px;
}
.news__list .news__slide {
  padding: 2rem 0 2.125rem;
}

.about {
  padding-bottom: 161px;
  position: relative;
  margin-bottom: 106px;
}
.about__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 110px;
}
.about__title .h3 {
  width: calc((100% - 32px) / 24 * 11);
}
.about__subtitle {
  width: calc((100% - 64px) / 24 * 8);
  font-size: 26px;
  line-height: 1.4;
}
.about__subtitle p {
  width: 90%;
}
.about__img {
  position: relative;
}
.about__img .dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}
.about__more {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: calc(100% - 36px);
  width: calc((100% - 64px) / 24 * 4);
}
.about__nums {
  position: absolute;
  width: 65%;
  left: -64px;
  bottom: 0;
  transform: translateY(50%);
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  padding: 64px 64px 0;
  display: flex;
  justify-content: space-between;
}
.about__nums.w-auto {
  width: auto;
}
.about__nums_item {
  display: flex;
  align-items: flex-start;
  width: 46%;
  gap: 40px;
}
.about__nums_item:nth-child(2n) {
  gap: 64px;
}
.about__nums .text {
  width: 120px;
}
.about__desc {
  margin-top: 185px;
  display: flex;
  padding: 56px 0;
  gap: 32px;
  position: relative;
}
.about__desc::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(219, 219, 219);
}
.about__desc::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgb(219, 219, 219);
}
.about__desc_more {
  display: flex;
  margin-top: 32px;
}
.about__desc_col {
  width: calc((100% - 16px) / 24 * 12);
  display: flex;
  flex-direction: column;
}
.about__desc_num {
  padding: 56px 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.about__desc_num:first-child {
  padding-top: 0;
}
.about__desc_num:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.about__desc_text {
  width: 91.6666666667%;
}
.about__desc_img {
  margin-top: auto;
  width: calc((100% - 32px) / 12 * 8);
  height: auto;
  margin-left: auto;
}
.about__desc_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__desc_text p:not(:last-child) {
  margin-bottom: 2rem;
}

.description {
  overflow: hidden;
  padding-top: 32px;
}
.description .festival__desc_title {
  width: calc((100% - 32px) / 24 * 18);
  gap: 60px;
}
.description__sliders {
  margin-top: 42px;
}
.description__slider {
  overflow: visible;
}
.description__slider .swiper-wrapper {
  align-items: flex-end;
}
.description__slider_control {
  margin-top: 28px;
  display: flex;
  justify-content: space-between;
}
.description__slider_tabs {
  display: flex;
  border: 1px solid rgb(16, 16, 16);
  border-radius: 60px;
  position: relative;
}
.description__slider_tabs .before {
  position: absolute;
  background: var(--clr-black-5);
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 73px;
  transition: left 0.5s;
}
.description__slide {
  height: auto;
  overflow: hidden;
  isolation: isolate;
}
.description__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.location {
  position: relative;
  min-height: 1068px;
  margin-bottom: 117px;
}
.location .container {
  overflow: hidden;
  z-index: 1;
}
.location__images_slider {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.location__images_slide {
  position: relative;
}
.location__images_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.location__images_slide::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(16, 16, 16, 0.2);
}
.location__path {
  position: absolute;
  width: 100%;
  height: 135px;
  bottom: -3px;
  z-index: 2;
  left: 0;
  transform: translateX(0%);
}
.location__path_icon {
  width: 127.5520833333%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 1s;
  z-index: 5;
}
.location__path_icon .sm_icon {
  display: none;
}
.location__path_icon svg {
  width: 100%;
  height: auto;
}
.location__content {
  position: relative;
  z-index: 10;
  padding: 175px 0;
  pointer-events: none;
}
.location__content_top {
  display: flex;
  gap: 2rem;
  margin-bottom: 28px;
}
.location__content_title {
  width: calc((100% - 32px) / 24 * 11);
}
.location__content_subtitle {
  font-size: 1.625rem;
  line-height: 1.4;
  width: calc((100% - 32px) / 24 * 6);
  margin-top: 10px;
}
.location__slides_navigation {
  position: absolute;
  z-index: 10;
  bottom: 4px;
  display: flex;
  align-items: flex-end;
  width: 54.8%;
  left: 35.5%;
  justify-content: space-between;
  z-index: 10;
  pointer-events: none;
}
.location__slides_icon {
  transform: translateX(21%);
  margin-bottom: 50px;
  pointer-events: all;
  color: rgb(242, 242, 242);
  display: flex;
}
.location__slides_icon .numbers_xl {
  line-height: 0.85;
}
.location__slides_icon .time {
  line-height: 1.1;
}
.location__slides_icon .text {
  line-height: 1.4;
  margin-left: 24px;
  white-space: nowrap;
  margin-top: 4px;
}
.location__slides_btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -webkit-backdrop-filter: var(--bg-filter-blur);
          backdrop-filter: var(--bg-filter-blur);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  isolation: isolate;
  transition: all 0.3s;
  pointer-events: all;
  flex-shrink: 0;
  cursor: pointer;
}
.location__slides_btn:last-child {
  overflow: visible;
}
.location__slides_btn img {
  width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  transition: all 0.3s;
}
.location__slides_btn:hover img {
  max-height: 150%;
}
.location__more {
  width: calc((100% - 64px) / 24 * 5);
}
.location__more_link {
  pointer-events: all;
}
.location__ellipse {
  position: absolute;
  width: calc((100% - 45px) / 24 * 19);
  height: 0;
  padding-top: 66%;
  border-radius: 50%;
  border: 1px solid var(--clr-white-40);
  bottom: 0;
  transform: translateY(50%);
  z-index: 4;
  pointer-events: none;
  left: 64px;
}
.location__ellipse-sm {
  position: absolute;
  width: 47.9166666667%;
  height: 0;
  padding-top: 42.2%;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
  bottom: 0;
  transform: translateY(50%);
  z-index: 4;
  pointer-events: none;
  left: 64px;
}

.history {
  padding-top: 160px;
  padding-bottom: 48px;
}
.history__sliders {
  display: flex;
  gap: 3.375rem 2rem;
  flex-wrap: wrap;
}
.history__desc {
  height: auto;
  width: calc((100% - 32px) / 24 * 12);
  display: flex;
  flex-direction: column;
}
.history__desc_slider {
  width: 100%;
  margin: 0;
}
.history__desc .swiper-nav {
  margin-top: auto;
}
.history__desc_slide {
  padding: 56px 76px 32px 0;
  background: var(--clr-white);
}
.history__desc_slide_content {
  width: 75%;
}
.history__desc_slide_content p:not(:last-child) {
  margin-bottom: 2rem;
}
.history__desc_title {
  margin-bottom: 212px;
}
.history__images_slider {
  width: calc((100% - 32px) / 24 * 12);
  margin: 0;
}
.history__images_slide {
  height: auto;
}
.history__images_slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}
.history__dates {
  width: 100%;
  position: relative;
}
.history__dates .swiper-nav {
  position: absolute;
  bottom: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
.history__dates_slider {
  overflow: hidden;
}
.history__dates_slide {
  padding-top: 20px;
  border-top: 1px solid rgb(219, 219, 219);
  cursor: pointer;
}
.history__dates_slide .numbers_sm {
  transition: all 0.5s;
}
.history__dates_slide:hover {
  color: var(--clr-black-40);
}
.history__dates_slide.swiper-slide-thumb-active {
  border-color: rgb(16, 16, 16);
}

.mission {
  padding-top: 46px;
  padding-bottom: 128px;
}
.mission__tag {
  display: flex;
}
.mission__tag p {
  margin: 0 auto 32px;
  padding: 7px 16px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.4);
}
.mission__title {
  text-align: center;
  width: 83.3333333333%;
  margin: 0 auto 80px;
}
.mission .text_content p:not(:last-child) {
  margin-bottom: 2rem;
}
.mission__image {
  position: relative;
  margin-top: 80px;
}
.mission__image_content {
  position: absolute;
  padding: 60px 0;
  width: 33.3333333333%;
}
.mission__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.organ {
  padding-top: 160px;
  padding-bottom: 78px;
}
.organ__title {
  margin-bottom: 64px;
}
.organ .about__desc {
  margin-top: 0;
}
.organ .about__desc_col:last-child {
  padding-right: 44px;
}

.awards {
  padding-top: 83px;
  padding-bottom: 86px;
}
.awards__slide_top {
  display: flex;
  gap: 2rem;
}
.awards__slide_date {
  width: 37.5%;
}
.awards__slide_logo {
  flex-grow: 1;
  height: 160px;
  display: flex;
}
.awards__slide_logo img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: auto;
  -o-object-position: right top;
     object-position: right top;
}
.awards__slide_preview {
  width: 90%;
}

.navigation {
  padding-top: 132px;
  padding-bottom: 32px;
}
.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__item {
  width: calc((100% - 64px) / 24 * 8);
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  border-top: 1px solid rgb(219, 219, 219);
  border-bottom: 1px solid rgb(219, 219, 219);
  transition: all 0.5s;
  padding: 2rem 0;
  position: relative;
}
.navigation__item .btn {
  margin-left: auto;
}
.navigation__item:hover {
  border-color: rgb(16, 16, 16);
}
.navigation__item:hover .btn {
  background: var(--clr-black);
}
.navigation__item:hover .btn svg path {
  fill: var(--clr-white);
}
.navigation__item_index {
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 0.6;
  font-size: 10rem;
  color: var(--clr-black-5);
}