.head .container {
  padding-top: 24px;
  padding-bottom: 24px;
}
.head__left {
  flex-grow: 1;
}
.head__left_content {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-top: 2px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  gap: 84px;
}
.head__left_content .depkult-logo {
  padding-top: 4px;
  padding-bottom: 4px;
  flex-shrink: 0;
}
.head__left_controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.head__left .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.head__left .links__item {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head__left .links__item svg path {
  transition: all 0.3s;
}
.head__left .links__item:hover svg path {
  stroke: var(--clr-black-40);
}
.head__left .links:nth-child(2) {
  margin-left: 30px;
}
.head__center {
  flex-shrink: 0;
}
.head__right {
  flex-grow: 1;
}
.head__right_content {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-bottom: 32px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head__logo {
  height: 113px;
  margin-left: -2rem;
}
.head__logo svg {
  width: 100%;
  height: 100%;
}
.head__nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head__languages {
  font-size: 1.375rem;
  color: var(--clr-black-40);
  line-height: 1.4;
}
.head__languages .dropdown {
  position: relative;
}
.head__languages .dropdown__value {
  cursor: pointer;
  transition: all 0.3s;
}
.head__languages .dropdown__value:hover {
  color: var(--clr-black);
}
.head__languages .dropdown__list {
  position: absolute;
  top: calc(100% + 8px);
  border-radius: calc(var(--radius-sm) * 2);
  background: var(--clr-white);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 23px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  z-index: 100;
}
.head__languages .dropdown__item {
  cursor: pointer;
}
.head__languages .dropdown__item a {
  color: var(--clr-black-40);
  transition: all 0.3s;
}
.head__languages .dropdown__item a:hover {
  color: var(--clr-black);
}