.depkult-logo {
  padding-top: 4px;
  padding-bottom: 4px;
  flex-shrink: 0;
}

.head {
  position: absolute;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  transition: all 0.5s;
  padding-right: 2rem;
  padding-left: 2rem;
}
.head .light-logo {
  display: none;
}
.head_light {
  color: var(--clr-white);
}
.head_light svg path {
  stroke: var(--clr-white);
}
.head_light .light-logo {
  display: flex;
}
.head_light .dark-logo {
  display: none;
}
.head_light .btn_menu {
  background: var(--clr-white-10);
}
.head_light .btn_menu:hover {
  background: var(--clr-white);
}
.head_light .btn_menu:hover .line {
  background-color: var(--clr-black);
}
.head_light .btn_menu .line {
  background-color: var(--clr-white);
}
.head_light .nav-link {
  color: var(--clr-white);
}
.head_light .nav-link:hover {
  color: var(--clr-white-40);
}
.head_light .head__languages {
  color: var(--clr-white-40);
}
.head_light .head__languages .dropdown__value:hover {
  color: var(--clr-white);
}
.head .container {
  padding-top: 24px;
  padding-bottom: 24px;
}
.head .btn_menu {
  margin-right: -20px;
}
.head__top {
  display: none !important;
  padding-bottom: 12px;
  border-bottom: 2px solid rgb(219, 219, 219);
}
.head__left {
  flex-grow: 1;
}
.head__left_content {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-top: 2px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  gap: 84px;
}
.head__left_controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.head__left .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.head__left .links__item {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.head__left .links__item svg path {
  transition: all 0.3s;
}
.head__left .links__item:hover svg path {
  stroke: var(--clr-black-40);
}
.head__left .links:nth-child(2) {
  margin-left: 30px;
}
.head__center {
  flex-shrink: 0;
}
.head__right {
  flex-grow: 1;
}
.head__right_content {
  border-bottom: 2px solid rgb(219, 219, 219);
  padding-bottom: 32px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head__logo {
  height: 113px;
  margin-left: -2rem;
}
.head__logo svg {
  width: 100%;
  height: 100%;
}
.head__nav_list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.head__languages {
  font-size: 1.375rem;
  color: var(--clr-black-40);
  line-height: 1.4;
}
.head__languages .dropdown {
  position: relative;
}
.head__languages .dropdown__value {
  cursor: pointer;
  transition: all 0.3s;
}
.head__languages .dropdown__value:hover {
  color: var(--clr-black);
}
.head__languages .dropdown__list {
  position: absolute;
  top: calc(100% + 8px);
  border-radius: calc(var(--radius-sm) * 2);
  background: var(--clr-white);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.08);
  padding: 16px 23px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  left: 50%;
  z-index: 100;
}
.head__languages .dropdown__item {
  cursor: pointer;
}
.head__languages .dropdown__item a {
  color: var(--clr-black-40);
  transition: all 0.3s;
}
.head__languages .dropdown__item a:hover {
  color: var(--clr-black);
}
.head__bottom_sm {
  display: none;
  align-items: center;
  padding-bottom: 18px;
  border-bottom: 1px solid rgb(219, 219, 219);
  justify-content: space-between;
}
.head__bottom_sm .links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.head__bottom_sm .head__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.foot .container {
  padding-top: 40px;
  padding-bottom: 37px;
}
.foot__left_content {
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: 40px;
  padding-top: 60px;
}
.foot__right_content {
  border-bottom: 1px solid rgb(219, 219, 219);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 55px;
  padding-bottom: 25px;
}
.foot__nav {
  margin-left: auto;
  width: 30%;
  max-width: 195px;
  flex-shrink: 0;
}
.foot__nav_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.foot__nav_link {
  font-size: 2rem;
}
.foot__contacts_addr {
  max-width: 195px;
  flex-shrink: 0;
}
.foot__contacts_phone {
  max-width: 195px;
  flex-shrink: 0;
  text-align: right;
}
.foot__copy {
  padding-top: 40px;
}
.foot__copy_text {
  max-width: 425px;
}
.foot__copy_nav {
  display: flex;
  justify-content: space-between;
}
.foot__copy_nav_list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 6px;
}
.foot__copy_nav_link {
  font-size: 1.125rem;
  line-height: 1.4;
  transition: all 0.5s;
}
.foot__copy_nav_link:hover {
  color: var(--clr-black);
}
.foot__email .menu-link {
  display: flex;
  align-items: center;
}
.foot__email .menu-link .icon {
  display: none;
}

.scroll_top {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  position: absolute;
  pointer-events: none;
}
.scroll_top > .icon {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: 54px;
  bottom: 0;
  transition: all 0.5s;
  z-index: -1;
  display: block;
}
.scroll_top > .icon svg {
  width: 100%;
  height: 100%;
  transform-origin: bottom center;
  transition: all 0.5s;
}
.scroll_top > .icon svg path {
  transition: all 0.5s;
}
.scroll_top_btn {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
  pointer-events: all;
}
.scroll_top_btn svg path {
  transition: all 0.5s;
}
.scroll_top_btn:hover {
  transform: translateY(-5px);
}
.scroll_top_btn:hover svg path {
  fill: var(--clr-white);
}
.scroll_top_btn:hover + .icon svg {
  transform: scaleY(1.2);
}
.scroll_top_btn:hover + .icon svg path {
  fill-opacity: 0.9 !important;
}
.scroll_top .sm {
  display: none;
}

.scls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: -40px;
}
.scls__title {
  max-width: 410px;
  color: var(--clr-black);
  font-family: var(--font-accent);
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0%;
}

.mobile {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(251, 251, 251);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.mobile.show {
  visibility: visible;
  opacity: 1;
}
.mobile__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  padding-bottom: 180px;
}
.mobile .wrapper {
  height: auto;
  min-height: auto;
  flex-grow: 1;
}
.mobile__head {
  position: static;
}
.mobile__head .container {
  padding-bottom: 8px;
}
.mobile__head .head {
  position: static;
}
.mobile__head .head__right_content {
  justify-content: flex-end;
  gap: 105px;
}
.mobile__scls {
  display: flex;
  align-items: center;
  gap: 12px;
}
.mobile__body {
  flex-grow: 1;
}
.mobile__body_cols {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.mobile__wave {
  position: absolute;
  width: 100%;
  height: 180px;
  overflow: hidden;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.mobile__wave .sm {
  display: none;
}
.mobile__body_cols {
  padding-top: 158px;
}
.mobile__nav:nth-child(2) {
  margin-left: -20px;
}
.mobile__nav:nth-child(4) {
  margin-right: -20px;
}
.mobile__nav:nth-child(5) {
  margin-right: -12px;
}
.mobile__nav_btn {
  display: none !important;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0 23px;
  border-bottom: 1px solid rgb(219, 219, 219);
}
.mobile__nav_btn .icon {
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobile__nav_title {
  font-size: 3.125rem;
  margin-bottom: 2rem;
  display: block;
  overflow: hidden;
  height: auto;
  line-height: 1;
  display: flex;
  align-items: center;
}
.mobile__nav_title .icon {
  display: none;
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.mobile__nav_list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.animate__animated {
  animation-duration: 2s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 62px;
  height: 32px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 27px;
  width: 27px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  transform: translateX(28px);
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(0);
}

/* Rounded sliders */
.slider.round {
  border-radius: 40px;
}

.slider.round:before {
  border-radius: 50%;
}

.tags {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}