@media (max-width: 576px) {
  .h1 {
    font-size: 4.75rem;
  }
  .h1.h1-l {
    font-size: 4.75rem;
    margin-top: 48px;
  }
  .h2 {
    font-size: 3rem;
  }
  .section {
    padding-left: 20px;
    padding-right: 20px;
  }
  .numbers {
    font-size: 5rem;
  }
  .numbers_xs {
    font-size: 2.25rem;
  }
  .numbers_sm {
    font-size: 3rem;
  }
  .numbers_l {
    font-size: 3.75rem;
  }
  .menu_font {
    font-size: 3rem;
  }
  .text_content h2 {
    font-size: 2.5rem;
  }
  .text_content h3 {
    font-size: 2.5rem;
  }
  .text_content div:not(:last-child) {
    margin-bottom: 36px;
  }
  .head__logo {
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
  .head__right {
    padding-left: 2px;
  }
  .head__left {
    padding-right: 2px;
  }
  .head .col-2 {
    width: 33.3333333333%;
  }
  .head .col-5 {
    width: 33.3333333333%;
  }
  .foot .container {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .foot__nav {
    width: 100%;
    margin-left: 0;
    max-width: none;
    align-content: space-between;
  }
  .foot__nav_list {
    flex-wrap: wrap;
    max-height: 65px;
    gap: 8px;
    align-content: space-between;
  }
  .foot__nav_item {
    width: 42%;
  }
  .foot__nav_link {
    font-size: 1.25rem;
  }
  .foot .row {
    flex-direction: column;
    gap: 40px;
  }
  .foot .col-2, .foot .col-4, .foot .col-5 {
    width: 100%;
  }
  .foot .scls {
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .foot .scls__title {
    width: 100%;
    max-width: none;
    line-height: 1.4;
  }
  .foot__left_content {
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 24px;
  }
  .foot__right_content {
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 48px;
  }
  .foot__copy {
    padding-top: 24px;
  }
  .foot__copy .row {
    gap: 8px;
  }
  .foot__copy_nav {
    gap: 4px;
  }
  .foot__copy_list {
    gap: 4px;
  }
  .foot__copy_text {
    max-width: none;
  }
  .foot__email .menu-link {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .foot__email .menu-link .icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }
  .mobile__head .container {
    padding-bottom: 0px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 8px;
  }
  .mobile__content {
    padding-bottom: 40px;
  }
  .mobile__nav {
    width: 100%;
    flex: 0 0 0;
  }
  .mobile__nav_title {
    font-size: 2.25rem;
    padding: 22px 0 21px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 40px;
  }
  .mobile__nav_list {
    gap: 32px;
  }
  .mobile__nav_btn {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: 22px 0 21px;
  }
  .mobile__scls {
    gap: 12px;
  }
  .mobile__body_cols {
    margin-bottom: 150px;
  }
  .mobile__wave {
    display: none;
  }
  .fs_index {
    max-height: 748px;
  }
  .fs .container {
    padding-top: 154px;
  }
  .fs__page-title {
    width: 100%;
  }
  .fs__title.fs__title-sm .h2 {
    font-size: 3rem;
  }
  .fs__slide {
    gap: 20px;
  }
  .fs__slide_content {
    gap: 1rem;
  }
  .fs__slide_icon {
    order: 2;
  }
  .fs__slide_icon.sm_icon {
    margin-right: auto;
  }
  .fs__slide_tags {
    margin-top: 0px;
  }
  .fs__slide_info {
    gap: 1.5rem;
  }
  .fs__slide_preview {
    min-height: 165px;
  }
  .fs__slide_date {
    gap: 12px;
  }
  .fs__slide_date .day {
    font-size: 0.875rem;
  }
  .fs__slide_desc {
    margin-bottom: auto;
  }
  .fs__slide_text {
    margin-top: 24px;
  }
  .fs__slide_text .btn {
    margin-top: 12px;
    width: 100%;
  }
  .fs__slide_control {
    width: 100%;
    display: block;
  }
  .fs .swiper-nav {
    visibility: hidden;
  }
  .fs .swiper-pagination {
    visibility: visible;
  }
  table {
    font-size: 0.875rem;
  }
  .event {
    padding-bottom: 56px;
  }
  .event__title {
    flex-direction: column;
    gap: 1rem;
  }
  .event__subtitle {
    width: 100%;
  }
  .event__section_row {
    flex-direction: column;
    gap: 1.25rem;
    padding: 20px 0;
  }
  .event__section_col {
    width: 100%;
  }
  .event__section_item:not(:last-child) {
    padding-bottom: 0.75rem;
  }
  .event__section_item:last-child {
    padding-top: 0.75rem;
  }
  .event__section_item:first-child {
    padding-top: 0;
  }
  .event__desc {
    padding: 32px 0;
  }
  .event__person .swiper-pagination {
    position: relative;
    visibility: visible;
  }
  .event__person .swiper-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .event__person_slider_control {
    margin-top: 1rem;
  }
  .event__person_content_table {
    padding-bottom: 24px;
    margin-bottom: 40px;
  }
  .event__aside {
    padding-top: 54px;
    gap: 22px;
  }
  .event__aside_date {
    gap: 8px !important;
  }
  .event__aside_btn {
    width: 100%;
  }
  .event__share {
    margin-left: 0;
    padding-top: 24px;
    width: 100%;
    border-top: 1px solid rgb(216, 216, 216);
  }
  .event__calendar_btn {
    border-top: none;
    padding-top: 4px;
  }
  .event__calendar_btn .btn {
    width: 100%;
  }
  .event .festival__desc {
    padding-top: 50px;
  }
  .event .festival__desc_title {
    margin-bottom: 50px;
  }
  .event .festival__desc_text {
    margin-left: 0;
    width: calc((100% - 24px) / 24 * 23);
  }
  .event .festival__desc_text p {
    padding-left: 24px;
  }
  .event .festival__desc_text blockquote {
    margin-left: 0;
    padding-left: 24px;
    margin-top: 40px !important;
  }
  .event .festival__desc_text {
    text-align: left;
    width: 100%;
    margin-left: 0;
  }
  .event .festival__desc_text blockquote {
    margin-left: 0;
    margin-top: 3rem;
  }
  .accordion__item {
    padding: 16px 0;
  }
  .accordion__content_desc {
    padding-top: 16px;
  }
  .accordion__content .text_content {
    padding: 39px 0 24px;
    width: 95%;
  }
  .accordion__content .text_content div {
    margin-bottom: 38px;
  }
  .accordion__content .text_content p {
    line-height: 1.45;
  }
  .accordion__content .text_content h5 {
    margin-top: 36px;
    margin-bottom: 1.625rem;
  }
  .events {
    padding-top: 10px;
    padding-bottom: 63px;
  }
  .events__title {
    margin-bottom: 22px;
  }
  .events__title .h2 {
    font-size: 2rem;
    width: 100%;
  }
  .events__content_row {
    gap: 24px;
    padding-bottom: 25px;
  }
  .events__date {
    padding: 7px 0 11px;
  }
  .events__date .day {
    font-size: 1.25rem;
  }
  .events__item {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .events__item:first-child {
    padding-top: 0;
  }
  .events__item:last-child {
    padding-bottom: 0;
  }
  .events__item_top {
    height: auto;
    flex-direction: column;
  }
  .events__item_preview {
    order: 1;
    width: 100%;
  }
  .events__item_info {
    width: 100%;
    gap: 12px;
  }
  .events__item_desc {
    margin-top: 14px;
  }
  .events__item_control {
    display: none;
  }
  .events__item_control.top_control {
    display: flex;
    margin-top: 32px;
    margin-bottom: 18px;
  }
  .events__item_tags {
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
  }
  .events__more {
    margin-top: 1rem;
    justify-content: center;
  }
  .events__more .btn {
    width: 216px;
  }
  .events .festival__desc {
    padding-top: 48px;
    margin-bottom: 56px;
  }
  .events .festival__desc_title .h2 {
    font-size: 2.5rem !important;
  }
  .events .festival__desc_text {
    text-align: left;
  }
  .events .leaders__desc_title {
    font-size: 3rem;
  }
  .calendar__form {
    padding: 16px 0 24px;
  }
  .calendar__form_control {
    flex-direction: column;
    gap: 34px;
    margin-bottom: 1.5rem;
  }
  .calendar__form_events {
    justify-content: space-between;
    width: 100%;
  }
  .calendar__months {
    width: 100%;
  }
  .halls__slider_images {
    height: 320px;
  }
  .halls__slider_desc .swiper-nav {
    bottom: 40px;
    right: 16px;
  }
  .halls__slide {
    padding: 40px 16px;
    gap: 32px;
  }
  .halls__slide_title {
    width: 75%;
  }
  .halls__slide_text {
    width: 83.3333333333%;
    gap: 3.5rem;
  }
  .halls .dropdown {
    width: calc(100% - 40px) !important;
    bottom: 24px !important;
  }
  .news {
    padding-top: 29px;
    padding-bottom: 80px;
  }
  .news .h2 {
    font-size: 2rem;
  }
  .news__title {
    margin-bottom: 0.625rem;
  }
  .news .swiper-nav {
    visibility: hidden;
    position: absolute;
  }
  .news__slide {
    gap: 22px;
  }
  .news__slide_preview {
    height: 200px;
  }
  .news__content .swiper-pagination {
    position: relative;
    visibility: visible;
  }
  .news__more {
    justify-content: center;
    margin-top: 2.5rem;
  }
  .news__more .btn {
    font-size: 0.875rem;
    padding: 18px 28px;
    width: 216px;
  }
  .news__list {
    grid-gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .news__slider_cont .swiper-pagination {
    visibility: visible;
    position: relative;
  }
  .festival {
    margin-bottom: 16px;
  }
  .festival__slider {
    position: relative;
  }
  .festival__slider .swiper-nav {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
  }
  .festival__slider .swiper-nav .btn_slider {
    background: var(--clr-white-20);
  }
  .festival__slider .swiper-nav .btn_slider svg path {
    stroke: var(--clr-white);
  }
  .festival__slider .swiper-nav .btn_slider:hover {
    background: var(--clr-white-10);
  }
  .festival .swiper-pagination {
    position: static;
    margin-top: 1.375rem;
    visibility: visible;
  }
  .festival__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .festival__desc {
    padding: 36px 0 24px;
  }
  .festival__desc_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 32px) / 24 * 22);
    gap: 16px;
    margin: 0 auto 24px;
  }
  .festival__desc_title .h2 {
    font-size: 2rem;
  }
  .festival__desc_title .mark {
    width: 30px;
  }
  .festival__desc_title .mark svg {
    width: 100%;
  }
  .festival__desc_text {
    width: calc((100% - 32px) / 24 * 22);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .about {
    padding-bottom: 126px;
  }
  .about .h3 {
    width: 100%;
  }
  .about__title {
    gap: 1.375rem;
    margin-bottom: 25px;
  }
  .about__subtitle {
    width: 100%;
    font-size: 18px;
  }
  .about__subtitle p {
    width: 100%;
  }
  .about__more {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 57px;
  }
  .about__nums {
    padding-top: 8px;
  }
  .about__nums_item {
    width: calc((100% - 8px) / 12 * 6);
    position: relative;
  }
  .about__nums_item:nth-child(2n) {
    width: calc((100% - 8px) / 12 * 6);
  }
  .about__nums_item .numbers {
    position: absolute;
    top: 72%;
    left: 30%;
  }
  .about__nums_item .text {
    width: 90px;
  }
  .about__desc {
    margin-top: 96px;
    padding: 24px 0;
    gap: 24px;
  }
  .about__desc_text {
    width: 91.6666666667%;
  }
  .about .festival__desc_title {
    width: 100%;
  }
  .about .festival__desc_text {
    text-align: left;
  }
  .about .festival__desc_text p {
    text-align: left;
  }
  .about__sliders_top {
    flex-direction: column;
    gap: 1.5rem;
  }
  .about__sliders_more {
    width: 100%;
  }
  .about__sliders_more .btn {
    width: 100%;
  }
  .about__sliders_control {
    width: 100%;
  }
  .about__slider .swiper-slide {
    max-height: 250px;
  }
  .location {
    min-height: 630px;
  }
  .location.tour {
    min-height: 630px;
  }
  .location.tour .location__slides_navigation {
    justify-content: center;
  }
  .location.tour .location__slides_icon {
    margin-bottom: 0px;
    transform: translateX(0%);
  }
  .location.tour .location__content_subtitle {
    width: calc((100% - 32px) / 24 * 22);
  }
  .location.tour .location__ellipse {
    position: absolute;
    width: calc((100% - 47px) / 24 * 19);
    height: 0;
    padding-top: 66%;
    border-radius: 50%;
    border: 1px solid var(--clr-white-40);
    bottom: 0;
    transform: translateY(50%) translateX(-51%);
    z-index: 4;
    pointer-events: none;
    left: 50%;
  }
  .location.tour .location__ellipse-sm {
    position: absolute;
    width: calc((100% - 0px) / 24 * 8);
    height: 0;
    padding-top: 33%;
    border-radius: 50%;
    border: 1px solid var(--clr-white);
    bottom: 0;
    transform: translateY(37%) translateX(-50%);
    z-index: 4;
    pointer-events: none;
    left: 50%;
  }
  .location__content {
    padding: 56px 0;
  }
  .location__content .h2 {
    font-size: 2rem;
  }
  .location__content_top {
    gap: 1rem;
    margin-bottom: 23px;
  }
  .location__content_subtitle {
    font-size: 1.125rem;
    width: 100%;
  }
  .location__more {
    margin-left: auto;
    margin-right: auto;
    width: 217px;
  }
  .location__slides_navigation {
    left: 18%;
    width: 70%;
  }
  .location__slides_btn {
    width: 86px;
    height: 86px;
    margin-bottom: 0;
  }
  .location__slides_icon {
    margin-bottom: 0;
    transform: translateX(-14%);
  }
  .location__slides_icon .numbers_xl {
    line-height: 0.6;
  }
  .location__slides_icon .time {
    font-size: 1.25rem;
    position: absolute;
    left: 100%;
    bottom: calc(100% + 8px);
  }
  .location__slides_icon .text {
    left: auto;
    right: calc(100% + 33px);
    bottom: calc(100% + 25px);
    font-size: 0.875rem;
  }
  .description .festival__desc_title {
    width: 100%;
  }
  .description .festival__desc_text {
    width: 91.6666666667%;
    text-align: left;
  }
  .description__slider .swiper-slide {
    max-height: 250px;
  }
  .history {
    padding-top: 74px;
    padding-bottom: 48px;
  }
  .history__images_slider {
    height: 300px;
  }
  .history__desc_slide {
    padding: 32px 0;
  }
  .history__desc_slide_content {
    width: 100%;
  }
  .history__dates_slide {
    padding-top: 24px;
  }
  .mission__title {
    width: 100%;
    margin-bottom: 40px;
  }
  .mission .festival__desc_text {
    width: 100%;
    text-align: left;
  }
  .mission__image_content {
    padding-top: 0;
  }
  .mission__image img {
    height: 400px;
  }
  .leaders .festival__desc {
    padding-top: 24px;
    padding-bottom: 32px;
  }
  .leaders .festival__desc_title .h2 {
    font-size: 3rem;
  }
  .leaders__desc_slide {
    padding-right: 32px;
  }
  .leaders__item_top {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .leaders__item_img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
  }
  .leaders .history__images_slider {
    height: 500px;
  }
  .leaders .history__images_slide {
    height: 100%;
  }
  .personal__content {
    margin-top: 80px;
  }
  .personal__slide_img {
    width: 84px;
    height: 84px;
  }
  .h3 {
    font-size: 2.5rem;
  }
  .advs {
    padding-top: 48px;
  }
  .advs .h2 {
    font-size: 48px;
  }
  .advs h2 {
    margin-bottom: 116px;
  }
  .advs__item {
    align-items: flex-start;
  }
  .advs__item_text {
    width: 66.6666666667%;
  }
  .advs__item_img {
    width: 84px;
    height: 84px;
  }
  .h2-l {
    font-size: 3rem;
  }
  .feedback .h1 {
    font-size: 4rem;
  }
  .feedback__form_title {
    width: 100%;
  }
  .feedback__form_agree_text {
    width: 100%;
  }
  .feedback__form_field {
    width: 100%;
  }
}