@media (max-width: 576px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
  .menu_font {
    font-size: 3rem;
  }
  .head__logo {
    margin-left: 0;
  }
  .head__right {
    padding-left: 2px;
  }
  .head__left {
    padding-right: 2px;
  }
  .head .col-2 {
    width: 33.3333333333%;
  }
  .head .col-5 {
    width: 33.3333333333%;
  }
  .foot .container {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  .foot__nav {
    width: 100%;
    margin-left: 0;
    max-width: none;
    align-content: space-between;
  }
  .foot__nav_list {
    flex-wrap: wrap;
    max-height: 65px;
    gap: 8px;
    align-content: space-between;
  }
  .foot__nav_item {
    width: 42%;
  }
  .foot__nav_link {
    font-size: 1.25rem;
  }
  .foot .row {
    flex-direction: column;
    gap: 40px;
  }
  .foot .col-2, .foot .col-4, .foot .col-5 {
    width: 100%;
  }
  .foot .scls {
    margin-bottom: 0px;
    flex-direction: row;
    justify-content: space-between;
  }
  .foot .scls__title {
    width: 100%;
    max-width: none;
    line-height: 1.4;
  }
  .foot__left_content {
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 24px;
  }
  .foot__right_content {
    padding-top: 0px;
    padding-bottom: 20px;
    gap: 48px;
  }
  .foot__copy {
    padding-top: 24px;
  }
  .foot__copy .row {
    gap: 8px;
  }
  .foot__copy_nav {
    gap: 4px;
  }
  .foot__copy_list {
    gap: 4px;
  }
  .foot__copy_text {
    max-width: none;
  }
  .foot__email .menu-link {
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
  .foot__email .menu-link .icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }
  .mobile__head .container {
    padding-bottom: 0px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 8px;
  }
  .mobile__nav {
    width: 100%;
    flex: 0 0 0;
  }
  .mobile__nav_title {
    font-size: 2.25rem;
    padding: 22px 0 21px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 40px;
  }
  .mobile__nav_list {
    gap: 32px;
  }
  .mobile__nav_btn {
    display: flex;
    width: 100%;
    margin-bottom: 0;
    padding: 22px 0 21px;
  }
  .mobile__scls {
    gap: 12px;
  }
  .mobile__body_cols {
    margin-bottom: 150px;
  }
}