@media (max-width: 768px) {
  h1:not(.h1-l),
  .h1:not(.h1-l),
  .text-content h1:not(.h1-l) {
    font-size: 6.25rem;
  }
  h1.h1-l,
  .h1.h1-l,
  .text-content h1.h1-l {
    font-size: 7.5rem;
  }
  .text_content h2 {
    font-size: 3rem;
  }
  .text_content h3 {
    font-size: 3rem;
  }
  .desc_content p {
    width: 91.6666666667%;
    margin-bottom: 36px;
  }
  .desc_content blockquote {
    width: 91.6666666667%;
  }
  .download-link {
    gap: 16px;
  }
  .date_xl {
    font-size: 4rem;
  }
  .section {
    padding-left: 24px;
    padding-right: 24px;
  }
  .container {
    max-width: 716px;
  }
  .btn {
    padding: 21px 48px;
  }
  .btn_menu {
    padding: 0 !important;
  }
  .btn_menu .lines {
    width: 18px;
    height: 14px;
  }
  .btn_social {
    width: 96px;
    height: 96px;
    padding: 0 !important;
  }
  .btn_social svg {
    width: 20px;
  }
  .btn_social svg.tg {
    width: 15px;
  }
  .btn_slim {
    padding: 14px 40px;
  }
  .btn_filter {
    width: 64px;
    height: 64px;
    padding: 0;
  }
  .btn_filter_icon {
    width: auto;
    height: auto;
    padding: 20px 31px;
    font-size: 1rem;
    gap: 10px;
  }
  .btn_play {
    width: 64px;
    height: 64px;
  }
  .text_content div:not(:last-child) {
    margin-bottom: 40px;
  }
  .depkult-logo {
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
  }
  .row {
    display: flex;
    margin-left: -2px;
    margin-right: -2px;
  }
  .col {
    width: 8.3333333333%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .head {
    padding-left: 24px;
    padding-right: 24px;
  }
  .head .container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .head__bottom {
    padding-top: 10px;
  }
  .head__bottom_sm {
    display: flex;
  }
  .head__logo {
    height: 74px;
    margin-left: -10px;
  }
  .head__left_content {
    padding-top: 8px;
  }
  .head__right_content {
    padding-bottom: 8px;
  }
  .foot .container {
    padding-top: 28px;
  }
  .foot__nav {
    width: 100%;
    margin-left: 0;
  }
  .foot .col-2, .foot .col-5 {
    width: 33.3333333333%;
  }
  .foot .scls {
    margin-bottom: 80px;
  }
  .foot__left_content {
    padding-top: 38px;
    padding-bottom: 31px;
  }
  .foot__right_content {
    padding-top: 32px;
    padding-bottom: 25px;
  }
  .foot__copy {
    padding-top: 26px;
  }
  .foot__copy_nav {
    gap: 4px;
  }
  .foot__copy_list {
    gap: 4px;
  }
  .mobile__content {
    padding-bottom: 75px;
  }
  .mobile__head .container {
    padding-bottom: 0px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 8px;
  }
  .mobile__nav {
    width: 100%;
    flex: 0 0 0;
  }
  .mobile__nav:nth-child(2) {
    margin-left: 0px;
  }
  .mobile__nav:nth-child(3) {
    margin-left: 0px;
  }
  .mobile__nav:nth-child(4) {
    margin-right: 0px;
  }
  .mobile__nav:nth-child(5) {
    margin-right: 0px;
  }
  .mobile__nav_title {
    font-size: 2.25rem;
    padding: 22px 0 21px;
    border-bottom: 1px solid rgb(216, 216, 216);
    margin-bottom: 40px;
  }
  .mobile__nav_title .icon {
    display: flex;
  }
  .mobile__nav_list {
    gap: 32px;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding-bottom: 24px;
  }
  .mobile__nav_btn {
    display: flex !important;
    width: 100%;
    margin-bottom: 0;
  }
  .mobile__nav_sublist {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    background: rgb(251, 251, 251);
    visibility: hidden;
    z-index: 10;
    transition: all 0.5s;
  }
  .mobile__nav_sublist.active {
    visibility: visible;
    transform: translateX(0);
  }
  .mobile__scls {
    gap: 12px;
  }
  .mobile__body .container {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    justify-content: space-between;
  }
  .mobile__body_cols {
    padding-top: 0px;
    gap: 0px;
    flex-direction: column;
    margin-bottom: 284px;
  }
  .mobile__wave {
    height: 165px;
  }
  .breadcrumbs {
    margin-bottom: 11px;
  }
  .section_pt_sm {
    padding-top: 18px !important;
  }
  .title_xl {
    width: calc((100% - 32px) / 24 * 24) !important;
  }
  .fs_index {
    max-height: 1080px;
  }
  .fs_index .container {
    padding-top: 164px;
    padding-bottom: 56px;
  }
  .fs .container {
    padding-top: 172px;
    padding-bottom: 31px;
  }
  .fs__event-title {
    margin-top: 68px;
    margin-bottom: 64px;
    gap: 2.8rem;
  }
  .fs__page-title {
    width: calc((100% - 32px) / 24 * 24) !important;
  }
  .fs__page-subtitle {
    width: 100%;
    margin-top: 28px;
  }
  .fs .h1-l {
    margin-top: 64px;
  }
  .fs__picture_slider .swiper-nav {
    right: 24px;
    bottom: 24px;
  }
  .fs__info {
    margin-bottom: 40px;
  }
  .fs__title {
    width: 100%;
  }
  .fs__slide_content {
    flex-direction: column-reverse;
    height: 70%;
    gap: 24px;
  }
  .fs__slide_preview {
    min-height: 360px;
  }
  .fs__slide_bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  .fs__slide_bottom .btn {
    order: 1;
  }
  .fs__slide_control {
    order: 2;
  }
  .fs__slide_tags {
    flex-direction: row;
    position: relative;
  }
  .fs__slide_desc {
    width: 100%;
  }
  .fs__slide_left {
    width: 100%;
    order: 1;
    flex-direction: column-reverse;
  }
  .fs__slide_left .tags {
    display: none;
  }
  .fs__slide_info {
    flex-direction: column-reverse;
    gap: 2rem;
  }
  .fs__slide_info .tags {
    display: flex;
  }
  .fs__slide_icon.sm_icon {
    height: 50%;
    margin-right: 0;
  }
  .fs__slide_text {
    margin-top: 38px;
  }
  .fs__slide_text .btn {
    margin-top: 22px;
  }
  .fs__content_slide {
    flex-direction: column;
  }
  .event {
    padding-bottom: 68px;
    padding-top: 16px;
  }
  .event__title {
    padding-bottom: 1.25rem;
  }
  .event__section_row {
    padding: 19px 0;
  }
  .event__desc {
    padding: 55px 0;
  }
  .event__aside {
    padding-top: 32px;
    gap: 37px;
    align-items: center;
  }
  .event__aside_date {
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
  }
  .event__aside_btn {
    display: none;
  }
  .event__person_content .text_content {
    width: 91.6666666667%;
    padding-bottom: 0;
  }
  .event__person_content .text_content.text_content_sm {
    width: 88.588235%;
  }
  .event__person_content .text_content div:not(:last-child) {
    margin-bottom: 48px;
  }
  .event__person_content .text_content ul, .event__person_content .text_content ol {
    margin-top: 30px;
  }
  .event__person_content .text_content ul li, .event__person_content .text_content ol li {
    padding-left: 16px;
  }
  .event__person_content .text_content h2 {
    margin-bottom: 30px;
  }
  .event__person_content .text_content h5 {
    margin-top: 56px;
  }
  .event__person_content .text_content blockquote {
    margin-top: 2rem;
    margin-left: 0;
    padding-left: 60px;
  }
  .event__person_content .text_content svg.mark {
    width: 48px;
    height: 44px;
  }
  .event__person_content_table {
    margin-top: 36px;
  }
  .event__person_nums {
    margin-top: 36px;
    margin-bottom: 36px;
  }
  .event .festival__desc {
    padding-top: 50px;
  }
  .event .festival__desc_title {
    margin-bottom: 50px;
  }
  .event .festival__desc_text {
    margin-left: 0;
    width: calc((100% - 24px) / 24 * 23);
  }
  .event .festival__desc_text p {
    padding-left: 60px;
  }
  .event .festival__desc_text blockquote {
    margin-left: 0;
    padding-left: 60px;
    margin-top: 40px !important;
  }
  table colgroup col:nth-child(1) {
    width: 11% !important;
  }
  table colgroup col:nth-child(2) {
    width: 14.8% !important;
  }
  table colgroup col:nth-child(3) {
    width: 45.2% !important;
  }
  table colgroup col:nth-child(4) {
    width: 29% !important;
  }
  .accordion__content_desc {
    padding-top: 24px;
  }
  .accordion__content .text_content {
    padding: 56px 0 32px;
  }
  .accordion__content .text_content div {
    margin-bottom: 58px;
  }
  .events {
    padding-top: 24px;
    padding-bottom: 95px;
  }
  .events__title {
    margin-bottom: 40px;
    width: 100%;
  }
  .events__title .h2 {
    width: 58.3333333333%;
  }
  .events__content_row {
    padding-top: 4px;
    padding-bottom: 40px;
    gap: 40px;
  }
  .events__content_row:last-child {
    padding-bottom: 23px;
  }
  .events__top {
    margin-bottom: 32px;
  }
  .events__nav_list.dropdown {
    padding: 20px 24px 20px 32px;
    width: 58.3333333333%;
  }
  .events__date {
    padding: 30px 0;
  }
  .events__item {
    gap: 38px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .events__item:first-child {
    padding-top: 0;
  }
  .events__item_preview {
    width: calc((100% - 6px) / 12 * 5);
  }
  .events__item_info {
    width: calc((100% - 6px) / 12 * 6);
  }
  .events__item_desc {
    width: 100%;
    margin-top: auto;
  }
  .events__item_top {
    height: 193px;
  }
  .events .festival__desc {
    margin-bottom: 64px;
  }
  .events .festival__desc_title {
    margin-bottom: 46px;
  }
  .events .festival__desc_text {
    margin-left: 0;
  }
  .events .leaders__desc_title {
    font-size: 4rem;
    margin-bottom: 44px;
  }
  .events .leaders__desc_slide_content {
    width: 84%;
  }
  .events .leaders__desc_slide_content .text_content div:not(:last-child) {
    margin-bottom: 58px;
  }
  .filter__form_field_col {
    width: 100% !important;
  }
  .filter__form_slider {
    justify-content: flex-start;
    padding: 4px 0;
  }
  .calendar__form {
    padding: 32px 0 36px;
  }
  .calendar__form_control {
    margin-bottom: 1.75rem;
  }
  .calendar__weekdays {
    grid-gap: 1rem;
  }
  .calendar__days {
    grid-gap: 1rem;
  }
  .calendar__day {
    padding-top: 0.875rem;
  }
  .halls__slide {
    padding: 64px 26px;
  }
  .halls__slider_desc .swiper-nav {
    bottom: 66px;
    right: 26px;
  }
  .halls .dropdown {
    width: calc(100% - 48px) !important;
    bottom: 32px !important;
  }
  .halls .dropdown__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    color: var(--clr-white);
    line-height: 1.4;
    padding: 18px 32px;
  }
  .halls .dropdown__list {
    position: absolute;
    opacity: 0;
    bottom: calc(100% + 10px) !important;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 0.3s;
    flex-direction: column;
    -webkit-backdrop-filter: var(--bg-filter-blur) !important;
            backdrop-filter: var(--bg-filter-blur) !important;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 10;
  }
  .halls .dropdown__list .btn {
    border-radius: 10px;
    justify-content: flex-start;
    color: var(--clr-white);
    padding: 18px 36px;
  }
  .halls .dropdown.active .dropdown__list {
    transform: translateY(0px);
  }
  .halls .dropdown .before {
    display: none;
  }
  .festival {
    margin-bottom: 24px;
  }
  .festival__slider {
    position: relative;
  }
  .festival__slider .swiper-nav {
    position: absolute;
    right: 24px;
    bottom: 24px;
    z-index: 10;
  }
  .festival__slider .swiper-nav .btn_slider {
    background: var(--clr-white-20);
  }
  .festival__slider .swiper-nav .btn_slider svg path {
    stroke: var(--clr-white);
  }
  .festival__slider .swiper-nav .btn_slider:hover {
    background: var(--clr-white-10);
  }
  .festival__slider .swiper-pagination {
    position: absolute;
    margin-top: 1.375rem;
    visibility: hidden;
  }
  .festival__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .festival__desc {
    padding: 36px 0 24px;
  }
  .festival__desc_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 32px) / 24 * 20);
    gap: 24px;
    margin: 0 auto 24px;
  }
  .festival__desc_title .h2 {
    font-size: 3rem;
  }
  .festival__desc_text {
    width: calc((100% - 32px) / 24 * 16);
    margin-left: auto;
  }
  .news {
    padding-top: 74px;
    padding-bottom: 120px;
  }
  .news__title {
    margin-bottom: 2.5rem;
  }
  .news__slide {
    padding-top: 1.75rem;
    gap: 32px;
  }
  .news__slide_date {
    margin-bottom: 28px;
  }
  .news__slide_preview {
    height: 206px;
  }
  .news__more {
    margin-top: 1rem;
  }
  .news__more .btn {
    font-size: 1.375rem;
    padding: 27px 62px;
  }
  .numbers_l {
    line-height: 1.3;
  }
  .about {
    padding-bottom: 112px;
  }
  .about.section_pt_sm {
    padding-top: 1rem !important;
  }
  .about__title {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.375rem;
    margin-bottom: 50px;
  }
  .about__title .h3 {
    width: 75%;
  }
  .about__subtitle {
    width: 58.3333333333%;
  }
  .about__more {
    width: 217px;
    position: relative;
  }
  .about__nums {
    padding-top: 30px;
    gap: 4px;
  }
  .about__nums_item {
    width: calc((100% - 4px) / 12 * 5);
  }
  .about__nums_item:nth-child(2n) {
    width: calc((100% + 16px) / 12 * 5);
  }
  .about__nums_item:nth-child(2n) .numbers {
    margin-right: 0;
  }
  .about__nums_item .numbers {
    line-height: 0.8;
  }
  .about__desc {
    margin-top: 52px;
  }
  .about__desc_text {
    width: 90%;
  }
  .about__desc_text p {
    line-height: 1.6;
  }
  .about__desc_text p:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  .about__desc_num {
    padding: 24px 0;
  }
  .about__desc_num:first-child {
    padding-top: 24px;
  }
  .about__desc_img {
    height: 376px;
  }
  .about .festival__desc {
    padding-bottom: 48px;
  }
  .about .festival__desc_title {
    width: 87%;
    gap: 34px;
    margin-bottom: 46px;
  }
  .about .festival__desc_title.title_l {
    width: 100%;
  }
  .about .festival__desc_title .h2 {
    font-size: 4rem;
  }
  .about .festival__desc_text {
    margin-left: 0;
    width: 100%;
  }
  .about .festival__desc_more {
    margin-top: 35px;
  }
  .about .organ__title {
    width: 100%;
  }
  .about__slider {
    margin-top: 0;
  }
  .about__slider .swiper-slide {
    max-height: 346px;
  }
  .location {
    min-height: 812px;
  }
  .location.tour {
    min-height: 1040px;
  }
  .location.tour .location__slides_navigation {
    justify-content: center;
  }
  .location.tour .location__slides_icon {
    margin-bottom: -12px;
    transform: translateX(17%);
  }
  .location.tour .location__content_subtitle {
    width: calc((100% - 32px) / 24 * 9);
  }
  .location.tour .location__ellipse {
    position: absolute;
    width: calc((100% - 47px) / 24 * 19);
    height: 0;
    padding-top: 66%;
    border-radius: 50%;
    border: 1px solid var(--clr-white-40);
    bottom: 0;
    transform: translateY(50%) translateX(-51%);
    z-index: 4;
    pointer-events: none;
    left: 50%;
  }
  .location.tour .location__ellipse-sm {
    position: absolute;
    width: calc((100% - 0px) / 24 * 8);
    height: 0;
    padding-top: 33%;
    border-radius: 50%;
    border: 1px solid var(--clr-white);
    bottom: 0;
    transform: translateY(37%) translateX(-50%);
    z-index: 4;
    pointer-events: none;
    left: 50%;
  }
  .location__content {
    padding: 80px 0;
  }
  .location__content_top {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .location__content_top .h2 {
    width: 100%;
  }
  .location__content_subtitle {
    margin-top: 8px;
    width: 58.3333333333%;
  }
  .location__more {
    width: 237px;
  }
  .location__path {
    height: 120px;
  }
  .location__path_icon {
    width: 100%;
  }
  .location__path_icon .sm_icon {
    display: inline;
  }
  .location__path_icon .xl_icon {
    display: none;
  }
  .location__ellipse {
    display: none;
  }
  .location__ellipse-sm {
    display: none;
  }
  .location__slides_navigation {
    left: 21%;
    width: 60%;
  }
  .location__slides_icon {
    width: auto;
    position: relative;
    transform: translateX(11%);
  }
  .location__slides_icon .text {
    position: absolute;
    left: 100%;
  }
  .location__slides_btn {
    width: 116px;
    height: 116px;
    margin-bottom: 30px;
  }
  .location__slides_btn.last {
    order: -1;
    opacity: 0;
    visibility: hidden;
  }
  .location__slides_btn.first {
    opacity: 1 !important;
    visibility: visible !important;
    order: 2;
  }
  .description .festival__desc {
    padding: 24px 0;
  }
  .description .festival__desc_title {
    gap: 32px;
  }
  .description .festival__desc_title .h2 {
    font-size: 4rem;
  }
  .description .festival__desc_text {
    padding-right: 0;
  }
  .description .festival__desc_text p {
    line-height: 1.6;
  }
  .description__sliders {
    margin-top: 18px;
  }
  .description__slider_control {
    margin-top: 22px;
  }
  .description__slider .swiper-slide {
    max-height: 346px;
  }
  .history {
    padding-top: 80px;
    padding-bottom: 56px;
  }
  .history__images_slider {
    height: 450px;
  }
  .history__images_slide {
    height: 100%;
  }
  .history__desc_slide {
    padding: 40px 56px 0 0;
  }
  .history__desc_slide_content {
    width: 77%;
  }
  .history__desc_slide_content mark {
    line-height: 1.6;
  }
  .history__desc_title {
    margin-bottom: 42px;
  }
  .history__desc .swiper-nav {
    position: absolute;
    visibility: hidden;
    opacity: 0;
  }
  .history__dates .swiper-nav {
    opacity: 1;
    visibility: visible;
    z-index: 10;
  }
  .history__dates_slide {
    padding-top: 42px;
  }
  .history__dates_slide .news__slide_date {
    margin-bottom: 0;
  }
  .mission {
    padding-top: 56px;
    padding-bottom: 84px;
  }
  .mission__tag p {
    margin-bottom: 22px;
  }
  .mission .text_content p {
    line-height: 1.6;
  }
  .mission .text_content p:not(:last-child) {
    margin-bottom: 1.25rem;
  }
  .mission__image {
    margin-top: 42px;
  }
  .mission__image_content.text_content p {
    line-height: 1.4;
  }
  .mission__image_content.text_content p:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .organ {
    padding-top: 45px;
  }
  .organ__title {
    margin-bottom: 48px;
  }
  .organ .about__desc {
    padding: 40px 0 0;
  }
  .organ .about__desc_text {
    width: 90%;
  }
  .organ .about__desc_more {
    margin-top: 24px;
  }
  .organ .about__desc_col:last-child {
    padding-right: 0;
  }
  .organ .about__desc_num {
    padding: 28px 0;
  }
  .organ .about__desc_num:first-child {
    padding-top: 0;
  }
  .organ .about__desc_num .numbers_l {
    line-height: 1.1;
  }
  .awards .news__slide {
    gap: 26px;
  }
  .awards__slide_logo {
    height: 120px;
  }
  .section_pb_l {
    padding-bottom: 0.5rem !important;
  }
  .navigation {
    padding-bottom: 22px;
    padding-top: 110px;
  }
  .navigation__list {
    flex-direction: column;
    gap: 0;
  }
  .navigation__item {
    width: 100%;
    gap: 10px;
    padding: 25px 0;
  }
  .navigation__item_index {
    line-height: 0.6;
  }
  .leaders .festival__desc {
    padding-top: 36px;
  }
  .leaders .festival__desc_title .h2 {
    font-size: 4rem;
  }
  .leaders .history__images_slider {
    height: 700px;
  }
  .leaders .history__images_slide {
    height: 100%;
  }
  .leaders .about__desc {
    padding-top: 26px;
    padding-bottom: 40px;
    gap: 14px;
  }
  .leaders .about__desc_num:first-child {
    padding-top: 0;
  }
  .leaders__sliders {
    gap: 2rem;
  }
  .leaders__desc_title {
    margin-bottom: 28px;
  }
  .leaders__desc_slide {
    padding-right: 90px;
    padding-bottom: 40px;
  }
  .leaders__item {
    gap: 1.5rem;
    padding: 31px 0;
  }
  .leaders__item_top {
    margin-bottom: 40px;
  }
  .news-detail__section_row {
    padding: 1.375rem 0;
  }
  .partners {
    padding-bottom: 3.5rem;
  }
  .partners .news__slide {
    padding-top: 1.25rem;
  }
  .partners .about__sliders_top {
    margin-bottom: 46px;
  }
  .partners__slide_desc {
    flex-direction: column;
    height: 100%;
    gap: 24px;
  }
  .partners__slide_icon {
    margin-left: auto;
    margin-top: auto;
    max-width: 100%;
    width: 100%;
    height: 120px;
  }
  .partners__slide_icon img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    width: 100%;
  }
  .personal__content {
    margin-top: 90px;
    padding-top: 42px;
  }
  .personal__slide_text {
    width: 75%;
  }
  .personal__slide_text .mark {
    margin-bottom: 56px !important;
  }
  .advs {
    padding-top: 60px;
    padding-bottom: 0;
  }
  .advs h2 {
    margin-bottom: 172px;
  }
  .advs__item {
    padding: 24px 0;
  }
  .section_pt_xl {
    padding-top: 6.75rem !important;
  }
  .mb-2 {
    margin-bottom: 3rem !important;
  }
  .vacancies__title {
    margin-bottom: 40px;
  }
  .vacancies__item {
    padding: 20px 0 20px;
  }
  .vacancies__link {
    align-items: flex-start;
  }
  .vacancies__link_desc {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 22px;
    width: calc((100% - 4px) / 12 * 11);
  }
  .feedback {
    padding-top: 34px;
    padding-bottom: 56px;
  }
  .feedback .h1 {
    font-size: 7.5rem;
  }
  .feedback__form_title {
    width: calc((100% - 4px) / 12 * 8);
  }
  .feedback__form_row {
    gap: 30px;
  }
  .feedback__form_submit {
    justify-content: flex-start;
  }
  .feedback__form_agree_text {
    margin-top: 30px;
    width: calc((100% - 4px) / 12 * 8);
  }
}
@media (max-width: 700px) {
  .head__left {
    padding-right: 1.5rem;
  }
  .head__right {
    padding-left: 1.5rem;
  }
}
@media (max-width: 650px) {
  .events__nav {
    flex-wrap: wrap;
    gap: 1rem;
  }
  .events__nav_list.dropdown {
    width: 100%;
  }
  .events__nav_tools {
    flex-grow: 1;
  }
  .events__nav_tools .btn_filter_icon {
    flex-grow: 1;
  }
  .events__more {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  .events__pagination {
    width: 100%;
    justify-content: space-between;
  }
}