@media (max-width: 991px) {
  .max991 {
    display: flex !important;
  }
  .min991 {
    display: none !important;
  }
  .row {
    display: flex;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
  .col {
    width: 8.3333333333%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .btn_social {
    width: 108px;
    height: 108px;
    padding: 0;
  }
  .btn_social svg.tg {
    width: 15px;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .links {
    gap: 0.875rem;
  }
  .links__item {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links__item.search svg {
    width: 14px;
    height: 14px;
  }
  .depkult-logo {
    width: 140px;
  }
  .head__top {
    display: flex !important;
  }
  .head__bottom {
    padding-top: 12px;
  }
  .head__left_content {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .head__right_content {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .head__right_content .btn_menu {
    width: 44px;
    height: 44px;
    margin-right: 0;
  }
  .head__right_content .btn_menu svg {
    width: 18px;
    height: 12px;
  }
  .foot .container {
    padding-top: 36px;
  }
  .foot__nav {
    width: 40%;
  }
  .foot .scls {
    margin-bottom: 0;
  }
}