@media (max-width: 991px) {
  h1,
  .h1,
  .text-content h1 {
    font-size: 6.75rem;
  }
  .desc_content p {
    padding-left: 60px;
    margin-bottom: 46px;
  }
  .desc_content blockquote {
    margin-left: 0;
    padding-left: 60px;
  }
  .max991 {
    display: flex !important;
  }
  .min991 {
    display: none !important;
  }
  .date_xl {
    font-size: 4.375rem;
  }
  .numbers {
    line-height: 0.6;
  }
  .row {
    display: flex;
    margin-left: -0.625rem;
    margin-right: -0.625rem;
  }
  .col {
    width: 8.3333333333%;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }
  .btn_social {
    width: 108px;
    height: 108px;
    padding: 0;
  }
  .btn_social svg.tg {
    width: 15px;
  }
  .col-2 {
    width: 16.6666666667%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.3333333333%;
  }
  .col-5 {
    width: 41.6666666667%;
  }
  .col-6 {
    width: 50%;
  }
  .links {
    gap: 0.875rem;
  }
  .links__item {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .links__item.search svg {
    width: 14px;
    height: 14px;
  }
  .dropdown-slider {
    position: relative;
  }
  .dropdown-slider__value {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    font-size: 1rem;
    line-height: 1.4;
    padding: 18px 32px;
    border-left: 1px solid rgb(16, 16, 16);
    border-radius: 53px;
  }
  .dropdown-slider__tabs {
    position: absolute;
    opacity: 0;
    top: calc(100% + 10px) !important;
    bottom: auto !important;
    left: 50% !important;
    visibility: hidden;
    transform: translateX(-50%) translateY(30px);
    transition: all 0.3s;
    flex-direction: column;
    -webkit-backdrop-filter: var(--bg-filter-blur) !important;
    backdrop-filter: var(--bg-filter-blur) !important;
    background: var(--clr-white-10);
    border-radius: 10px;
    z-index: 10;
    border: none;
  }
  .dropdown-slider .before {
    display: none;
  }
  .depkult-logo {
    width: 140px;
  }
  .head__top {
    display: flex !important;
  }
  .head__bottom {
    padding-top: 12px;
  }
  .head__left_content {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .head__right_content {
    justify-content: flex-end;
    padding-top: 0;
    padding-bottom: 10px;
  }
  .head__right_content .btn_menu {
    width: 44px;
    height: 44px;
    margin-right: 0;
  }
  .head__right_content .btn_menu svg {
    width: 18px;
    height: 12px;
  }
  .foot .container {
    padding-top: 36px;
  }
  .foot__nav {
    width: 40%;
  }
  .foot .scls {
    margin-bottom: 0;
  }
  .mobile__head .container {
    padding-bottom: 8px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 8px;
  }
  .mobile__nav {
    flex: 1 1 270px;
  }
  .mobile__nav:nth-child(2) {
    margin-left: 0px;
  }
  .mobile__nav:nth-child(3) {
    margin-left: 0px;
  }
  .mobile__nav:nth-child(4) {
    margin-right: 0px;
  }
  .mobile__nav:nth-child(5) {
    margin-right: 0px;
  }
  .mobile__nav_title {
    font-size: 2.375rem;
    margin-bottom: 1.125rem;
  }
  .mobile__nav_list {
    gap: 12px;
  }
  .mobile__scls {
    gap: 8px;
  }
  .mobile__body_cols {
    padding-top: 80px;
    gap: 28px;
    flex-wrap: wrap;
  }
  .fs_index {
    max-height: 1080px;
  }
  .fs__event-title {
    flex-direction: column;
    gap: 2rem;
  }
  .fs__page-title {
    width: 83.3333333333%;
  }
  .fs__title.fs__title-sm .h2 {
    width: calc((100% - 12px) / 24 * 24);
    font-size: 4rem;
  }
  .fs__page-subtitle {
    width: 80%;
  }
  .fs__info {
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 44px;
  }
  .fs__info_left {
    margin-left: 0;
  }
  .fs .container {
    padding-top: 176px;
  }
  .fs__slide_icon {
    margin-top: auto;
    margin-bottom: auto;
  }
  .event .container {
    flex-direction: column-reverse;
  }
  .event__aside {
    width: 100%;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
  .event__aside_date {
    width: 100%;
    border: none;
    padding-bottom: 0;
  }
  .event__share {
    margin-left: auto;
  }
  .event__share_title {
    display: none;
  }
  .event__calendar_btn {
    margin-top: 0;
    display: flex;
    width: 100%;
    padding-top: 40px;
    border-top: 1px solid rgb(219, 219, 219);
  }
  .event__content {
    width: 100%;
  }
  .event__subtitle {
    width: 58.3333333333%;
  }
  .event__section_col {
    width: 58.3333333333%;
  }
  .accordion__content_desc {
    padding-top: 32px;
  }
  .accordion__content .text_content {
    padding: 56px 0 40px;
    width: 91.6666666667%;
  }
  .events__content_row {
    flex-direction: column;
    padding-top: 10px;
  }
  .events__content_row:last-child::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(219, 219, 219);
    top: 100%;
  }
  .events__list {
    width: 100%;
  }
  .events__item_preview {
    width: 41.6666666667%;
  }
  .events__item_info {
    width: 50%;
  }
  .events__item_control_link {
    width: 41.6666666667%;
    display: block;
  }
  .events__item_tags {
    width: 50%;
  }
  .events__date {
    z-index: 1;
    background: #fff;
    width: 100%;
    top: 0;
    padding: 20px 0;
    margin-top: 0;
  }
  .events__date::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgb(219, 219, 219);
    top: 100%;
  }
  .events__more {
    margin-top: 2.5rem;
  }
  .halls {
    height: auto;
  }
  .halls__slider_view {
    flex-direction: column;
  }
  .halls__slider_images {
    width: 100%;
  }
  .halls__slider_desc {
    width: 100%;
  }
  .halls__slider_desc .swiper-nav {
    bottom: 0;
    right: 32px;
  }
  .halls__slider_small {
    visibility: hidden;
  }
  .halls__slide {
    padding: 64px 32px 0;
    gap: 40px;
  }
  .halls__slide_title {
    width: 58.3333333333%;
  }
  .halls__slide_text {
    width: 58.3333333333%;
    gap: 4rem;
  }
  .news_title {
    margin-bottom: 2.5rem;
  }
  .news__list {
    grid-gap: 8px;
  }
  .festival {
    margin-bottom: 36px;
  }
  .festival__slider {
    position: relative;
  }
  .festival__slider .swiper-nav {
    position: absolute;
    right: 24px;
    bottom: 32px;
    z-index: 10;
  }
  .festival__slider .swiper-nav .btn_slider {
    background: var(--clr-white-20);
  }
  .festival__slider .swiper-nav .btn_slider svg path {
    stroke: var(--clr-white);
  }
  .festival__slider .swiper-nav .btn_slider:hover {
    background: var(--clr-white-10);
  }
  .festival__slider .swiper-pagination {
    position: absolute;
    margin-top: 1.375rem;
    visibility: hidden;
  }
  .festival__slide img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .festival__desc {
    padding: 56px 0 48px;
  }
  .festival__desc_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc((100% - 32px) / 24 * 16);
    gap: 36px;
    margin: 0 auto 36px;
  }
  .festival__desc_text {
    margin-left: 0;
    width: 75%;
    margin-left: auto;
  }
  .about {
    margin-bottom: 0;
    padding-bottom: 120px;
  }
  .about__title .h3 {
    width: calc((100% - 24px) / 24 * 14);
  }
  .about__subtitle {
    font-size: 20px;
    width: calc((100% - 16px) / 24 * 9);
  }
  .about__more {
    width: calc((100% - 64px) / 24 * 5);
  }
  .about__nums {
    position: static;
    transform: translateY(0);
    width: 100%;
    justify-content: flex-start;
    padding: 20px 0 0;
  }
  .about__nums_item {
    flex-direction: column;
    gap: 20px;
  }
  .about__nums_item .numbers {
    line-height: 1;
    margin-left: auto;
    margin-right: auto;
  }
  .about__nums_item .text {
    width: 143px;
  }
  .about__nums_item:nth-child(2n) {
    gap: 20px;
  }
  .about__desc {
    margin-top: 96px;
    flex-direction: column-reverse;
    gap: 32px;
    padding: 32px 0;
  }
  .about__desc_col {
    width: 100%;
  }
  .about__desc_col:last-child {
    padding-right: 0;
  }
  .about__desc_num {
    padding: 32px 0;
  }
  .about__desc_num:first-child {
    border-top: 1px solid rgb(219, 219, 219);
    padding-top: 32px;
  }
  .about__desc_img {
    width: 100%;
    margin-top: 42px;
  }
  .about__sliders_control {
    width: 66.6666666667%;
  }
  .about__sliders_more.max991 {
    margin-top: 64px;
    display: flex;
    justify-content: center;
  }
  .about__slider .swiper-slide {
    max-height: 450px;
  }
  .about__aside .about__desc_num {
    border-top: none;
  }
  .location__content {
    padding: 98px 0;
  }
  .location__content_title {
    width: calc((100% - 45px) / 24 * 12);
  }
  .location__content_top {
    margin-bottom: 20px;
  }
  .location__content_subtitle {
    width: calc((100% - 16px) / 24 * 10);
  }
  .location__more {
    width: calc((100% - 32px) / 24 * 6);
  }
  .location__slides_navigation {
    left: 34%;
    width: 62%;
  }
  .location__slides_btn {
    width: 108px;
    height: 108px;
  }
  .description .festival__desc {
    padding: 40px 0;
  }
  .description .festival__desc_title {
    width: 83.3333333333%;
    margin-bottom: 32px;
  }
  .description .festival__desc_text {
    margin-left: 0;
    width: 75%;
  }
  .description__slider .swiper-slide {
    max-height: 450px;
  }
  .history {
    padding-top: 86px;
  }
  .history__sliders {
    gap: 2rem;
  }
  .history__desc {
    width: 100%;
  }
  .history__images_slider {
    width: 100%;
    order: -1;
  }
  .mission .festival {
    padding: 40px 0;
  }
  .mission .festival_title {
    width: 83.3333333333%;
    margin-bottom: 32px;
  }
  .mission .festival__desc_text {
    margin-left: 0;
    width: 75%;
  }
  .mission__image_content {
    position: relative;
    padding-top: 24px;
    width: 75%;
  }
  .leaders .about__desc {
    flex-direction: column;
    margin-top: 0;
  }
  .leaders .about__desc_col::before {
    display: none;
  }
  .leaders .about__desc_num {
    padding-top: 0;
    border-top: none;
  }
  .leaders__desc {
    width: 100%;
  }
  .leaders__item {
    flex-direction: column;
    gap: 2rem;
    padding: 32px 0;
  }
  .leaders__item_col {
    width: 100%;
  }
  .partners__slide_desc {
    flex-direction: column;
    height: 100%;
    gap: 24px;
  }
  .partners__slide_icon {
    margin-left: auto;
    margin-top: auto;
    max-width: 100%;
    width: 100%;
    height: 120px;
  }
  .partners__slide_icon img {
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
    height: 100%;
    width: 100%;
  }
}