@media (max-width: 1650px) {
  .h2 {
    font-size: 4.75rem;
  }
  .h3 {
    font-size: 3.625rem;
  }
  .depkult-logo {
    width: 195px;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4.875rem;
  }
  .main_font {
    font-size: 1.25rem;
  }
  .head .btn_menu {
    margin-right: -16px;
  }
  .head__left_content {
    gap: 72px;
  }
  .head__left .links__list {
    gap: 1.25rem;
  }
  .head__left .links__item {
    width: 28px;
    height: 28px;
  }
  .head__left .links__item svg {
    width: 85%;
  }
  .head__left .links.head__left .links:nth-child(2) {
    margin-left: 20px;
  }
  .head__right_content {
    padding-bottom: 27px;
  }
  .head__logo {
    height: 101px;
  }
  .head__languages {
    font-size: 1.25rem;
  }
  .btn_menu {
    width: 56px;
    height: 56px;
  }
  .btn_menu svg {
    width: 22px;
  }
  .btn_social {
    width: 160px;
    height: 160px;
  }
  .nav-link {
    font-size: 1.25rem;
  }
  .foot__nav {
    width: 29%;
  }
  .foot__nav_link {
    font-size: 1.875rem;
  }
  .foot__contacts_addr {
    font-size: 1.25rem;
  }
  .scls__title {
    font-size: 24px;
  }
  .mobile__head .head .container {
    padding-bottom: 6px;
  }
  .mobile__head .head__right_content {
    gap: 100px;
  }
  .mobile__nav_title {
    font-size: 2.875rem;
  }
  .mobile__body_cols {
    padding-top: 140px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs .container {
    padding-top: 160px;
  }
  .events {
    padding-top: 116px;
    padding-bottom: 150px;
  }
  .halls {
    height: 780px;
  }
  .news {
    padding-top: 200px;
  }
}
@media (max-width: 1550px) {
  .h2 {
    font-size: 4.5rem;
  }
  .h3 {
    font-size: 3.325rem;
  }
  .tag {
    font-size: 16px;
  }
  .depkult-logo {
    width: 170px;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4.5rem;
  }
  .main_font {
    font-size: 1.125rem;
  }
  .afisha {
    font-size: 0.875rem;
  }
  .head__left_content {
    gap: 68px;
  }
  .head__left .links__list {
    gap: 1.125rem;
  }
  .head__left .links__item {
    width: 26px;
    height: 26px;
  }
  .head__left .links__item svg {
    width: 85%;
  }
  .head__left .links.head__left .links:nth-child(2) {
    margin-left: 20px;
  }
  .head__right_content {
    padding-bottom: 26px;
  }
  .head__logo {
    height: 97px;
  }
  .head__languages {
    font-size: 1.125rem;
  }
  .btn_menu {
    width: 52px;
    height: 52px;
  }
  .btn_menu svg {
    width: 21px;
  }
  .btn_social {
    width: 140px;
    height: 140px;
  }
  .nav-link {
    font-size: 1.125rem;
  }
  .foot__nav {
    width: 28%;
  }
  .foot__nav_link {
    font-size: 1.75rem;
  }
  .foot__contacts_addr {
    font-size: 1.125rem;
  }
  .foot__copy_nav_link {
    font-size: 0.875rem;
  }
  .scls__title {
    font-size: 22px;
  }
  .mobile__head .head .container {
    padding-bottom: 4px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 90px;
  }
  .mobile__nav_title {
    font-size: 2.625rem;
  }
  .mobile__body_cols {
    padding-top: 140px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(24px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs .container {
    padding-top: 145px;
  }
  .events {
    padding-top: 104px;
    padding-bottom: 140px;
  }
  .halls {
    height: 720px;
  }
  .news {
    padding-top: 180px;
  }
}
@media (max-width: 1440px) {
  .h2 {
    font-size: 4rem;
  }
  .h3 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .tag {
    font-size: 14px;
    padding: 6px 12px;
  }
  .date {
    font-size: 2.625rem;
    line-height: 1;
  }
  .date_xl {
    font-size: 4.75rem;
    letter-spacing: -2px;
  }
  .numbers {
    font-size: 8.75rem;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4rem;
  }
  .main_font {
    font-size: 1rem;
  }
  .time {
    font-size: 1.5rem;
  }
  .afisha {
    font-size: 0.75rem;
  }
  .container {
    max-width: 1344px;
  }
  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .depkult-logo {
    width: 155px;
  }
  .head .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .head .btn_menu {
    margin-right: -14px;
  }
  .head__left_content {
    gap: 70px;
    padding-bottom: 8px;
  }
  .head__left .links {
    gap: 1rem;
  }
  .head__left .links__list {
    gap: 1rem;
  }
  .head__left .links__item {
    width: 24px;
    height: 24px;
  }
  .head__left .links__item svg {
    width: 85%;
    height: 85%;
  }
  .head__left .links:nth-child(2) {
    margin-left: 0px;
  }
  .head__nav_list {
    gap: 32px;
  }
  .head__right_content {
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .head__logo {
    height: 85px;
    margin-left: -1.25rem;
  }
  .head__languages {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 21px 48px;
  }
  .btn_menu {
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .btn_menu svg {
    width: 19px;
    height: 14px;
  }
  .btn_slider {
    width: 64px;
    height: 64px;
  }
  .btn_social {
    width: 128px;
    height: 128px;
  }
  .btn_social svg {
    width: 20px;
  }
  .btn_social svg.tg {
    width: 15px;
  }
  .btn_slim {
    padding: 14px 40px;
  }
  .nav-link {
    font-size: 1rem;
  }
  .foot .container {
    padding-bottom: 40px;
  }
  .foot__left_content {
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .foot__right_content {
    padding-top: 32px;
    padding-bottom: 22px;
  }
  .foot__nav {
    width: 27%;
  }
  .foot__nav_list {
    gap: 16px;
  }
  .foot__nav_link {
    font-size: 1.5rem;
  }
  .foot__contacts_addr {
    font-size: 1rem;
  }
  .foot__copy {
    padding-top: 30px;
  }
  .foot__copy_text {
    max-width: 285px;
  }
  .foot__copy_nav_list {
    gap: 6px;
  }
  .foot__copy_nav_link {
    font-size: 0.75rem;
  }
  .scls {
    gap: 16px;
    margin-bottom: -17px;
  }
  .scls__title {
    max-width: 308px;
    font-size: 20px;
  }
  .tags {
    gap: 6px;
  }
  .mobile__head .container {
    padding-bottom: 8px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 22px;
  }
  .mobile__nav:nth-child(2) {
    margin-left: -24px;
  }
  .mobile__nav:nth-child(3) {
    margin-left: -18px;
  }
  .mobile__nav:nth-child(4) {
    margin-right: -24px;
  }
  .mobile__nav:nth-child(5) {
    margin-right: 0px;
  }
  .mobile__nav_title {
    font-size: 2.375rem;
    margin-bottom: 1.375rem;
  }
  .mobile__nav_list {
    gap: 16px;
  }
  .mobile__scls {
    gap: 8px;
  }
  .mobile__body_cols {
    padding-top: 120px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 24px;
  }
  .swiper-nav {
    gap: 8px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(22px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs {
    max-height: 800px;
  }
  .fs .container {
    padding-top: 126px;
    padding-bottom: 48px;
  }
  .fs__slide_icon {
    height: 85%;
  }
  .fs__slide_tags {
    gap: 8px;
  }
  .fs__slide_left {
    gap: 60px;
    width: calc((100% - 24px) / 24 * 13);
  }
  .fs__slide_desc {
    width: calc((100% - 36px) / 24 * 10);
  }
  .fs__slide_date {
    gap: 16px;
  }
  .fs__slide_date .day {
    font-size: 1.5rem;
  }
  .fs__slide_text .btn {
    margin-top: 48px;
  }
  .fs__slide_control {
    width: calc((100% - 36px) / 24 * 10);
  }
  .fs__content_slider .swiper-nav {
    gap: 8px;
  }
  .events {
    padding-top: 96px;
    padding-bottom: 123px;
  }
  .events__content_row {
    padding: 30px 0;
  }
  .events__title {
    margin-bottom: 57px;
  }
  .events__date {
    margin-top: 0.5rem;
    width: calc((100% - 75px) / 24 * 7);
  }
  .events__date .date_xl {
    line-height: 0.9;
  }
  .events__date .day {
    font-size: 1.5rem;
    line-height: 0.75;
  }
  .events__item {
    gap: 42px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .events__item_preview {
    width: calc((100% - 48px) / 17 * 6);
  }
  .events__item_info {
    width: calc((100% - 16px) / 17 * 10);
  }
  .events__item_time {
    gap: 8px;
  }
  .events__item_desc {
    width: 61%;
  }
  .events__more {
    margin-top: 3rem;
  }
  .halls {
    height: 640px;
  }
  .halls__slider_desc .swiper-nav {
    right: 48px;
    bottom: 40px;
    gap: 8px;
  }
  .halls__slide {
    padding: 63px 24px 42px 0;
  }
  .halls__slide_text {
    gap: 3rem;
  }
  .news {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .news__title {
    margin-bottom: 3rem;
  }
  .news__slide {
    padding-top: 1.5rem;
    gap: 35px;
  }
  .news__slide_date {
    gap: 1rem;
    margin-bottom: 30px;
  }
  .news__slide_preview {
    height: 250px;
  }
  .news__more {
    margin-top: 1.5rem;
  }
  .about {
    margin-bottom: 46px;
  }
  .about__title {
    align-items: center;
    margin-bottom: 76px;
  }
  .about__subtitle {
    font-size: 20px;
    width: calc((100% - 50px) / 24 * 8);
  }
  .about__nums {
    transform: translateY(-46%);
    padding: 51px 48px 0;
  }
  .about__nums_item {
    gap: 36px;
  }
  .about__nums_item:nth-child(2n) {
    gap: 54px;
  }
  .location {
    min-height: 800px;
    margin-bottom: 0;
  }
  .location__path {
    height: 100px;
  }
  .location__slides_btn {
    width: 138px;
    height: 138px;
  }
  .location__slides_icon {
    width: 334px;
    margin-bottom: 36px;
  }
  .location__ellipse {
    left: 48px;
  }
  .location__ellipse-sm {
    left: 48px;
  }
  .location__content {
    padding: 130px 0;
  }
  .location__content_top {
    margin-bottom: 10px;
  }
  .location__content_title {
    width: calc((100% - 45px) / 24 * 11);
  }
  .location__content_subtitle {
    font-size: 1.25rem;
  }
  .location__more {
    width: calc((100% - 64px) / 24 * 4);
  }
  .pagination_tabs {
    bottom: 40px !important;
  }
}