@media (max-width: 1650px) {
  h1,
  .h1,
  .text-content h1 {
    font-size: 9.125rem;
  }
  .h2 {
    font-size: 4.75rem;
  }
  .h3 {
    font-size: 3.625rem;
  }
  .numbers {
    font-size: 10.25rem;
  }
  .depkult-logo {
    width: 195px;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4.875rem;
  }
  .main_font {
    font-size: 1.25rem;
  }
  .text_content h6 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .text_content p {
    font-size: 1.25rem;
  }
  .text_content p:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .text_content ul {
    margin-top: 28px;
  }
  .text_content li {
    font-size: 1.25rem;
  }
  .desc_content p {
    font-size: 1.25rem;
    padding-left: 40px;
  }
  .desc_content blockquote {
    font-size: 1.25rem;
    padding-left: 40px;
  }
  .text_content mark {
    font-size: 1.25rem;
  }
  .head .btn_menu {
    margin-right: -16px;
  }
  .head__left_content {
    gap: 72px;
  }
  .head__left .links__list {
    gap: 1.25rem;
  }
  .head__left .links__item {
    width: 28px;
    height: 28px;
  }
  .head__left .links__item svg {
    width: 85%;
  }
  .head__left .links.head__left .links:nth-child(2) {
    margin-left: 20px;
  }
  .head__right_content {
    padding-bottom: 27px;
  }
  .head__logo {
    height: 101px;
  }
  .head__languages {
    font-size: 1.25rem;
  }
  .btn_menu {
    width: 56px;
    height: 56px;
  }
  .btn_menu svg {
    width: 22px;
  }
  .btn_social {
    width: 160px;
    height: 160px;
  }
  .btn_tab {
    font-size: 1.125rem;
  }
  .btn_filter {
    background: none;
    padding: 0;
    width: 81px;
    height: 81px;
  }
  .btn_filter:hover {
    background: var(--clr-black-5);
    -webkit-backdrop-filter: var(--bg-filter-blur);
            backdrop-filter: var(--bg-filter-blur);
    color: var(--clr-black);
  }
  .btn_filter:hover svg path {
    fill: var(--clr-black);
  }
  .btn_filter_icon {
    padding: 24px 42px;
    font-size: 1.25rem;
    width: auto;
    height: auto;
    gap: 16px;
  }
  .nav-link {
    font-size: 1.25rem;
  }
  .foot__nav {
    width: 29%;
  }
  .foot__nav_link {
    font-size: 1.875rem;
  }
  .foot__contacts_addr {
    font-size: 1.25rem;
  }
  .scls__title {
    font-size: 24px;
  }
  .mobile__head .head .container {
    padding-bottom: 6px;
  }
  .mobile__head .head__right_content {
    gap: 100px;
  }
  .mobile__nav_title {
    font-size: 2.875rem;
  }
  .mobile__body_cols {
    padding-top: 140px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(0);
  }
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs .container {
    padding-top: 160px;
  }
  .fs__date .day {
    font-size: 1.25rem !important;
  }
  .fs__event-title {
    margin-top: 72px;
    margin-bottom: 58px;
  }
  .fs__page-title {
    width: 60%;
  }
  .event {
    padding-top: 24px;
  }
  .events {
    padding-top: 116px;
    padding-bottom: 150px;
  }
  .events__nav_item {
    padding: 25px 28px 24px;
    font-size: 1.25rem;
  }
  .events__nav_tools {
    gap: 22px;
  }
  .events__pagination {
    gap: 74px;
  }
  .events__pagination_list {
    gap: 26px;
  }
  .events__pagination_item {
    padding: 7px;
    font-size: 1.25rem;
  }
  .events__filter.open {
    border-top: 1px solid rgb(219, 219, 219);
  }
  .events__filter_form {
    padding: 1.5rem 0;
  }
  .filter__form_fields {
    display: flex;
    flex-direction: column;
  }
  .filter__form_field {
    padding: 36px 0;
  }
  .filter__form_field .title {
    font-size: 1.25rem;
  }
  .filter__form_field_cols {
    display: flex;
    align-items: flex-end;
    gap: 24px;
    flex-wrap: wrap;
  }
  .filter__form_field_col {
    width: calc((100% - 52px) / 24 * 8);
    height: auto;
  }
  .filter__form_field_col:nth-child(2) {
    width: calc((100% - 52px) / 24 * 10);
  }
  .filter__form_field_col:last-child {
    width: calc((100% - 52px) / 24 * 6);
  }
  .filter__form_dropdown {
    margin-top: 1rem;
  }
  .filter__form .dropdown {
    padding: 20px;
  }
  .filter__form .dropdown__value {
    font-size: 1.25rem;
  }
  .filter__form .dropdown__value .values {
    gap: 12px;
  }
  .filter__form .dropdown__value .value {
    gap: 12px;
    padding: 5px 20px;
  }
  .filter__form .dropdown__value > .icon {
    display: flex;
    width: 32px;
    height: 32px;
    align-items: center;
    justify-content: center;
  }
  .filter__form .dropdown__list {
    padding: 20px;
    font-size: 1.25rem;
  }
  .filter__form_slider {
    gap: 20px;
    font-size: 1.25rem;
    padding: 25px 0;
  }
  .filter__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 38px;
  }
  .calendar__form_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  .calendar__form_events {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .calendar__months {
    display: flex;
    align-items: center;
    width: 240px;
    gap: 10px;
  }
  .calendar__months_slide {
    text-align: center;
  }
  .calendar__months .swiper_prev, .calendar__months .swiper_next {
    width: 24px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .calendar__months .swiper_prev svg path, .calendar__months .swiper_next svg path {
    transition: all 0.5s;
  }
  .calendar__months .swiper_prev:hover svg path, .calendar__months .swiper_next:hover svg path {
    stroke-opacity: 0.4;
  }
  .calendar__weekdays {
    width: 100%;
    display: grid;
    padding: 0.5rem 0;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
  }
  .calendar__days {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1.25rem 1rem;
  }
  .calendar__day {
    padding-top: 1rem;
    border-top: 1px solid rgb(219, 219, 219);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.5s;
  }
  .calendar__day:hover {
    color: var(--clr-black-40);
  }
  .calendar__day.no_events {
    color: rgb(219, 219, 219);
  }
  .calendar__day .events_num {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--clr-black-5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: all 0.5s;
  }
  .calendar__day input:checked + .events_num {
    background: var(--clr-black);
    color: var(--clr-white);
  }
  .halls {
    height: 780px;
  }
  .halls .dropdown {
    width: calc(100% - 64px) !important;
  }
  .news {
    padding-top: 200px;
  }
  .location__path {
    height: 100px;
  }
}
@media (max-width: 1550px) {
  h1,
  .h1,
  .text-content h1 {
    font-size: 8.25rem;
  }
  .h2 {
    font-size: 4.5rem;
  }
  .h3 {
    font-size: 3.325rem;
  }
  .text_content h6 {
    font-size: 1.125rem;
    margin-bottom: 1.125rem;
  }
  .text_content p {
    font-size: 1.125rem;
  }
  .text_content p:not(:last-child) {
    margin-bottom: 0.625rem;
  }
  .text_content ul {
    margin-top: 24px;
  }
  .text_content li {
    font-size: 1.125rem;
  }
  .desc_content p {
    font-size: 1.125rem;
    padding-left: 32px;
  }
  .desc_content blockquote {
    font-size: 1.125rem;
    padding-left: 32px;
  }
  .text_content mark {
    font-size: 1.125rem;
  }
  .tag {
    font-size: 16px;
  }
  .numbers {
    font-size: 9.75rem;
  }
  .depkult-logo {
    width: 170px;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4.5rem;
  }
  .main_font {
    font-size: 1.125rem;
  }
  .afisha {
    font-size: 0.875rem;
  }
  .head__left_content {
    gap: 68px;
  }
  .head__left .links__list {
    gap: 1.125rem;
  }
  .head__left .links__item {
    width: 26px;
    height: 26px;
  }
  .head__left .links__item svg {
    width: 85%;
  }
  .head__left .links.head__left .links:nth-child(2) {
    margin-left: 20px;
  }
  .head__right_content {
    padding-bottom: 26px;
  }
  .head__logo {
    height: 97px;
  }
  .head__languages {
    font-size: 1.125rem;
  }
  .btn_menu {
    width: 52px;
    height: 52px;
  }
  .btn_menu svg {
    width: 21px;
  }
  .btn_social {
    width: 140px;
    height: 140px;
  }
  .btn_filter {
    width: 69px;
    height: 69px;
    padding: 0;
  }
  .btn_filter_icon {
    width: auto;
    height: auto;
    padding: 21px 44px;
    font-size: 1.125rem;
    gap: 14px;
  }
  .nav-link {
    font-size: 1.125rem;
  }
  .foot__nav {
    width: 28%;
  }
  .foot__nav_link {
    font-size: 1.75rem;
  }
  .foot__contacts_addr {
    font-size: 1.125rem;
  }
  .foot__copy_nav_link {
    font-size: 0.875rem;
  }
  .scls__title {
    font-size: 22px;
  }
  .mobile__head .head .container {
    padding-bottom: 4px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 90px;
  }
  .mobile__nav_title {
    font-size: 2.625rem;
  }
  .mobile__body_cols {
    padding-top: 140px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(0);
  }
  input:checked + .slider:before {
    transform: translateX(24px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs .container {
    padding-top: 145px;
  }
  .fs__date .day {
    font-size: 1.125rem !important;
  }
  .fs__event-title {
    margin-top: 65px;
    margin-bottom: 52px;
  }
  .event {
    padding-top: 16px;
  }
  .event .h2 {
    font-size: 3.25rem;
  }
  .events {
    padding-top: 104px;
    padding-bottom: 140px;
  }
  .events__nav_item {
    padding: 23px 24px 21px;
    font-size: 1.125rem;
  }
  .events__nav_tools {
    gap: 22px;
  }
  .events__pagination {
    gap: 68px;
  }
  .events__pagination_list {
    gap: 22px;
  }
  .events__pagination_item {
    padding: 7px;
    font-size: 1.125rem;
  }
  .events__filter.open {
    border-top: 1px solid rgb(219, 219, 219);
  }
  .events__filter_form {
    padding: 1rem 0;
  }
  .filter__form_field {
    padding: 34px 0;
  }
  .filter__form_field .title {
    font-size: 1.125rem;
  }
  .filter__form_field_cols {
    gap: 24px;
  }
  .filter__form_field_col {
    width: calc((100% - 52px) / 24 * 8);
    height: auto;
  }
  .filter__form_field_col:nth-child(2) {
    width: calc((100% - 52px) / 24 * 11);
  }
  .filter__form_field_col:last-child {
    width: calc((100% - 52px) / 24 * 5);
  }
  .filter__form_dropdown {
    margin-top: 1rem;
  }
  .filter__form .dropdown {
    padding: 18px;
  }
  .filter__form .dropdown__value {
    font-size: 1.125rem;
  }
  .filter__form .dropdown__value .values {
    gap: 10px;
  }
  .filter__form .dropdown__value .value {
    gap: 10px;
    padding: 5px 20px;
  }
  .filter__form .dropdown__value > .icon {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
  .filter__form .dropdown__list {
    padding: 18px;
    font-size: 1.125rem;
  }
  .filter__form_slider {
    gap: 18px;
    font-size: 1.125rem;
    padding: 23px 0;
  }
  .filter__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    margin-top: 34px;
  }
  .halls {
    height: 720px;
  }
  .news {
    padding-top: 180px;
  }
}
@media (max-width: 1440px) {
  h1,
  .h1,
  .text-content h1 {
    font-size: 7.5rem;
  }
  .h2 {
    font-size: 4rem;
  }
  .h3 {
    font-size: 3rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  .section_pb_sm {
    padding-bottom: 2rem !important;
  }
  .text_content h6 {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .text_content p {
    font-size: 1rem;
  }
  .text_content p:not(:last-child) {
    margin-bottom: 0.5rem;
  }
  .text_content ul {
    margin-top: 25px;
  }
  .text_content li {
    font-size: 1rem;
  }
  .text_content li:not(:last-child) {
    margin-bottom: 18px;
  }
  .desc_content p {
    font-size: 1rem;
    padding-left: 0;
    line-height: 1.6;
    margin-bottom: 50px;
  }
  .desc_content blockquote {
    font-size: 1rem;
    padding-left: 24px;
    margin-left: -26px;
    line-height: 1.6;
  }
  .text_content mark {
    font-size: 1rem;
  }
  .tag {
    font-size: 14px;
    padding: 6px 12px;
  }
  .date {
    font-size: 2.625rem;
    line-height: 1;
  }
  .date_xl {
    font-size: 4.75rem;
    letter-spacing: -2px;
  }
  .numbers {
    font-size: 8.75rem;
  }
  .numbers_xl {
    font-size: 21rem;
  }
  .numbers_l {
    font-size: 5rem;
  }
  .numbers_xs {
    font-size: 3rem;
  }
  .numbers_sm {
    font-size: 4rem;
  }
  .menu_font {
    font-family: var(--font-title);
    font-size: 4rem;
  }
  .main_font {
    font-size: 1rem;
  }
  .time {
    font-size: 1.5rem;
  }
  .afisha {
    font-size: 0.75rem;
  }
  .container {
    max-width: 1344px;
  }
  .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
  .col {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  .info,
  .error {
    font-size: 1rem;
  }
  .info .icon,
  .error .icon {
    width: 1.75rem;
    height: 1.75rem;
  }
  .depkult-logo {
    width: 155px;
  }
  .head .container {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .head .btn_menu {
    margin-right: -14px;
  }
  .head__left_content {
    gap: 70px;
    padding-bottom: 8px;
  }
  .head__left .links {
    gap: 1rem;
  }
  .head__left .links__list {
    gap: 1rem;
  }
  .head__left .links__item {
    width: 24px;
    height: 24px;
  }
  .head__left .links__item svg {
    width: 85%;
    height: 85%;
  }
  .head__left .links:nth-child(2) {
    margin-left: 0px;
  }
  .head__nav_list {
    gap: 32px;
  }
  .head__right_content {
    padding-top: 12px;
    padding-bottom: 24px;
  }
  .head__logo {
    height: 85px;
    margin-left: -1.25rem;
  }
  .head__languages {
    font-size: 1rem;
  }
  .btn {
    font-size: 1rem;
    padding: 21px 48px;
  }
  .btn_menu {
    width: 48px;
    height: 48px;
    padding: 0;
  }
  .btn_menu svg {
    width: 19px;
    height: 14px;
  }
  .btn_slider {
    width: 64px;
    height: 64px;
  }
  .btn_social {
    width: 128px;
    height: 128px;
  }
  .btn_social svg {
    width: 20px;
  }
  .btn_social svg.tg {
    width: 15px;
  }
  .btn_slim {
    padding: 14px 40px;
  }
  .btn_tab {
    padding: 21px 36px;
  }
  .btn_filter {
    width: 64px;
    height: 64px;
    padding: 0;
  }
  .btn_filter_icon {
    width: auto;
    height: auto;
    padding: 20px 48px;
    font-size: 1rem;
    gap: 10px;
  }
  .nav-link {
    font-size: 1rem;
  }
  .foot .container {
    padding-bottom: 40px;
  }
  .foot__left_content {
    padding-top: 37px;
    padding-bottom: 30px;
  }
  .foot__right_content {
    padding-top: 32px;
    padding-bottom: 22px;
  }
  .foot__nav {
    width: 27%;
  }
  .foot__nav_list {
    gap: 16px;
  }
  .foot__nav_link {
    font-size: 1.5rem;
  }
  .foot__contacts_addr {
    font-size: 1rem;
  }
  .foot__copy {
    padding-top: 30px;
  }
  .foot__copy_text {
    max-width: 285px;
  }
  .foot__copy_nav_list {
    gap: 6px;
  }
  .foot__copy_nav_link {
    font-size: 0.75rem;
  }
  .scls {
    gap: 16px;
    margin-bottom: -17px;
  }
  .scls__title {
    max-width: 308px;
    font-size: 20px;
  }
  .tags {
    gap: 6px;
  }
  .mobile__head .container {
    padding-bottom: 8px;
  }
  .mobile__head .head__right_content {
    justify-content: flex-end;
    gap: 80px;
    padding-bottom: 22px;
  }
  .mobile__nav:nth-child(2) {
    margin-left: -24px;
  }
  .mobile__nav:nth-child(3) {
    margin-left: -18px;
  }
  .mobile__nav:nth-child(4) {
    margin-right: -24px;
  }
  .mobile__nav:nth-child(5) {
    margin-right: 0px;
  }
  .mobile__nav_title {
    font-size: 2.375rem;
    margin-bottom: 1.375rem;
  }
  .mobile__nav_list {
    gap: 16px;
  }
  .mobile__scls {
    gap: 8px;
  }
  .mobile__body_cols {
    padding-top: 120px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 24px;
  }
  .swiper-nav {
    gap: 8px;
  }
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    transform: translateX(0);
  }
  input:checked + .slider:before {
    transform: translateX(22px);
  }
  /* Rounded sliders */
  .slider.round {
    border-radius: 40px;
  }
  .fs_index {
    max-height: 800px;
  }
  .fs_index .container {
    padding-top: 126px;
    padding-bottom: 48px;
  }
  .fs__date .day {
    font-size: 1rem !important;
  }
  .fs__event-title {
    margin-top: 58px;
    margin-bottom: 46px;
  }
  .fs .container {
    padding-top: 124px;
    padding-bottom: 48px;
  }
  .fs__info {
    margin-bottom: 49px;
  }
  .fs__info_tags {
    margin-left: 0;
  }
  .fs__info_time {
    padding-left: 32px;
    gap: 10px;
    font-size: 0.875rem;
  }
  .fs__info_time .icon svg {
    width: 12px;
    height: 12px;
  }
  .fs__slide_icon {
    height: 85%;
  }
  .fs__slide_tags {
    gap: 8px;
  }
  .fs__slide_left {
    gap: 60px;
    width: calc((100% - 24px) / 24 * 13);
  }
  .fs__slide_desc {
    width: calc((100% - 36px) / 24 * 10);
  }
  .fs__slide_date {
    gap: 16px;
  }
  .fs__slide_date .day {
    font-size: 1.5rem;
  }
  .fs__slide_text .btn {
    margin-top: 48px;
  }
  .fs__slide_control {
    width: calc((100% - 36px) / 24 * 10);
  }
  .fs__content_slider .swiper-nav {
    gap: 8px;
  }
  .breadcrumbs {
    margin-bottom: 16px;
  }
  .breadcrumbs__item .back_link {
    gap: 16px;
  }
  .event {
    padding-top: 8px;
    padding-bottom: 22px;
  }
  .event .h2 {
    font-size: 3rem;
  }
  .event__aside {
    padding-top: 4px;
    gap: 38px;
  }
  .event__aside_date {
    padding-bottom: 34px;
  }
  .event__aside_date .day {
    font-size: 1rem !important;
  }
  .event__share_title {
    margin-bottom: 1.5rem;
  }
  .event__share_control {
    gap: 6px;
    flex-wrap: wrap;
  }
  .event__calendar_btn {
    margin-top: 274px;
  }
  .event__title {
    padding-bottom: 1.5rem;
  }
  .event__subtitle {
    width: calc((100% - 12px) / 17 * 10);
  }
  .event__section_row {
    padding: 23px 0;
  }
  .event__section_col {
    width: calc((100% - 12px) / 17 * 10);
  }
  .event__section_item:not(:last-child) {
    padding-bottom: 1rem;
  }
  .event__section_item:last-child {
    padding-top: 1rem;
  }
  .event__section_item:first-child {
    padding-top: 0;
  }
  .event__desc {
    padding: 64px 0;
  }
  .accordion__item {
    padding: 24px 0;
  }
  .accordion__content_desc {
    padding-top: 50px;
  }
  .accordion__content .text_content {
    padding: 65px 0 44px;
  }
  .accordion__content .text_content h5 {
    margin-top: 46px;
    margin-bottom: 1.75rem;
  }
  .accordion__content .text_content div {
    margin-bottom: 64px;
  }
  .events {
    padding-top: 96px;
    padding-bottom: 123px;
  }
  .events__content_row {
    padding: 30px 0;
  }
  .events__top {
    margin-bottom: 36px;
  }
  .events__title {
    margin-bottom: 57px;
  }
  .events__date {
    margin-top: 0.5rem;
    width: calc((100% - 75px) / 24 * 7);
  }
  .events__date .date_xl {
    line-height: 0.9;
  }
  .events__date .day {
    font-size: 1.5rem;
    line-height: 0.75;
  }
  .events__item {
    gap: 42px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .events__item_preview {
    width: calc((100% - 48px) / 17 * 6);
  }
  .events__item_info {
    width: calc((100% - 16px) / 17 * 10);
  }
  .events__item_time {
    gap: 8px;
  }
  .events__item_desc {
    width: 61%;
  }
  .events__more {
    margin-top: 3rem;
  }
  .events__nav_item {
    padding: 20px 20px 22px;
    font-size: 1rem;
  }
  .events__nav_tools {
    gap: 16px;
  }
  .events__pagination {
    gap: 56px;
  }
  .events__pagination_list {
    gap: 8px;
  }
  .events__pagination_item {
    padding: 7px;
    font-size: 1rem;
  }
  .events__filter.open {
    border-top: none;
  }
  .events__filter_form {
    padding: 0;
  }
  .filter__form_field {
    padding: 32px 0;
  }
  .filter__form_field:last-child {
    padding-bottom: 54px;
  }
  .filter__form_field .title {
    font-size: 1rem;
  }
  .filter__form_field_cols {
    gap: 24px;
  }
  .filter__form_field_col {
    width: calc((100% - 52px) / 24 * 8);
    height: auto;
  }
  .filter__form_field_col:nth-child(2) {
    width: calc((100% - 94px) / 24 * 11);
  }
  .filter__form_field_col:last-child {
    width: calc((100% - 52px) / 24 * 5);
  }
  .filter__form_dropdown {
    margin-top: 1rem;
  }
  .filter__form .dropdown {
    padding: 16px;
  }
  .filter__form .dropdown__value {
    font-size: 1rem;
  }
  .filter__form .dropdown__value .values {
    gap: 10px;
  }
  .filter__form .dropdown__value .value {
    gap: 10px;
    padding: 5px 20px;
  }
  .filter__form .dropdown__value > .icon {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
  }
  .filter__form .dropdown__value > .icon svg {
    width: 12px;
  }
  .filter__form .dropdown__list {
    padding: 16px;
    font-size: 1rem;
  }
  .filter__form_slider {
    gap: 16px;
    font-size: 1rem;
    padding: 23px 0;
  }
  .filter__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 34px;
  }
  .calendar__form {
    padding: 36px 0 30px;
  }
  .calendar__form_control {
    margin-bottom: 1rem;
  }
  .calendar__months {
    width: 215px;
  }
  .calendar__weekdays {
    padding: 0.25rem 0 0.5rem;
    grid-gap: 1.5rem;
  }
  .calendar__days {
    grid-gap: 1rem 1.5rem;
  }
  .calendar__day .events_num {
    width: 32px;
    height: 32px;
    font-size: 14px;
  }
  .halls {
    height: 640px;
  }
  .halls__slider_desc .swiper-nav {
    right: 48px;
    bottom: 40px;
    gap: 8px;
  }
  .halls__slide {
    padding: 63px 24px 42px 0;
  }
  .halls__slide_text {
    gap: 3rem;
  }
  .halls .dropdown {
    bottom: 40px !important;
  }
  .news {
    padding-top: 160px;
    padding-bottom: 160px;
  }
  .news__title {
    margin-bottom: 3rem;
  }
  .news__slide {
    padding-top: 1.5rem;
    gap: 35px;
  }
  .news__slide_date {
    gap: 1rem;
    margin-bottom: 30px;
  }
  .news__slide_preview {
    height: 250px;
  }
  .news__more {
    margin-top: 1.5rem;
  }
  .news__list .news__slide {
    padding: 1.5rem 0 2.375rem;
  }
  .about {
    margin-bottom: 46px;
  }
  .about__title {
    align-items: center;
    margin-bottom: 76px;
  }
  .about__subtitle {
    font-size: 20px;
    width: calc((100% - 50px) / 24 * 8);
  }
  .about__nums {
    transform: translateY(40%);
    padding: 51px 48px 0;
    left: -48px;
  }
  .about__nums_item {
    gap: 36px;
  }
  .about__nums_item:nth-child(2n) {
    gap: 54px;
  }
  .about__nums_text {
    width: 100px;
  }
  .about__desc {
    margin-top: 120px;
    padding: 40px 0;
    gap: 24px;
  }
  .about__desc_num {
    padding: 40px 0;
  }
  .about__desc_text p:not(:last-child) {
    margin-bottom: 2.5rem;
  }
  .location {
    min-height: 800px;
    margin-bottom: 0;
  }
  .location__path {
    height: 100px;
  }
  .location__slides_btn {
    width: 138px;
    height: 138px;
  }
  .location__slides_icon {
    width: 334px;
    margin-bottom: 36px;
  }
  .location__slides_icon .text {
    margin-top: 0;
  }
  .location__ellipse {
    left: 48px;
  }
  .location__ellipse-sm {
    left: 48px;
  }
  .location__content {
    padding: 130px 0;
  }
  .location__content_top {
    margin-bottom: 10px;
  }
  .location__content_title {
    width: calc((100% - 45px) / 24 * 11);
  }
  .location__content_subtitle {
    font-size: 1.25rem;
  }
  .location__more {
    width: calc((100% - 64px) / 24 * 4);
  }
  .pagination_tabs {
    bottom: 40px !important;
  }
  .description .festival__desc {
    padding: 56px 0 48px;
  }
  .description .festival__desc_title {
    width: calc((100% - 32px) / 24 * 19);
    gap: 40px;
    margin-bottom: 42px;
  }
  .description .festival__desc_text {
    padding-right: 48px;
    line-height: 1.6;
  }
  .description__sliders {
    margin-top: 0;
  }
  .history {
    padding-top: 115px;
  }
  .history__sliders {
    gap: 2.5rem 1.5rem;
  }
  .history__images_slider {
    width: calc((100% - 24px) / 24 * 12);
  }
  .history__desc {
    width: calc((100% - 24px) / 24 * 12);
  }
  .history__desc_slide {
    padding: 40px 76px 24px 0;
  }
  .history__desc_slide_content {
    width: 80%;
  }
  .history__desc_slide_content p:not(:last-child) {
    margin-bottom: 2rem;
  }
  .history__desc_title {
    margin-bottom: 162px;
  }
  .history__dates_slide {
    padding-top: 14px;
  }
}